<template>
    <div class="address-modal">
        <div class="content">
            <div class="title">
                <p>Add New Address</p>
            </div>
            <div class="form-block">
                <Group formHeader>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.name'
                                :error = 'validate.name'
                                placeholder = 'Address Name *'
                            />
                            <Validate
                                v-if = 'validate.name'
                                :text = 'validate.text_name'
                                :error = 'validate.name'
                            />
                        </LabelText>
                    </Group>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.line_1'
                                :error = 'validate.line_1'
                                placeholder = 'Address Line 1 *'
                            />
                            <Validate
                                v-if = 'validate.line_1'
                                :text = 'validate.text_line_1'
                                :error = 'validate.line_1'
                            />
                        </LabelText>
                    </Group>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.line_2'
                                placeholder='Address Line 2'
                            />
                        </LabelText>
                    </Group>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.city'
                                :text = 'validate.text_city'
                                placeholder='City *'
                            />
                        </LabelText>
                    </Group>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.zip_code'
                                :error = 'validate.zip_code'
                                placeholder = 'Zip *'
                            />
                            <Validate
                                v-if = 'validate.zip_code'
                                :text = 'validate.text_zip_code'
                                :error = 'validate.zip_code'
                            />
                        </LabelText>
                        <Label>
                            <SelectDropdown
                                v-model = 'form.state'
                                :error = 'validate.state'
                            >
                                <option value="" selected disabled>State *</option>
            	                <option value="60">Malaysia (+60)</option>
                            </SelectDropdown>
                            <Validate
                                v-if = 'validate.state'
                                :text = 'validate.text_state'
                                :error = 'validate.state'
                            />
                        </Label>
                    </Group>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.note'
                                placeholder = 'Notes (Gatecode, Guardhouse)'
                            />
                        </LabelText>
                    </Group>
                </Group>
                <br>
                <GroupButton>
                    <BtnButton name='Save' color='primary' pill size = 'medium' @click.native = "addAddress()"/>
                </GroupButton>
                <br>
                <Group>
                    <Validate
                        v-if = 'validate.general',
                        :text = 'validate.text_general'
                        :error = 'validate.general'
                        success
                    />
                </Group>
            </div>
        </div>
        <div class="background">
        </div>
    </div>
</template>

<script>
    import Label from './../../../../../Components/Form/Fieldset/Label.vue'
    import Name from './../../../../../Components/Form/Fieldset/Name.vue'
    import Group from './../../../../../Components/Form/Fieldset/Group.vue'
    import Placeholder from './../../../../../Components/Form/Fieldset/Placeholder.vue'
    import SelectDropdown from './../../../../../Components/Form/Select/Select.vue'
    import LabelText from './../../../../../Components/Form/Text/Label.vue'
    import InputText from './../../../../../Components/Form/Text/Input.vue'
    import GroupButton from './../../../../../Components/Button/Group.vue'
    import BtnButton from './../../../../../Components/Button/Button.vue'
    import Validate from './../../../../../Components/Form/Validate/Validate.vue'
    import axios from 'axios';

    export default {
        components : {
            Label,
            Name,
            Group,
            Placeholder,
            SelectDropdown,
            LabelText,
            InputText,
            Validate,

            GroupButton,
            BtnButton
        },

        data() {
            return {
                validate : {
                    name : false,
                    text_name : '',
                    line_1 : false,
                    text_line_1 : '',
                    zip_code : false,
                    text_zip_code : '',
                    city: '',
                    state : false,
                    text_state : '',

                    general : false,
                    text_general : '',
                }
            }
        },

        computed : {
            form () {
                return this.$store.getters.address;
            },
        },

        methods : {
            validation() {
                if(this.form.name === '') {
                    this.validate.name = true;
                    this.validate.text_name = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.name = false;
                    this.validate.text_name = '';
                }

                if(this.form.line_1 === '') {
                    this.validate.line_1 = true;
                    this.validate.text_line_1 = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.line_1 = false;
                    this.validate.text_line_1 = '';
                }

                if(this.form.city === '') {
                    this.validate.city = true;
                    this.validate.text_city = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.city = false;
                    this.validate.text_city = '';
                }

                if(this.form.zip_code === '') {
                    this.validate.zip_code = true;
                    this.validate.text_zip_code = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.zip_code = false;
                    this.validate.text_zip_code = '';
                }

                if(this.form.state === '') {
                    this.validate.state = true;
                    this.validate.text_state = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.state = false;
                    this.validate.text_state = '';
                }

                return true
            },

            onCancel() {
                let address = {
                    name: '',
                    line_1 : '',
                    line_2 : '',
                    zip_code : '',
                    state: '',
                    note: '',
                }

                this.$store.dispatch('updateStateObject', {
                    key : 'address',
                    value : address
                });
            },

            checkZipCode() {
                this.$emit('checkZipCode');
            },

            async addAddress() {
                if(!this.validation()) {
                    return
                } else {
                    let address_data = {
                        title: this.form.name, 
                        address: this.form.line_1 + ' ' + this.form.line_2, 
                        state: this.form.state, 
                        city: this.form.city, 
                        postal_code: this.form.zip_code
                    };

                    let token = localStorage.getItem('token');

                    try {
                        const response = await axios.post(
                            window.public_url + `/api/auth/add-address`, address_data,
                            {
                                headers: {
                                    "X-Requested-With": "XMLHttpRequest",
                                    "Authorization": "Bearer " + token,
                                    "Content-Type": "application/json"
                                },
                            }
                        );
                        let data = response.data;
                        if (data.status === "success"){
                            await this.$store.dispatch("loadAddresses");
                            let rowid = this.$store.getters.addresses.length - 1;
                            this.$store.commit("updateSelectedAddress", rowid);
                            this.checkZipCode();
                        }else{
                            alert(data.status.message);
                        }
                    } catch (error) {
                        // catches both errors
                    }

                }

            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../../config/config.scss';

    .modal-component {
        position: relative;
        @include background(#F8F8F8);
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 60px 20px;
        z-index: 1;
        width: 80%;
        margin: 0 auto;

        .title {
            @include fs(30);
            text-align: center;
            padding-bottom: 25px;
            font-weight: 600;
        }
    }
</style>
