<template>
    <div class="payment-modal">
        <div class="content">
            <div class="image">
                <img :src="public_url + '/frontend/img/deco/card-image.png'" alt="">
            </div>
            <div class="title">
                <p>Add New Credit Card</p>
            </div>
            <div class="subtitle">
                <p>Add a credit or debit card for a safer &amp; Faster checkout experience.</p>
            </div>
            <div class="form-block">
                <Group formHeader>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.name'
                                :error = 'validate.name'
                                placeholder = 'Name on card *'
                            />
                            <Validate
                                v-if = 'validate.name'
                                :text = 'validate.text_name'
                                :error = 'validate.name'
                            />
                        </LabelText>
                    </Group>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.number'
                                :error = 'validate.number'
                                placeholder = 'Card Number *'
                            />
                            <Validate
                                v-if = 'validate.number'
                                :text = 'validate.text_number'
                                :error = 'validate.number'
                            />
                        </LabelText>
                    </Group>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.exp_month'
                                :error = 'validate.exp_month'
                                placeholder = 'Expiry Month *'
                            />
                            <Validate
                                v-if = 'validate.exp_month'
                                :text = 'validate.text_exp_month'
                                :error = 'validate.exp_month'
                            />
                        </LabelText>
                        <LabelText>
                            <InputText
                                v-model = 'form.exp_year'
                                :error = 'validate.exp_year'
                                placeholder = 'Expiry Year *'
                            />
                            <Validate
                                v-if = 'validate.exp_year'
                                :text = 'validate.text_exp_year'
                                :error = 'validate.exp_year'
                            />
                        </LabelText>
                    </Group>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.cvc_code'
                                :error = 'validate.cvc_code'
                                placeholder = 'CVC *'
                            />
                            <Validate
                                v-if = 'validate.cvc_code'
                                :text = 'validate.text_cvc_code'
                                :error = 'validate.cvc_code'
                            />
                        </LabelText>
                        <LabelText>
                        </LabelText>
                    </Group>
                </Group>
                <br>
                <GroupButton>
                    <BtnButton name='Add Now' color='primary' pill size = 'medium' @click.native = "addCard()"/>
                </GroupButton>
                <div class="disclaimer">
                    <p>For your security, we will make verification transaction. It will be reversed automatically, and you will not be charged at this moment.</p>
                </div>
                <br>
                <Group>
                    <Validate
                        v-if = 'validate.general',
                        :text = 'validate.text_general'
                        :error = 'validate.general'
                        success
                    />
                </Group>
            </div>
        </div>
        <div class="background">
        </div>
    </div>
</template>

<script>
    import Label from './../../../../../Components/Form/Fieldset/Label.vue'
    import Name from './../../../../../Components/Form/Fieldset/Name.vue'
    import Group from './../../../../../Components/Form/Fieldset/Group.vue'
    import SelectDropdown from './../../../../../Components/Form/Select/Select.vue'
    import LabelText from './../../../../../Components/Form/Text/Label.vue'
    import InputText from './../../../../../Components/Form/Text/Input.vue'
    import GroupButton from './../../../../../Components/Button/Group.vue'
    import BtnButton from './../../../../../Components/Button/Button.vue'
    import Validate from './../../../../../Components/Form/Validate/Validate.vue'
    import axios from "axios";

    export default {
        components : {
            Label,
            Name,
            Group,
            SelectDropdown,
            LabelText,
            InputText,
            Validate,

            GroupButton,
            BtnButton
        },

        data() {
            return {
                validate : {
                    name : false,
                    text_name : '',
                    number : false,
                    text_number : '',
                    exp_month : false,
                    text_exp_month : '',
                    exp_year : false,
                    text_exp_year : '',
                    cvc_code : false,
                    text_cvc_code : '',

                    general : false,
                    text_general : '',
                }
            }
        },

        computed : {
            public_url () {
                return window.public_url;
            },

            form () {
                return this.$store.getters.payment;
            },
        },

        methods : {
            validation() {
                if(this.form.name === '') {
                    this.validate.name = true;
                    this.validate.text_name = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.name = false;
                    this.validate.text_name = '';
                }

                if(this.form.number === '') {
                    this.validate.number = true;
                    this.validate.text_number = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.number = false;
                    this.validate.text_number = '';
                }

                if(this.form.exp_month === '') {
                    this.validate.exp_month = true;
                    this.validate.text_exp_month = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.exp_month = false;
                    this.validate.text_exp_month = '';
                }

                if(this.form.exp_year === '') {
                    this.validate.exp_year = true;
                    this.validate.text_exp_year = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.exp_year = false;
                    this.validate.text_exp_year = '';
                }

                if(this.form.cvc_code === '') {
                    this.validate.cvc_code = true;
                    this.validate.text_cvc_code = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.cvc_code = false;
                    this.validate.text_cvc_code = '';
                }

                return true
            },

            onCancel() {
                let payment = {
                    name: '',
                    number: '',
                    exp_month: '',
                    exp_year: '',
                    cvc_code: '',
                }

                this.$store.dispatch('updateStateObject', {
                    key : 'payment',
                    value : payment
                });
            },

            addCard() {
                if(!this.validation()) {
                    return
                } else {

                    window.localStorage.setItem('redirect','https://' + window.location.hostname + '/frontend/consumer/order/checkout')

                    let fourDigit = this.form.number.slice(this.form.number.length-4, this.form.number.length)

                    axios.post('https://' + window.location.hostname + '/api/consumer/preauth-card-start', {
                        four_digits: fourDigit,
                        expiry_dates: this.form.exp_month + '/' + this.form.exp_year,
                        card_name: this.form.name
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
                            'Content-Type': 'application/json',
                        }
                    })
                        .then(function (response) {

                            window.location.href = response.data

                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../../config/config.scss';

    .modal-component {
        position: relative;
        @include background(#F8F8F8);
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 60px 20px;
        z-index: 1;
        width: 80%;
        margin: 0 auto;

        .image {
            width: 165px;
            padding-bottom: 10px;
            img {
                display: block;
                object-fit: cover;
                width: 100%;
            }
        }

        .title {
            @include fs(30);
            text-align: center;
            font-weight: 600;
        }

        .subtitle {
            @include fs(16);
            text-align: center;
            padding-bottom: 20px;
            @include color(#707070);
        }

        .disclaimer {
            @include fs(14);
            text-align: center;
            padding-top: 10px;
            @include color(#707070);
        }
    }
</style>
