<template>
    <div class="choose-modal modal-component">
        <div class="content">
            <div class="image">
                <img :src="public_url + '/frontend/img/deco/location-image.png'" alt="">
            </div>
            <div class="title">
                <p>Choose your delivery address</p>
            </div>
            <div class="address-wrapper">
                <div class="address-title">
                    <p>My Address</p>
                </div>
                <div class="address-block" v-if="userAddressList.length > 0">
                    <div class="data-loop" v-for="(address, index) in userAddressList" :key="address.id">
                        <Group direction = 'center'>
                            <LabelRadio>
                                <div class="radio">
                                    <input class='input input-radiobox' type="radio" v-model="selectedaddress" :value="index" />
                                    <RadioIcon />
                                </div>
                                <div class="address">
                                    <p>{{address.title}}</p>
                                    <p>{{address.address}},{{address.address2}}, {{address.postal_code}}, {{address.city}}, {{address.state}}</p>
                                </div>
                            </LabelRadio>
                        </Group>
                    </div>
                </div>
                <br>
                <div class="button-wrapper">
                    <GroupButton>
                        <BtnButton name='Continue' color='primary' pill size = 'medium' @click.native = "onSubmit()"/>
                    </GroupButton>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Group from './../../../../../Components/Form/Fieldset/Group.vue'
    import LabelRadio from './../../../../../Components/Form/Radiobox/Label.vue'
    import RadioIcon from './../../../../../Components/Form/Radiobox/Icon.vue'
    import GroupButton from './../../../../../Components/Button/Group.vue'
    import BtnButton from './../../../../../Components/Button/Button.vue'

    export default {
        components : {
            Group,
            LabelRadio,
            RadioIcon,
            GroupButton,
            BtnButton
        },
        // data() {
        //     return {
        //         selectedaddress: 0,
        //     }
        // },
        computed : {
            public_url () {
                return window.public_url;
            },
            userAddressList() {
                return this.$store.getters.addresses;
            },
            selectedaddress : {
                get: function () {
                    return this.$store.getters.selectedAddress;
                },
                set: function (newValue) {
                    this.$store.commit("updateSelectedAddress", newValue);
                }
            }
        },
        methods : {
            onSubmit() {
                this.$emit('selectedAddress');
                this.$store.commit("updateSelectedAddress", this.selectedaddress);
                return true
            }
        }

    }
</script>

<style lang="scss" scoped>
    @import './../../../../../config/config.scss';

    .modal-component {
        position: relative;
        @include background(#F8F8F8);
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: 100%;
        margin: 0 auto;

        .image {
            width: 100%;
            img {
                display: block;
                object-fit: cover;
                width: 100%;
            }
        }

        .title {
            @include fs(30);
            text-align: center;
            padding: 20px 0;
        }

        .address-wrapper {
            width: 80%;
            padding-bottom: 20px;
            display: flex;
            flex-flow: column nowrap;
            flex-direction: column;

            align-items: flex-start;
        }

        .address-title {
            @include fs(20);
            padding-bottom: 10px;
        }
        .button-wrapper {
            width: 100%;
        }
    }

    .data-loop {
        border-top: 1px solid;
        @include border(#dddddd);
        padding: 0 20px;
        @include fs(18);

        .radio {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }

        .address {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 40px);
        }
    }

</style>
