<template>
    <div class="choose-modal modal-component">
        <div class="content">
            <div class="image">
                <img :src="public_url + '/frontend/img/deco/location-image.png'" alt="">
            </div>
            <div class="title">
                <p>Opps, looks like your address not yet in our delivery area.</p>
            </div>
            <div class="subtitle">
                <p>You can now vote for your location to be added to our delivery area! Simply share your zip code below to place your vote.</p>
            </div>
            <div class="form-block">
                <Group formHeader>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.zip_code'
                                :error = 'validate.zip_code'
                                placeholder = 'Zip Code'
                            />
                            <Validate
                                v-if = 'validate.zip_code'
                                :text = 'validate.text_zip_code'
                                :error = 'validate.zip_code'
                            />
                        </LabelText>
                    </Group>
                </Group>
                <GroupButton>
                    <BtnButton name='Share' color='primary' pill size = 'medium' @click.native = "onSubmit()"/>
                </GroupButton>
                <br>
                <Group>
                    <Validate
                        v-if = 'validate.general',
                        :text = 'validate.text_general'
                        :error = 'validate.general'
                        success
                    />
                </Group>
            </div>
        </div>
    </div>
</template>

<script>
    import Label from './../../../../../Components/Form/Fieldset/Label.vue'
    import Name from './../../../../../Components/Form/Fieldset/Name.vue'
    import Group from './../../../../../Components/Form/Fieldset/Group.vue'
    import LabelText from './../../../../../Components/Form/Text/Label.vue'
    import InputText from './../../../../../Components/Form/Text/Input.vue'
    import GroupButton from './../../../../../Components/Button/Group.vue'
    import BtnButton from './../../../../../Components/Button/Button.vue'
    import Validate from './../../../../../Components/Form/Validate/Validate.vue'

    export default {
        components : {
            Label,
            Name,
            Group,
            LabelText,
            InputText,
            Validate,

            GroupButton,
            BtnButton
        },

        data() {
            return {
                validate : {
                    zip_code : false,
                    text_zip_code : '',

                    general : false,
                    text_general : '',
                }
            }
        },

        computed : {
            public_url () {
                return window.public_url;
            },

            form () {
                return this.$store.getters.zip;
            },
        },

        methods : {
            validation() {
                if(this.form.zip_code === '') {
                    this.validate.zip_code = true;
                    this.validate.text_zip_code = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.zip_code = false;
                    this.validate.text_zip_code = '';
                }
            },

            onCancel() {
                let zip = {
                    zip_code: '',
                }

                this.$store.dispatch('updateStateObject', {
                    key : 'zip',
                    value : zip
                });
            },

            onSubmit() {
                if(!this.validation()) {
                    return
                }
            }
        },

    }
</script>

<style lang="scss" scoped>
    @import './../../../../../config/config.scss';

    .modal-component {
        position: relative;
        @include background(#F8F8F8);
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: 100%;
        margin: 0 auto;

        .image {
            width: 100%;
            img {
                display: block;
                object-fit: cover;
                width: 100%;
            }
        }

        .title {
            width: 80%;
            @include fs(30);
            text-align: center;
            padding: 20px;
        }

        .subtitle {
            width: 80%;
            @include fs(16);
            text-align: center;
            padding: 20px;
            padding-top: 0;
            @include color(#707070);
        }

        .form-block {
            width: 100%;
            padding: 20px;
            padding-top: 0;

            @include media(sm-up) {
                width: 40%;
            }
        }
    }

</style>
