<template>
    <div class="banner-component hero" :class = "bannerClass">
        <div class="image">
            <img :src="public_url + banner.image" :alt="banner.title">
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            banner: Object,
            overlap: Boolean,
        },

        data() {
            return {
                isOverlap : this.overlap,
            }
        },

        computed : {
            public_url() {
                return window.public_url
            },

            bannerClass : function() {
                return {
                    'overlap' : this.isOverlap,
                }
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .banner-component {
        position: relative;
        width: 100%;
        &.overlap {
            margin-top: -88px;

            @include media(md-up) {
                margin-top: -115px;
            }
        }
    }

    .image {
        overflow: hidden;
        width: 100%;
        height: 100%;
        max-height: 480px;
        img{
            pointer-events: none;
            object-fit: contain;
            object-position: center;
        }
    }
</style>
