<template>
<!--    <a :href="route_url('frontend.consumer.contact.kitchen')" class="contact-block">-->
<!--        <img :src="public_url + '/frontend/img/icon/chat.png'" alt="Contact Us Icon">-->
<!--        <p>Contact Us</p>-->
<!--    </a>-->
</template>

<script>
    export default {
        computed : {
            public_url() {
                return window.public_url
            }
        },

        methods : {
            route_url(key) {
                return window.menu_routes[key]
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "./../../../config/config.scss";

    .contact-block {
        position: fixed;
        top: calc(50% - 25px);
        bottom: calc(50% - 25px);
        right: -115px;
        width: 280px;
        @include fs(26);
        @include background($primary-50);
        box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
        @include color($white);
        text-align: center;
        font-weight: 600;
        border-radius: 30px;
        padding: 5px 10px;

        transform: rotate(-270deg);
        transform-origin: center;
        @include trans-prop(background-color);

        &:hover {
            @include background($primary);
            @include trans-prop(background-color);
        }

        img {
            display: inline-block;
            vertical-align: middle;
            width: 35px;
            transform: rotate(-90deg);
            margin-top: -5px;
        }

        p {
            display: inline-block;
            vertical-align: middle;
            margin-left: 20px;
        }
    }
</style>
