<template>
    <div class="logo-block">
        <a :href="route_url(logo.url)">
            <img :src="public_url + logo.image" alt="logo.alt">
        </a>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                logo : {
                    url: 'frontend.home',
                    image: "/frontend/img/logo.png",
                    alt: "Lavo Cloud Kitchen",
                }
            }
        },

        computed : {
            public_url () {
                return window.public_url;
            }
        },

        methods : {
            route_url : function (key) {
                return window.menu_routes[key];
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import "./../../../config/config.scss";

    .logo-block {
        width: 100%;
        max-width: 130px;
        padding: 9px;
        @include media(xs-up) {
            max-width: 160px;
            padding: 20px;
        };

        @include trans-prop(max-width);
    }
</style>
