<template>
    <div class="navigation-block">
        <div class="navigation-menu">
            <div class="menu" v-if = "!is641">
                <a href="#">
                    <span>Menu</span>
                </a>
            </div>
            <div class="navigation">
                <a :href="route_url(data.url)" v-for = "data in navigation" :key = 'data.id' :class= "{ 'active' : is_current_route(data.url) }" class="navigation-link">
                    <span>{{ data.name }}</span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import Media from './../../../config/media.js'

    export default {
        extends: Media,

        data() {
            return {
                navigation : [
                    {
                        id: 1,
                        name: "Kitchen",
                        url: "frontend.chef",
                    },
                    {
                        id: 2,
                        name: "Food Delivery",
                        url: "frontend.consumer",
                    },
                    {
                        id: 3,
                        name: "About Us",
                        url: "frontend.about",
                    },
                    {
                        id: 4,
                        name: "Event",
                        url: "frontend.event",
                    },
                ]
            }
        },

        methods : {
            route_url(key) {
                return window.menu_routes[key]
            },

            is_current_route(key) {
                return window.menu_routes[key] === window.current_route;
            },
        },

        created() {
            this.checkMobile()
        }
    }
</script>

<style lang="scss" scoped>
    @import "./../../../config/config.scss";

    .navigation-menu {
        @include fs(22);
        font-weight: 600;
    }

    .navigation {

        &-link {
            margin-left: 30px;
            margin-right: 30px;

            &:hover, &.active {
                @include color(#BE2026);
                @include trans-prop(color);
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }

</style>
