<template>
    <div class="digit-component"
        @focus="eventFocus()" :id="id" tabindex="0">
        <input class="input-number" type="text" pattern="d*" maxlength="1"
            :value="value"
            @keyup="updateInput($event)"
            ref="text-input" :id="id" />
    </div>
</template>

<script>
    export default {
        props : {
            value : {
                type : String
            },
            id : {
                type : String
            }
        },
        methods : {
            updateInput (e) {
                this.$emit('input', e.target.value);
            },

            eventFocus() {
                this.$refs['text-input'].focus();
            }
        }
    }

</script>

<style lang="scss" scoped>
    .digit-component {
        position: relative;
        display: inline-block;
        border: 2px solid #dadada;
        margin-left: 3px;
        margin-right: 3px;
        border-radius: 2px;
        padding: 15px;
        background-color: #f8f8f8;
    }

    .input-number {
        color : #009600;
        font-size: 50px;
        background-color: #f8f8f8;
        border: 0;
        border-bottom: 0px solid transparent;
        text-align: center;
        width: 50px;
        outline: none;
        &:valid {
            border-bottom: 1px solid #dadada;
            &:focus {
                border-bottom: 1px solid #009600;
            }
        }
    }
</style>
