<template>
    <div class="wrapper-header">
        <div class="container">
            <div class="header">
                <Logo />
                <Navigation />
                <component :is="isAuthenticate" />
            </div>
        </div>
    </div>
</template>

<script>
    import Logo from './../Components/Logo.vue'
    import Navigation from './../Components/Navigation.vue'
    import Login from './Components/Login.vue'
    import Auth from './Components/Auth.vue'

    export default {
        components : {
            Logo,
            Navigation,
            Login,
            Auth
        },

        data() {
            return {
                auth: false,
            }
        },

        computed : {
            isAuthenticate() {
                return this.auth === true ? 'Auth' : 'Login'
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .header {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        flex-direction: row;
        align-items: center;
        z-index: 1;
    }

    .navigation-block {
        margin-left: auto;
    }
</style>
