<template>
    <div class="card-component event">
        <div class="content">
            <div class="image-wrapper">
                <img :src="public_url + data.image" alt="data.title">
            </div>
            <div class="text-wrapper">
                <div class="promo title">
                    <p>{{ data.title }}</p>
                </div>
                <div class="promo description">
                    <p>{{ data.description | truncate(150, '...') }}</p>
                </div>

                <div class="promo schedule">
                    <span>{{ data.date }}</span>
                    <span> | </span>
                    <span>{{ data.day }}</span>
                    <span> | </span>
                    <span>{{ data.time }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props : {
            data : Object,
        },

        computed : {
            public_url() {
                return window.public_url;
            }
        },

        filters: {
            truncate: function (text, length, suffix) {
                if (text.length > length) {
                    return text.substring(0, length) + suffix;
                } else {
                    return text;
                }
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import "./../../../../config/config.scss";

    .card-component {
        position: relative;
        border: 1px solid;
        @include border(#dddddd);
        @include background($white);
        box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
        z-index: 1;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: stretch;

        .image-wrapper {
            width: 100%;
            img {
                height: 100%;
                object-fit: cover;
            }
        }

        .text-wrapper {
            width: 100%;
            @include color($black);
            padding: 25px;
        }
    }

    .promo {
        &.title {
            @include fs(24);
            font-weight: 600;
            text-align: left;
        }

        &.description {
            @include fs(20);
            padding-bottom: 20px;
        }

        &.schedule {
            @include fs(20);
            font-weight: 600;
            padding-bottom: 20px;
            text-align: left;
        }
    }
</style>
