<template>
    <div class="dishes-block" :class="className(category)">
        <div class="title">
            <p>{{ category }}</p>
        </div>
        <div class="dishes-wrapper">
            <div class="dishes" v-for = 'data in dishes' :key = 'data.id'>
                <div class="image" v-if="data.image !== ''">
                    <img :src="public_url + data.image" :alt="data.name">
                </div>
                <div class="info">
                    <p class='name'>{{ data.name }}</p>
                    <p class='description' v-if="data.description !== ''">{{ data.description }}</p>
                    <p class='price co-primary'>{{ data.price | toFixed(2) | toMYR }}</p>
                </div>
                <div class="button-holder">
                    <button>
                        <i class='fas fa-plus'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props : {
        category: String,
        dishes: Array,
    },

    filters: {
        toFixed : function(price, limit) {
            return price.toFixed(limit);
        },

        toMYR : function(price) {
            return `MYR ${price}`;
        }
    },

    computed : {
        public_url() {
            return window.public_url;
        },
    },

    methods : {
        className(string) {
            return string.toLowerCase().replace(' ', '-');
        }
    }
}
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .dishes-block {
        padding-top: 20px;
        padding-bottom: 20px;

        .title {
            @include fs(32);
            line-height: 1.5;
            padding-bottom: 20px;
        }
    }

    .dishes-wrapper {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .dishes {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;

            width: calc(50% - 10px);
            height: inherit;
            border: 1px solid;
            @include border(#DDDDDD);
            @include background($white);
            box-shadow: 0 2px 3px rgba(0, 0, 0, .5);

            padding: 20px;
            margin-bottom: 20px;
        }

        .image {
            padding-right: 20px;
            width: 400px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .info {
            .name {
                @include fs(20);
                padding-bottom: 5px;
            }

            .description {
                @include fs(16);
                @include color(#707070);
                padding-bottom: 5px;
            }

            .price {
                @include fs(18);
            }
        }
    }

    .button-holder {
        position: absolute;
        right: 0;
        bottom: 20px;

        button {
            @include background($primary);
            @include color($white);
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            padding: 10px;
            border: none;
            outline: 0;
            cursor: pointer;
            z-index: 2;
            @include fs(12);
        }
    }

    .co-primary {
        @include color($primary)
    }

</style>
