<template>
    <div class="info-block">
        <div class="info-wrapper">
            <div class="title">
                <p>{{ data.restaurant_name }}</p>
            </div>
            <div class="rating">
                <div class="rating">
                    <img :src="public_url + '/frontend/img/icon/rating.png'" alt="rating hat">
                    <p> <span class='co-primary'>{{ data.rating }}</span> / {{ rating }}</p>
                </div>
            </div>
            <div class="categories">
                <ul>
                    <li v-for='(tag, i) in data.tag' :key='i'>{{ tag }}</li>
                </ul>
            </div>
        </div>
        <div class="chef-wrapper">
            <div class="image">
                <img :src="public_url + data.chef_image" :alt="data.chef_name">
            </div>
            <div class="chef">
                <p class='fancy'>
                    <span class='font-learning co-primary'>Our</span>
                    <span>Chef</span>
                </p>
                <p>{{ data.chef_name }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            data: Object,
            rating: {
                type: String,
                default: "5"
            }
        },

        computed : {
            public_url() {
                return window.public_url;
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .info-block {
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }

    .info-wrapper {
        .title {
            @include fs(32);
            line-height: 1.5;
        }

        .rating {
            @include fs(18);
            line-height: 1.5;
            img {
                display: inline-block;
                vertical-align: middle;
                width: 20px;
            }
            p {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .categories {
            @include color(#707070);
            @include fs(16);
            line-height: 1.5;
            ul {
                list-style: none;
                li {
                    position: relative;
                    display: inline-block;
                    list-style: none;

                    &:after {
                        content: '.';
                        display: inline-block;
                        margin-left: 2.5px;
                        margin-right: 2.5px;
                    }

                    &:last-child {
                        &:after {
                            content: none;
                        }
                    }
                }
            }
        }
    }

    .chef-wrapper {
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        align-items: center;

        .image {
            width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: 10px;
            margin-right: 5px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .chef {
            margin-left: 5px;

            @include color(#707070);

            .fancy {
                @include fs(22);
                line-height: 1;
                @include color($black);
            }
        }
    }

    .font-learning {
        font-family: $learningCurve;
    }

    .co-primary {
        @include color($primary)
    }
</style>
