<template>
    <div class="set-navigation-block">
        <div class="container">
            <ul>
                <li v-for = '(data, i) in navigation' :key = 'i'>
                    <a href="#" @click.prevent = "scrollto('.' + className(data.category))">
                        {{ data.category }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props : {
        navigation : Array,
    },

    methods : {
        className(string) {
            return string.toLowerCase().replace(' ', '-');
        },


        scrollto(element) {
            $('html, body').animate({
                scrollTop: $(element).offset().top - 115
            }, 200)
        },
    }
}
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .set-navigation-block {
        @include background(#ECEBEE);
        padding: 20px 0;
        margin-bottom: 20px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .5);

        ul{
            list-style: none;
            li {
                display: inline-block;
                @include fs(20);

                margin-left: 25px;
                margin-right: 25px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
</style>
