<template>
    <div class="menuhead-content">
        <div class="menuhead-banner">
            <img :src="food_info.cover_img_url" />
        </div>
        <div class="content-wrapper" id="sroll-menu">
            <div class="menuhead-info-summary">
                <div class="right">
                    <p class="name">
                        {{ food_info.title }}
                    </p>
                    <div class="rating">
                        <img
                            :src="public_url + '/frontend/img/icon/rating.png'"
                            alt="rating hat"
                        />
                        <p><span class="co-primary">{{food_info.rating}}</span>/5</p>
                    </div>
                    <p class="menu-tags">
<!--                        Fusion . Sarawak . NonHalal . Local-->
                        &nbsp;
                    </p>
                </div>
                <div class="left">
                    <Chefcard :data="{name: food_info.chef_name, image: food_info.chef_img_url}" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Chefcard from "./../Card/Chefcard.vue";

export default {
    components: {
        Chefcard
    },
    props: {
        food_info: Object
    },
    computed: {
        public_url() {
            return window.public_url;
        }
    },
    data() {
        return {
            menudetails: {
                banner: {
                    image: "https://via.placeholder.com/1493x459"
                },
                menu: {
                    name: "Nasi Lemak Murni"
                },
                chef: {
                    name: "Cik Murni",
                    image: "https://via.placeholder.com/100"
                }
            }
        };
    }
};
</script>

<style lang="scss" scoped>
@import "./../../../../config/config.scss";

.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.menuhead-info-summary {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    width: calc(100% - 100px);
    padding: 10px 20px;
    padding-bottom: 5px;
    .right {
        width: calc(100% - 80px);
    }
    .left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name {
        @include fs(40);
        padding-right: 10px;
        font-weight: 600;
    }

    .rating {
        img {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
        }
        p {
            @include fs(24);
            font-weight: 600;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .menu-tags {
        @include fs(18);
        text-align: left;
        color: #707070;
    }
}
.menuhead-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 420px;
    img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }
}
.co-primary {
    @include color($primary);
}
</style>
