<template>
    <div class="menubody-content">
        <div class="content-wrapper menumap">
            <div class="menubody-menu-map">
                <span
                    class="map-item"
                    v-for="setting in food_info.settings"
                    :key="setting.id"
                    >{{ setting.name }}</span
                >
            </div>
        </div>
        <div
            class="content-wrapper"
            v-for="setting in food_info.settings"
            :key="setting.id"
        >
            <div class="menubody-menu-type">
                <span class="map-item title">{{ setting.name }}</span>
                <div class="menu-option-list">
                    <div
                        class="menu-options"
                        v-for="data in setting.items"
                        :key="data.id"
                    >
                        <Menuoptioncard :setting="setting" :food="data" :food_info="food_info" :setting_id="setting.id" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Menuoptioncard from "../Card/Menuoptioncard.vue";

export default {
    props: {
        food_info: Object
    },
    components: {
        Menuoptioncard,
    },

};
</script>

<style lang="scss" scoped>
@import "./../../../../config/config.scss";

.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.menumap {
    background-color: #ecebee;
}
.menubody-menu {
    &-map {
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        width: calc(100% - 100px);
        padding: 18px 20px;
        .map-item {
            @include fs(23);
            padding-right: 60px;
            font-weight: 600;
        }
    }
    &-type {
        width: calc(100% - 100px);
        padding: 18px 20px;
        .map-item {
            @include fs(40);
            font-weight: 600;
        }
    }
}
.menu-option-list {
    display: flex;
    flex-wrap: wrap;
}
.menu-options {
    width: 50%;
}
</style>
