<template>
    <div class="cuisine-block">
        <div class="container">
            <FancyHeading fancy = 'All' text = 'Cuisine' />
            <Card stretch>
                <CardWrapper :card = "isData" v-for="(data, key) in cuisine" :key="key">
                    <CuisineCard :data = 'data' />
                </CardWrapper>
            </Card>
        </div>
    </div>
</template>

<script>
    import Media from './../../../config/media.js'
    import Card from './../../../Components/Card/Card.vue'
    import CardWrapper from './../../../Components/Card/Wrapper.vue'
    import FancyHeading from './../../../Components/Heading/Fancy.vue'
    import CuisineCard from './../../Components/Card/Cuisine.vue'
    import axios from 'axios';

    export default {
        extends : Media,
        components : {
            Card,
            CardWrapper,
            FancyHeading,
            CuisineCard,
        },

        data() {
            return {
                cuisine : null
            }
        },

        computed : {
            isData() {
                if(this.is1025) {
                    return 'one-quarter'
                } else if (this.is801) {
                    return 'one-third'
                } else if (this.is481) {
                    return 'half'
                }else {
                    return 'full'
                }
            }
        },

        created() {
            this.checkMobile();
            this.getCuisineList();
        },
        methods  : {
            getCuisineList() {
                axios.get(window.public_url + '/api/consumer/list-of-foods-w-summary-w-rating-w-price?num=8').then
                    (response => (this.cuisine = response.data.data.map(
                            function(row) {
                                return { id : row.id,
                                            name : row.name,
                                            description : row.food_desc,
                                            rating : row.rating,
                                            price : row.price,
                                            image : row.img_url,
                                            url : row.url
                                            }
                            })
                    ));
             },
         },
    }
</script>

<style lang="scss" scoped>
    @import "./../../../config/config.scss";

    .cuisine-block {
        padding-top: 20px;
        padding-bottom: 40px;
        border-top: 1px solid;
        @include border(#dadada);
    }
</style>
