<template>
    <div class="main-block">
        <Siema refer = 'banner' :page = 'page' carousel='banner' loop dot v-if="banner">
            <div class="siema-wrapper" v-for='data in banner'>
                <BannerCard :data = "data" />
            </div>
        </Siema>
    </div>
</template>

<script>
    import Media from './../../../config/media.js'
    import Card from './../../../Components/Card/Card.vue'
    import CardWrapper from './../../../Components/Card/Wrapper.vue'
    import FancyHeading from './../../../Components/Heading/Fancy.vue'
    import GroupButton from './../../../Components/Button/Group.vue'
    import LinkButton from './../../../Components/Button/Link.vue'
    import BannerCard from './../../Components/Card/Main.vue'
    import axios from 'axios';
    import Siema from './../../../Components/Carousel/Siema.vue'

    export default {
        extends : Media,
        
        components : {
            Card,
            CardWrapper,
            FancyHeading,
            GroupButton,
            LinkButton,
            BannerCard,

            Siema
        },

        data() {
            return {
                agile: {
                    autoplay: true,
                    autoplaySpeed: 5000,
                    speed: 2500,
                    dots: true,
                    navButtons: false,
                    pauseOnHover: true,
                    pauseOnDotsHover: false,
                },

                page : {
                    0 : 1
                },

                banner : null
            }
        },

        computed : {
            public_url() {
                return window.public_url
            }
        },

        created : function() {
            this.getBannerList();
        },

        methods  : {
            getBannerList() {
                axios.get('/api/consumer/hero-delivery-landing-page?num=5')
                    .then(response => (this.banner = response.data.data.map(function(row) {
                        return {
                            id : row.id,
                            name : row.name,
                            imageDesktop : row.img_url,
                            imageMobile : row.img_url,
                            url :row.url
                        }
                    })
                ));
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import "./../../../config/config.scss";

    .main-block {
        position: relative;
        border-top: 1px solid;
        @include border($primary);
    }

    .agile-wrapper {
        display: flex;
        flex-flow: row nowrap;
        flex-direction: row;
        justify-content: stretch;
        height: 100%;
    }
</style>
