<template>
    <div class="popular-block">
        <div class="container">
            <FancyHeading fancy = 'Most' text = 'Popular' />
        </div>
        <div class="container-fluid">
            <agile class='fluid' :options = 'agile' v-if="popular">
                <div class='agile-wrapper' v-for='data in popular'>
                    <PopularCard :data = "data" />
                </div>
                <template slot="prevButton">
                    <img :src="public_url + '/frontend/img/icon/carousel/left.png'" alt="">
                </template>
                <template slot="nextButton">
                    <img :src="public_url + '/frontend/img/icon/carousel/right.png'" alt="">
                </template>
            </agile>
        </div>
        <div class="container">
            <br>
            <br>
            <GroupButton>
                <LinkButton name = "View All" image="/frontend/img/icon/arrow-white.png" pill size='medium' color='primary' :link = "route_url('frontend.consumer.menulisting')"/>
            </GroupButton>
        </div>
    </div>
</template>

<script>
    import Media from './../../../config/media.js'
    import Card from './../../../Components/Card/Card.vue'
    import CardWrapper from './../../../Components/Card/Wrapper.vue'
    import FancyHeading from './../../../Components/Heading/Fancy.vue'
    import GroupButton from './../../../Components/Button/Group.vue'
    import LinkButton from './../../../Components/Button/Link.vue'
    import PopularCard from './../../Components/Card/Popular.vue'
    import axios from 'axios';

    export default {
        extends : Media,
        components : {
            Card,
            CardWrapper,
            FancyHeading,
            GroupButton,
            LinkButton,
            PopularCard
        },

        data() {
            return {
                agile: {
                    autoplay: true,
                    autoplaySpeed: 5000,
                    speed: 2500,
                    dots: false,
                    pauseOnHover: true,
                    pauseOnDotsHover: false,
                    responsive : [
                        {
                            breakpoint: 0,
                            settings : {
                                slidesToShow: 1,
                                navButtons: false,
                            }
                        },
                        {
                            breakpoint: 481,
                            settings: {
                                slidesToShow: 1,
                                navButtons: false,
                            }
                        },
                        {
                            breakpoint: 641,
                            settings: {
                                slidesToShow: 2,
                                navButtons: false,
                            }
                        },
                        {
                            breakpoint: 801,
                            settings: {
                                slidesToShow: 3,
                                navButtons: true,
                            }
                        },

                        {
                            breakpoint: 1025,
                            settings: {
                                slidesToShow: 4,
                                navButtons: true,
                            }
                        },
                    ]
                },

                popular : null
            }
        },

        computed : {
            public_url() {
                return window.public_url
            }
        },
        created : function() {
            this.getPopularList();
        },
        methods  : {
            route_url(key) {
                return window.menu_routes[key]
            },
            getPopularList() {
                axios.get('/api/consumer/list-of-foods-w-summary-w-rating-w-price?num=5').then
                    (response => (this.popular = response.data.data.map(
                            function(row) {


                                return { id : row.id,
                                            name : row.name,
                                            description : row.food_desc,
                                            rating : row.rating,
                                            price : row.price,
                                            image : row.img_url,
                                            url : row.url
                                            }
                            })
                    ));
             },
         },
    }
</script>

<style lang="scss" scoped>
    @import "./../../../config/config.scss";

    .popular-block {
        position: relative;
        padding-top: 20px;
        padding-bottom: 40px;
        border-top: 1px solid;
        @include border($primary);
        @include background(#ECEBEE);
    }

    .agile-wrapper {
        padding: 10px;
        display: flex;
        flex-flow: row nowrap;
        flex-direction: row;
        justify-content: stretch;
        height: 100%;
    }
</style>
