<template>
    <div class="promotions-block">
        <div class="container-fluid">
            <agile class='fluid' :options = 'agile' v-if="promotion">
                <div class='agile-wrapper' v-for='data in promotion'>
                    <PromotionCard :data = "data" />
                </div>
                <template slot="prevButton">
                    <img :src="public_url + '/frontend/img/icon/carousel/left.png'" alt="">
                </template>
                <template slot="nextButton">
                    <img :src="public_url + '/frontend/img/icon/carousel/right.png'" alt="">
                </template>
            </agile>
        </div>
    </div>
</template>

<script>
    import Media from './../../../config/media.js'
    import Card from './../../../Components/Card/Card.vue'
    import CardWrapper from './../../../Components/Card/Wrapper.vue'
    import PromotionCard from './../../Components/Card/Promotion.vue'
    import axios from 'axios';

    export default {
        extends : Media,
        components : {
            Card,
            CardWrapper,
            PromotionCard
        },

        data() {
            return {
                agile: {
                    autoplay: true,
                    autoplaySpeed: 5000,
                    speed: 2500,
                    dots: false,
                    pauseOnHover: true,
                    pauseOnDotsHover: false,
                    responsive : [
                        {
                            breakpoint: 0,
                            settings : {
                                slidesToShow: 1,
                                navButtons: false,
                            }
                        },
                        {
                            breakpoint: 481,
                            settings: {
                                slidesToShow: 1,
                                navButtons: false,
                            }
                        },
                        {
                            breakpoint: 641,
                            settings: {
                                slidesToShow: 2,
                                navButtons: false,
                            }
                        },
                        {
                            breakpoint: 801,
                            settings: {
                                slidesToShow: 3,
                                navButtons: true,
                            }
                        },

                        {
                            breakpoint: 1025,
                            settings: {
                                slidesToShow: 4,
                                navButtons: true,
                            }
                        },
                    ]
                },

                promotion : null
            }
        },

        computed : {
            public_url() {
                return window.public_url
            },
        },
        created : function() {
            this.getPromotionList();
        },
        methods  : {
             getPromotionList() {
                axios.get('/api/consumer/banner-delivery-landing-page?num=5').then
                    (response => (this.promotion = response.data.data));
             },
         },
    }
</script>

<style lang="scss" scoped>
    @import "./../../../config/config.scss";

    .promotions-block {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        @include background(#ECEBEE);
    }

    .agile-wrapper {
        padding: 10px;
        display: flex;
        flex-flow: row nowrap;
        flex-direction: row;
        justify-content: stretch;
        height: 100%;
    }
</style>
