<template>
    <div class="wrapper-content">
        <HeroBlock :banner = "hero_banner" size = "small"/>
        <ListBlock />
        <ButtonBlock />
    </div>
</template>

<script>
    import HeroBlock from './../../Components/Banner/Hero.vue'
    import ListBlock from './Components/List.vue'
    import ButtonBlock from './Components/Button.vue'

    export default {
        components : {
            HeroBlock,
            ListBlock,
            ButtonBlock,
        },

        data() {
            return {
                hero_banner : {
                    title : "Template Banner",
                    image : '/frontend/img/banner/banner-sample.png',
                }
            }
        }
    }
</script>
