<template>
    <div class="address-modal">
        <div class="content">
            <div class="title">
                <p>Add New Address</p>
            </div>
            <div class="form-block">

                <Group formHeader>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.name'
                                :error = 'validate.name'
                                placeholder = 'Address Name *'
                            />
                            <Validate
                                v-if = 'validate.name'
                                :text = 'validate.text_name'
                                :error = 'validate.name'
                            />
                        </LabelText>
                    </Group>
                    <Group>
                        <LabelText>

                            <InputText
                                id="myInput"
                                v-model = 'location'
                                :error = 'validate.line_1'
                                placeholder = 'Address Line 1 *'
                            />


                            <Validate
                                v-if = 'validate.line_1'
                                :text = 'validate.text_line_1'
                                :error = 'validate.line_1'
                            />
                        </LabelText>
                    </Group>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.line_2'
                                placeholder='Address Line 2'
                            />
                        </LabelText>
                    </Group>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.city'
                                placeholder='City'
                            />
                        </LabelText>
                    </Group>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.zip_code'
                                :error = 'validate.zip_code'
                                placeholder = 'Zip *'
                            />
                            <Validate
                                v-if = 'validate.zip_code'
                                :text = 'validate.text_zip_code'
                                :error = 'validate.zip_code'
                            />
                        </LabelText>
                        <Label>
                            <SelectDropdown
                                v-model = 'form.state'
                                :error = 'validate.state'
                            >
                                <option value="" selected disabled>State *</option>
            	                <option value="WP">Wilayah Persekutuan</option>
                            </SelectDropdown>
                            <Validate
                                v-if = 'validate.state'
                                :text = 'validate.text_state'
                                :error = 'validate.state'
                            />
                        </Label>
                    </Group>
                    <Group>
                        <LabelText>
                            <InputText
                                v-model = 'form.note'
                                placeholder = 'Notes (Gatecode, Guardhouse)'
                            />
                        </LabelText>
                    </Group>
                </Group>
                <br>
                <GroupButton>
                    <BtnButton name='Save' color='primary' pill size = 'medium' @click.native = "addAddress()"/>
                </GroupButton>
                <br>
                <Group>
                    <Validate
                        v-if = 'validate.general',
                        :text = 'validate.text_general'
                        :error = 'validate.general'
                        success
                    />
                </Group>
            </div>

        </div>
        <div class="background">
        </div>
    </div>
</template>

<script>
    import Label from './../../../../../Components/Form/Fieldset/Label.vue'
    import Name from './../../../../../Components/Form/Fieldset/Name.vue'
    import Group from './../../../../../Components/Form/Fieldset/Group.vue'
    import Placeholder from './../../../../../Components/Form/Fieldset/Placeholder.vue'
    import SelectDropdown from './../../../../../Components/Form/Select/Select.vue'
    import LabelText from './../../../../../Components/Form/Text/Label.vue'
    import InputText from './../../../../../Components/Form/Text/Input.vue'
    import GroupButton from './../../../../../Components/Button/Group.vue'
    import BtnButton from './../../../../../Components/Button/Button.vue'
    import Validate from './../../../../../Components/Form/Validate/Validate.vue'
    import axios from 'axios'
    import {hostname, protocol} from "../../Store/actions";
    import { store } from '../../Store/store'

    export default {
        components : {
            Label,
            Name,
            Group,
            Placeholder,
            SelectDropdown,
            LabelText,
            InputText,
            Validate,

            GroupButton,
            BtnButton
        },

        data() {
            return {

                location: '',
                searchResults: [],
                service: null,

                validate : {
                    name : false,
                    text_name : '',
                    line_1 : false,
                    text_line_1 : '',
                    zip_code : false,
                    text_zip_code : '',
                    state : false,

                    text_state : '',

                    general : false,
                    text_general : '',
                }
            }
        },

        metaInfo () {
            return {
                script: [{
                    src: `https://maps.googleapis.com/maps/api/js?key=AIzaSyC9ciir8FyuSNCm7JrCJk5d7xpOoNC2ghk&libraries=places`,
                    async: true,
                    defer: true,
                    callback: () => this.MapsInit() // will declare it in methods
                }]
            }
        },

        computed : {
            form () {
                return this.$store.getters.address;
            },
            credentials() {
                return this.$store.getters.credentials;
            }
        },

        methods : {

            MapsInit () {

                let myInput = document.getElementById("myInput");

                var myLoc = {
                    lat: 3.1305,
                    lng: 101.5951
                }

                var options = {
                    componentRestrictions: {country: 'my'}
                };

                this.service = new window.google.maps.places.Autocomplete(myInput, options)

                var circle = new google.maps.Circle(
                    {center: myLoc, radius: 5000});

                this.service.setFields(["address_components", "geometry", "icon", "name"])
                this.service.setBounds(circle.getBounds());
                this.service.setOptions({strictBounds: true})

            },



            validation() {
                if(this.form.name === '') {
                    this.validate.name = true;
                    this.validate.text_name = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.name = false;
                    this.validate.text_name = '';
                }

                if(this.form.line_1 === '') {
                    this.validate.line_1 = true;
                    this.validate.text_line_1 = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.line_1 = false;
                    this.validate.text_line_1 = '';
                }

                if(this.form.zip_code === '') {
                    this.validate.zip_code = true;
                    this.validate.text_zip_code = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.zip_code = false;
                    this.validate.text_zip_code = '';
                }

                if(this.form.state === '') {
                    this.validate.state = true;
                    this.validate.text_state = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.state = false;
                    this.validate.text_state = '';
                }

                return true
            },

            onCancel() {
                let address = {
                    name: '',
                    line_1 : '',
                    line_2 : '',
                    zip_code : '',
                    state: '',
                    note: '',
                }

                this.$store.dispatch('updateStateObject', {
                    key : 'address',
                    value : address
                });
            },

            addAddress() {
                if(!this.validation()) {

                    return

                } else {

                    var address_data = {
                        title: this.form.name, address: this.form.line_1 + ' ' + this.form.line_2, state: this.form.state, city: this.form.city, postal_code: this.form.zip_code
                    };

                    let token = localStorage.getItem('token');

                    var config = {
                        method: 'post',
                        url:  protocol + '//' + hostname +'/api/auth/add-address',
                        headers: {
                            'X-Requested-With' : 'XMLHttpRequest',
                            'Authorization' : 'Bearer ' + token,
                            'Content-Type' : 'application/json',
                        },
                        data: address_data
                    };

                    axios(config)
                        .then( (response) => {
                            store.commit('updateAddresses', response.data.data);
                            this.$emit('addressModelEvent');
                            this.clearField();
                        })
                        .catch(function (error) {
                            console.log(error);
                        });


                }
            },
            clearField() {
                this.form.name= ''
                this.form.line_1= ''
                this.form.line_2= ''
                this.form.zip_code= ''
                this.form.state= ''
                this.form.note= ''
            }
        },

    }
</script>

<style lang="scss" scoped>
    @import './../../../../../config/config.scss';

    .modal-component {
        position: relative;
        @include background(#F8F8F8);
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 60px 20px;
        z-index: 1;
        width: 80%;
        margin: 0 auto;

        .title {
            @include fs(30);
            text-align: center;
            padding-bottom: 25px;
            font-weight: 600;
        }
    }
</style>
