<template>
    <div class="wrapper-header">
        <div class="container">
            <div class="header">
                <Logo />
                <Navigation />
            </div>
        </div>
    </div>
</template>

<script>
    import Logo from './../Components/Logo.vue'
    import Navigation from './../Components/Navigation.vue'

    export default {
        components : {
            Logo,
            Navigation
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .wrapper-header {
        z-index: 1;
        background: linear-gradient(to bottom, rgba(255,255,255,.8) 0%,rgba(255,255,255,0) 100%);
    }

    .header {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        flex-direction: row;
        align-items: center;
        z-index: 1;
    }

    .navigation-block {
        margin-left: auto;
    }
</style>
