<template>
    <div class="order-component">
        <div class="title">
            <p>Your Order</p>
        </div>
        <div class="order-history">
            <div class="order-block" v-for='data in order'>
                <div class="restaurant-title">
                    <span>{{ data.name }}</span>
                </div>
                <div class="restaurant-order">
                    <div class="order-property">
                        <div class="image">
                            <img :src="public_url + '/frontend/img/cuisine/thumbnail.png'" alt="Nasi Lemak Biasa">
                        </div>
                        <div class="name-price">
                            <div class="name-quantity">
                                <p class='name'>{{  data.settings.name }}</p>
                                <p class='quantity'>x{{  data.settings.quantity  }}</p>
                            </div>
                            <p class="co-primary price">{{ data.settings.total_price | toFixed(2) | toMYR }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        computed : {
            public_url() {
                return window.public_url;
            }
        },

        data() {

            return {
                order : null
            }


        },

        mounted() {
            let token = window.localStorage.getItem("token")

            var url_string = window.location.href; //window.location.href
            var url = new URL(url_string);
            var get_order_id = url.searchParams.get("id");

            axios
                .get(window.location.protocol +'//'+window.location.hostname+'/api/consumer/order-details?order_id=' + get_order_id, {
                    headers: {
                        'Authorization': 'Bearer ' + token,
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                })
                .then((response) => {
                    this.order = response.data.data
                    // console.log(response.data.data)
                })
                .catch(error => {

                });
        },

        filters: {
            toFixed : function(price, limit) {
                return price.toFixed(limit);
            },

            toMYR : function(price) {
                return `MYR ${price}`;
            },

            toNegative : function(price) {
                return `- ${price}`;
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .order-component {
        position: relative;
        border: 1px solid;
        @include border(#DDDDDD);
    }

    .title {
        @include background($primary);
        padding: 10px 20px;
        @include fs(20);
        @include color($white);
    }

    .order-history {
        padding: 20px;
        height: 600px;
        overflow: auto;
        margin-bottom: 20px;
        &:not(:last-child) {
            border-bottom: 1px solid;
            @include border(#DDDDDD);
        }

        .restaurant-title {
            @include fs(18);
            padding-bottom: 10px;
            height: inherit;
        }

        .restaurant-order {
            display: flex;
            flex-direction: column;
            flex-flow: column wrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: inherit;
        }
    }

    .order-property {
        width: calc(100%);
        height: inherit;
        @include background($white);
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid;
        @include border(#DDDDDD);
        box-shadow: 0 2px 3px rgb(0, 0, 0, .5);
        .image {
            width: 100px;
            padding-right: 20px;
        }

        .name-price {
            display: flex;
            flex-direction: row;
            flex-flow: row nowrap;
            justify-content: space-between;
            @include fs(14);
            width: calc(100% - 120px);

            .name {
                padding-bottom: 10px;
            }
        }
    }

    .co-primary {
        @include color($primary);
    }

</style>
