<template>
    <div class="modal-component login">
        <div class="content">
            <div class="title">
                <p>Login to continue with checkout</p>
            </div>
            <div class="button-block">
                <a href="/auth/facebook" class='button facebook'>
                    <span>Login with Facebook</span>
                </a>
                <a href="#" class='button mobile' @click.prevent = "login_mobile">
                    <span>Login with Mobile Number</span>
                </a>
            </div>
            <div class="term-block">
                <p>We’ll never share your personal information with anyone. By creating an account, you agree to accept Lavo Cloud Kitchen’s <a :href="route_url('frontend.consumer.term')" class='co-primary'>Terms of Use</a> and <a :href="route_url('frontend.consumer.privacy')" class='co-primary'>Privacy Pollicy</a>.</p>
            </div>
            <div class="register-block">
                <a :href="route_url('frontend.register')" class='co-primary'>
                    Don't have account yet?
                </a>
            </div>
        </div>
        <div class="background">
            <img :src="public_url + '/frontend/img/deco/login-image.png'">
        </div>
    </div>
</template>

<script>
    export default {
        components : {

        },

        computed: {
            public_url() {
                return window.public_url
            }
        },

        methods: {
            route_url(key) {
                return window.menu_routes[key]
            },

            login_mobile() {
                this.$emit('loginMobile')
            },


        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../../config/config.scss';

    .modal-component {
        position: relative;
        @include background(#F8F8F8);
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 60px 20px;
        z-index: 1;

        @include media(sm-up) {
            padding: 60px 20px 120px;
        }

        .title {
            @include fs(30);
            text-align: center;
            padding-bottom: 40px;
            font-weight: 600;
        }

        .button-block {
            width: 100%;
            max-width: 340px;
            padding-bottom: 40px;

            a{
                display: block;
                width: 100%;
                text-align: center;
                @include fs(18);
                padding: 14px;
                border: 1px solid;
                @include border(#dadada);
                font-weight: 600;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                &.facebook {
                    @include background(#4267B3, .8);
                    @include color($white);
                    @include trans-prop(background-color);

                    &:hover {
                        @include background(#4267B3);
                        @include trans-prop(background-color);
                    }
                }

                &.mobile {
                    @include background($white);
                    @include color($black);
                    @include trans-prop(background-color);

                    &:hover {
                        @include background($black);
                        @include color($white);
                        @include trans-prop(background-color);
                    }
                }
            }
        }

        .term-block {
            text-align: center;
            width: 100%;
            max-width: 480px;
            @include fs(16);
            @include color(#707070);
            padding-bottom: 20px;

            a{
                text-decoration: underline;
            }
        }

        .register-block {
            text-align: center;
            @include fs(16);
            font-weight: 600;
            a{
                text-decoration: underline;
            }
        }
    }

    .background {
        display: none;
        width: 300px;
        margin-left: auto;
        pointer-events: none;
        user-select: none;
        position: absolute;
        bottom: 0;
        right: 0;
        img{
            object-fit: cover;
            object-position: bottom;
        }

        @include media(sm-up) {
            display: block;
        }
    }

    .co-primary {
        @include color($primary);
    }

</style>
