<template>
    <div class="modal-component login">
        <div class="content">
            <div class="title">
                <p>{{notification.title}}</p>
            </div>
            <div class="term-block">
                <p>{{notification.message}}</p>
            </div>

            <GroupButton>
                <LinkButton name='Close' color='primary' pill size='small' @click.native = "closeMessage" />
            </GroupButton>
        </div>
        <div class="background">
            <img :src="public_url + '/frontend/img/deco/login-image.png'">
        </div>
    </div>
</template>

<script>
    import LabelForm from './../../../../../Components/Form/Fieldset/Label.vue'
    import NameForm from './../../../../../Components/Form/Fieldset/Name.vue'
    import GroupForm from './../../../../../Components/Form/Fieldset/Group.vue'
    import PlaceholderForm from './../../../../../Components/Form/Fieldset/Placeholder.vue'
    import SelectForm from './../../../../../Components/Form/Select/Select.vue'
    import LabelTextForm from './../../../../../Components/Form/Text/Label.vue'
    import InputTextForm from './../../../../../Components/Form/Text/Input.vue'
    import GroupButton from './../../../../../Components/Button/Group.vue'
    import LinkButton from "./../../../../../Components/Button/Link.vue";
    import BtnButton from './../../../../../Components/Button/Button.vue'

    export default {
        components : {
            LabelForm,
            NameForm,
            GroupForm,
            PlaceholderForm,
            SelectForm,
            LabelTextForm,
            InputTextForm,
            GroupButton,
            BtnButton,
            LinkButton
        },

        props : {
            notification : {
                type : Object,
            }
        },

        computed: {
            public_url() {
                return window.public_url
            }
        },

        methods: {
            route_url(key) {
                return window.menu_routes[key];
            },
            closeMessage() {
                this.$emit('closeNotificationAlert');
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../../config/config.scss';

    .modal-component {
        position: relative;
        @include background(#F8F8F8);
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 60px 20px;
        z-index: 1;

        @include media(sm-up) {
            padding: 60px 20px 120px;
        }

        .title {
            @include fs(30);
            text-align: center;
            padding-bottom: 20px;
            font-weight: 600;
        }

        .term-block {
            text-align: center;
            width: 100%;
            max-width: 480px;
            @include fs(16);
            @include color(#707070);
            padding-bottom: 20px;

            a{
                text-decoration: underline;
            }
        }

        .form-block {
            width: 100%;
            max-width: 340px;
            padding-bottom: 20px;

            ::v-deep select{
                @include fs(20);
                padding: 10px 20px;
            }

            .input{
                @include fs(20);
                padding: 10px 20px;
                width: 100%;
                border: 1px solid;
                border-radius: 2px;
                outline: none;

                @include border($grey-50);

                &::placeholder {
                    font-family: $dDin;
                    font-weight: 300;
                    @include fs(20);
                    @include color(#959595);
                }
            }

            ::v-deep .form-group {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .background {
        display: none;
        width: 300px;
        margin-left: auto;
        pointer-events: none;
        user-select: none;
        position: absolute;
        bottom: 0;
        right: 0;
        img{
            object-fit: cover;
            object-position: bottom;
        }

        @include media(sm-up) {
            display: block;
        }
    }

    .co-primary {
        @include color($primary);
    }

</style>
