<template>
    <div class="modal-component login">
        <div class="content">
            <div class="title">
                <p>Login with Mobile</p>
            </div>
            <div class="term-block">
                <p>Please key in the code send via SMS within the next five (5) minutes.</p>
            </div>
            <div class="form-block">
                <PhoneDigit :id="'input1'" ref="input1" @input="focusNextInput($event, 'input2')" v-model="firstDigit" />
                <PhoneDigit :id="'input2'" ref="input2" @input="focusNextInput($event, 'input3')" v-model="secondDigit" />
                <PhoneDigit :id="'input3'" ref="input3" @input="focusNextInput($event, 'input4')" v-model="thirdDigit" />
                <PhoneDigit :id="'input4'" ref="input4" @input="focusNextInput($event, '')" v-model="fourthDigit" />
            </div>
            <div class="countdown-block">
                <p v-if='timing === 0'>Did not receive the SMS? <a href="#" class='co-primary' @click.prevent="requestTAC()">Send New Code</a> </p>
                <p v-else>You can resend in {{ timing }} seconds. <span class='deco-tag'>Send New Code</span></p>
            </div>
            <GroupButton>
                <BtnButton name='Continue' color='primary' pill size = 'medium' @click.native = "verification"/>
            </GroupButton>
        </div>
    </div>
</template>

<script>
    import GroupButton from './../../../../../Components/Button/Group.vue'
    import BtnButton from './../../../../../Components/Button/Button.vue'
    import PhoneDigit from './../../../Components/PhoneDigit.vue'

    export default {
        components : {
            GroupButton,
            BtnButton,
            PhoneDigit,
        },

        props : {

            startCountdown : {
                type : Boolean,
                required : true
            },
            resetCountdown : {
                type : Boolean,
            }
        },

        data() {
            return {
                form : {
                    mobileCountryCode: '60',
                },
                timing: 50,
                firstDigit : '',
                secondDigit : '',
                thirdDigit : '',
                fourthDigit : '',
            }
        },

        computed: {
            public_url() {
                return window.public_url
            }
        },

        watch : {
            startCountdown : function (newValue) {
                if (newValue) {
                    setInterval(() =>  this.countdown(), 1000);
                }
            },

            resetCountdown : function (newValue) {
                if(newValue) {
                    this.timing = 50;
                }
            }
        },

        methods: {
            countdown () {
                if (this.timing > 0) {
                    this.timing--;
                }
            },

            focusNextInput : function(e, inputData) {

                if (!this.$refs[inputData]) {
                    return;
                }

                this.$refs[inputData].$el.focus();
            },

            requestTAC() {
                 this.timing = 50;
            },

            verification() {
                this.$emit('verification')
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../../config/config.scss';

    .modal-component {
        position: relative;
        @include background(#F8F8F8);
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 60px 20px;
        z-index: 1;

        .title {
            @include fs(30);
            text-align: center;
            padding-bottom: 40px;
            font-weight: 600;
        }

        .term-block {
            text-align: center;
            width: 100%;
            max-width: 480px;
            @include fs(16);
            @include color(#707070);
            padding-bottom: 20px;

            a{
                text-decoration: underline;
            }
        }

        .form-block {
            padding-bottom: 20px;
        }

        .countdown-block {
            width: 100%;
            max-width: 340px;
            padding-bottom: 20px;
            text-align: center;

            @include fs(16);
            @include color(#707070);

            a, .deco-tag {
                text-decoration: underline;
            }
        }
    }

    .background {
        display: none;
        width: 300px;
        margin-left: auto;
        pointer-events: none;
        user-select: none;
        position: absolute;
        bottom: 0;
        right: 0;
        img{
            object-fit: cover;
            object-position: bottom;
        }

        @include media(sm-up) {
            display: block;
        }
    }

    .co-primary {
        @include color($primary);
    }

</style>
