<template>
    <div class="wrapper-content">
        <div v-if="hero_banner != null" class="banner-component hero">
            <div class="image">
                <img :src="this.hero_banner[0].image" alt="banner.title" />
            </div>
        </div>
        <FilterBar />
        <div class="main-container">
            <div class="content-main">
                <Listingresult :basketstate="basketstate" />
            </div>
            <div class="content-side" :class="sidebarstatus">
                <Orderbasket />
            </div>
        </div>
    </div>
</template>

<script>
import FilterBar from "../../Components/Filterbar/Filterbar.vue";
import CuisineBlock from "../Index/Components/Cuisine.vue";
import Listingresult from "./Components/Listingresult.vue";
import Orderbasket from "../Components/Orderbasket/Orderbasket.vue";
import axios from "axios";

export default {
    components: {
        FilterBar,
        CuisineBlock,
        Listingresult,
        Orderbasket
    },
    data() {
        return {
            hero_banner: null,
            sidebarstatus: ""
        };
    },
    computed: {
        public_url() {
            return window.public_url;
        },
        basketstate() {
            return this.$store.getters.basketState;
        }
    },
    created() {
        this.getHeroImage();
        this.changebasketstate(this.basketstate);
        this.$root.$on("hideBasket", basketstate => {
            this.changebasketstate();
        });
    },
    methods: {
        async getHeroImage() {
            await axios
                .get(
                    window.public_url +
                        `/api/consumer/hero-delivery-landing-page?num=1`
                )
                .then(response => {
                    this.hero_banner = response.data.data.map(function(row) {
                        return {
                            id: row.id,
                            image: row.img_url,
                            url: row.url
                        };
                    });
                });
        },
        changebasketstate() {
            this.sidebarstatus = this.basketstate === "active" ? "" : "hide";
        }
    }
};
</script>

<style lang="scss" scoped>
@import "./../../config/config.scss";

.banner-component {
    position: relative;
    width: 100%;
    &.overlap {
        margin-top: -88px;

        @include media(md-up) {
            margin-top: -115px;
        }
    }
}

.image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 540px;
    img {
        pointer-events: none;
        object-fit: cover;
        object-position: top center;
    }
}

.main-container {
    display: flex;
}
.content-side {
    display: block;
    width: 480px;
    border: 1px solid #dddddd;
    opacity: 1;
}
.hide {
    display: none;
}
.content-main {
    width: 100%;
}
</style>
