<template>
    <div class="cuisine-block">
        <div class="container">
            <Card stretch>
                <CardWrapper
                    :card="isData"
                    v-for="(data, key) in cuisine"
                    :key="key"
                >
                    <CuisineCard :data="data" />
                </CardWrapper>
            </Card>
            <div class="footer-container">
                <h1 class="head-title">
                    Can’t find what you’re looking for?
                </h1>
                <GroupButton>
                    <LinkButton
                        name="View All Cuisines"
                        image="/frontend/img/icon/arrow-white.png"
                        pill
                        size="small"
                        color="primary"
                        link="https://www.google.com"
                    />
                </GroupButton>
            </div>
        </div>
    </div>
</template>

<script>
import Media from "./../../../config/media.js";
import Card from "./../../../Components/Card/Card.vue";
import CardWrapper from "./../../../Components/Card/Wrapper.vue";
import CuisineCard from "./../../Components/Card/Cuisine.vue";
import GroupButton from "../../../Components/Button/Group.vue";
import LinkButton from "../../../Components/Button/Link.vue";
import axios from "axios";

export default {
    extends: Media,
    props: {
        basketstate: String
    },
    components: {
        Card,
        CardWrapper,
        CuisineCard,
        GroupButton,
        LinkButton
    },
    data() {
        return {
            totalResult: "",
            searchStr: "",
            cuisine: null,
            location: "",
            cuisineType: [],
            geolocation: null
        };
    },
    computed: {
        isData() {
            if (this.is1025) {
                return this.basketstate === "active"
                    ? "one-third"
                    : "one-quarter";
            } else if (this.is801) {
                return this.basketstate === "active" ? "half" : "one-third";
            } else if (this.is481) {
                return this.basketstate === "active" ? "third-quarter" : "half";
            } else {
                return "full";
            }
        }
    },
    async created() {
        await this.getGeoLocation();
        this.checkMobile();
        this.getCuisineList();
        eventBus.$on("filterTypeSubmitted", selectedType => {
            this.cuisineType = selectedType;
            this.getCuisineList(this.searchStr, this.cuisineType);
        });
    },
    methods: {
        async getGeoLocation() {
            try {
                const geolocation = await this.$watchLocation({});
                if (geolocation) {
                    this.geolocation = geolocation;
                }
            } catch (error) {
                if (error == "no position access") {
                    alert(
                        "Please enable location access to get best experience."
                    );
                }
            }
        },
        getCuisineList(searchStr = "", type = "") {
            let locationStr = ``;
            if (this.geolocation) {
                //locationStr = `&lat=${geolocation.lat}&long=${geolocation.lng}`;
                locationStr = `&lat=3.12115&long=101.596577`;
            }

            axios
                .get(
                    window.public_url +
                        `/api/consumer/list-of-foods-w-summary-w-rating-w-price?page=1&per_page=10&search_query=${searchStr}&menu_category_id=${type}${locationStr}`
                )
                .then(response => {
                    this.cuisine = response.data.data.map(function(row) {
                        return {
                            id: row.id,
                            name: row.name,
                            description: row.food_desc,
                            rating: row.rating,
                            price: row.price,
                            image: row.img_url,
                            url: row.url
                        };
                    });
                    this.totalResult = this.cuisine.length;
                });
        }
    }
};
</script>

<style lang="scss" scoped>
.head-title {
    text-align: center;
}
.head-container {
    padding: 50px 0 50px 0;
}

.footer-container {
    padding: 50px 0 50px 0;
}
</style>
