<template>
    <div class="wrapper-content">
        <HeroBlock :banner = "hero_banner"/>
        <PrivacyBlock />
    </div>
</template>

<script>
    import HeroBlock from './../../Components/Banner/Hero.vue'
    import PrivacyBlock from './Components/Privacy.vue'

    export default {
        components : {
            HeroBlock,
            PrivacyBlock
        },

        data() {
            return {
                hero_banner : {
                    title : "Privacy Banner",
                    image : '/frontend/img/banner/banner-privacy.png',
                },
            }
        },

    }
</script>
