<template>
    <div class="wrapper-content">
        <PromotionBlock />
        <MainBlock />
        <PopularBlock />
        <ChefBlock />
        <CuisineBlock />
    </div>
</template>

<script>
    import PromotionBlock from './Components/Promotion.vue'
    import MainBlock from './Components/Main.vue'
    import PopularBlock from './Components/Popular.vue'
    import CuisineBlock from './Components/Cuisine.vue'
    import ChefBlock from './Components/Chef.vue'

    export default {
        components : {
            PromotionBlock,
            MainBlock,
            PopularBlock,
            ChefBlock,
            CuisineBlock,
        },
    }
</script>

<style lang="scss">
    @import "./../../config/config.scss";

    .fluid{
        .agile{
            &__list {
                max-width: 1440px;
                margin: 0 auto;
            }
        }
    }

    .agile{
        &__nav-button {
            @include background($primary-50);
            border: none;
            color: #fff;
            cursor: pointer;
            font-size: 24px;
            position: absolute;
            top: calc(50% - 45px);
            bottom: calc(50% - 45px);
            transition-duration: .3s;
            width: 70px;
            &:hover {
                @include background($primary);
                opacity: 1;
                @include trans-prop(background-color)
            }

            &--prev{
                left: -15px;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
            }
            &--next{
                right: -15px;
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
            }

            img{
                width: 43px;
                margin: 0 auto;
            }
        }
        &__dots{
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__dot{
            margin: 0 10px;
            button {
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 50%;
                cursor: pointer;
                display: block;
                height: 10px;
                font-size: 0;
                line-height: 0;
                margin: 0;
                padding: 0;
                transition-duration: 0.3s;
                width: 10px;
            }
            &:hover,
            &--current{
                button {
                    background-color: #fff;
                }
            }
        }

    }
</style>
