<template>
    <div class="wrapper-content">
        <FilterBar />
        <div class="main-container">
            <div class="content-main">
                <Menudetails />
            </div>
            <div class="content-side" :class="sidebarstatus">
                <Orderbasket />
            </div>
        </div>
    </div>
</template>

<script>
import FilterBar from "../../Components/Filterbar/Filterbar.vue";
import Orderbasket from "../Components/Orderbasket/Orderbasket.vue";
import Menudetails from "./Components/Menudetails.vue";
import axios from "axios";

export default {
    components: {
        FilterBar,
        Orderbasket,
        Menudetails
    },
    data() {


        if (window.localStorage.getItem('firstLayer'))
        {
            // console.log('dah ada layer')
        } else {
            window.localStorage.setItem('firstLayer', '[]')
            // console.log('set first layer')
        }


        return {
            hero_banner: null,
            sidebarstatus: ""
        };
    },
    computed: {
        public_url() {
            return window.public_url;
        },
        basketstate() {
            return this.$store.getters.basketState;
        }
    },
    created() {
        this.changebasketstate(this.basketstate);
        this.$root.$on("hideBasket", basketstate => {
            this.changebasketstate();
        });
    },
    methods: {
        changebasketstate() {
            this.sidebarstatus = this.basketstate === "active" ? "" : "hide";
        }
    }
};
</script>

<style lang="scss" scoped>
@import "./../../config/config.scss";

.banner-component {
    position: relative;
    width: 100%;
    &.overlap {
        margin-top: -88px;

        @include media(md-up) {
            margin-top: -115px;
        }
    }
}

.image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 540px;
    img {
        pointer-events: none;
        object-fit: cover;
        object-position: top center;
    }
}

.main-container {
    display: flex;
}
.content-side {
    display: block;
    width: 480px;
    border: 1px solid #dddddd;
    opacity: 1;
}
.hide {
    display: none;
}
.content-main {
    width: 100%;
}
</style>
