<template>
    <div class="card-component">
        <div class="card-thumbnail" v-if="data.image != ''">
            <img :src="data.image" alt="thumbnail" />
        </div>
        <div class="card-body">
            <p class="title"><span class="fancy-text">Our</span> Chef</p>
            <p class="name">{{data.name}}</p>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        data: Object
    }
};
</script>

<style lang="scss" scoped>
@import "./../../../../config/config.scss";
.card-component {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    background-color: #fff;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 3 px #000029;
    border: 1px solid #dddddd;
    opacity: 1;
    width: 100%;
    padding: 10px;

    .card-body {
        width: 100%;
        padding-top: 5px;
        flex-grow: 1;
        .title {
            @include fs(20);
            font-weight: 600;
        }
        .name {
            @include fs(18);
        }
        .fancy-text {
            font-family: "Learning Curve", sans-serif;
        }
    }
    .card-thumbnail {
        flex-basis: 90px;
        overflow: hidden;
        height: 90px;
        min-width: 90px;
        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }
    }
}
</style>
