<template>
    <div class="component-wrapper">
        <div class="card-thumbnail" v-if="food.image && food.image != ''">
            <img :src="food.image" alt="thumbnail" />
        </div>
        <div class="card-body">
            <div class="title-area">
                <div class="title-wrapper">
                    <p class="option-name">{{ food.name }}</p>
                </div>
                <div class="description-wrapper">
                    <p>{{ food.description | truncate(200, '...') }}</p>
                </div>
            </div>
            <div class="price-wrapper">
                <p class="price">RM {{ food.price }}</p>
                <button class="add-button" @click.prevent = "openMenusettings()">
                    <img
                        class="icon"
                        :src="
                            public_url + '/frontend/img/icon/add-icon-white.svg'
                        "
                        alt="add-item"
                    />
                </button>
                <Modal
                    class="menu-settings-modal"
                    ref="menusettings"
                    overlayTheme="dark"
                    blocking
                >
                    <MenuConfiqModal ref="modalcontent" :menu="food" :setting="setting" :food_info="food_info" :setting_id="setting_id" @addtoCart="addtoCart()"/>
                </Modal>
            </div>
        </div>
    </div>
</template>

<script>
import Modal from "./../../../../Components/Modal/Modal.vue";
import MenuConfiqModal from "./../Modal/Orderconfigmodal.vue";

export default {
    components: {
        Modal,
        MenuConfiqModal
    },
    props: {
        food: Object,
        food_info: Object,
        setting_id: Number,
        setting: Object,
    },
    computed: {
        public_url() {
            return window.public_url;
        }
    },
    filters: {
        truncate: function (text, length, suffix) {
            if (text.length > length) {
                return text.substring(0, length) + suffix;
            } else {
                return text;
            }
        },
    },
    methods: {
        showModal(ref) {
            if (this.$refs[ref]) {
                this.$refs[ref].open();
            } else {
                throw new Error("Ref not defined: " + ref);
            }
        },
        openMenusettings() {
            this.$refs["menusettings"].open();
            this.$refs["modalcontent"].resetinput();
        },

        closeMenusettings() {
            this.$refs["menusettings"].close();
        },
        addtoCart() {
            // console.log('masuk')
            this.$refs["menusettings"].close();
        }
    }
};
</script>

<style lang="scss" scoped>
@import "./../../../../config/config.scss";

.component-wrapper {
    display: flex;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #dddddd;
    opacity: 1;
    padding: 16px 0px 16px 16px;
    margin: 10px;
    max-height: 210px;
}

.card-thumbnail {
    flex-basis: 160px;
    overflow: hidden;
    height: 160px;
    min-width: 160px;
    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
}

.card-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0px 0px 0px 15px;
}

.title-area {
    // display: flex;
    // flex-direction: row;
    // flex-flow: row nowrap;
    // justify-content: space-between;
    // align-items: flex-start;
    padding-bottom: 5px;
    font-weight: 600;
    flex-grow: 1;
}
.title-wrapper {
    width: 100%;
    padding-top: 5px;
    .option-name {
        @include fs(18);
        font-weight: bold;
    }
}
.price-wrapper {
    position: relative;
    .price {
        @include fs(18);
        font-weight: bold;
        color: #be2026;
    }
}
.add-button {
    background-color: #c5363c;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: calc(50% - 30px);
    bottom: calc(50% - 0px);
    transition-duration: 0.3s;
    width: 40px;
    height: 40px;
    right: 0px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    overflow: visible;
    .icon {
        width: 22px;
        margin: 0 auto;
    }
}

.description-wrapper {
    p {
        color: #707070;
        opacity: 1;
        @include fs(18);
        font-weight: normal;
    }
}

.menu-settings-modal {
    align-items: flex-start;
}
</style>
