<template>
    <div class="heading-component fancy">
        <span class="font-learning co-primary">{{ fancy }}</span>
        <span>{{ text }}</span>
    </div>
</template>

<script>
    export default {
        props: {
            fancy: String,
            text: String,
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../config/config.scss';

    .heading-component {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;

        span {
            display: inline-block;
            &:first-child {
                @include fs(40);
                margin-right: 5px;
            }

            &:last-child {
                @include fs(35);
                font-weight: 600;
            }
        }
    }

    .font-learning {
        font-family: $learningCurve;
    }

    .co-primary {
        @include color($primary)
    }
</style>
