body {
	font-family: D-DIN;
	color: #000000;

}

.searchbox {
  border: 1px solid #BE2026;
  border-radius: 5px;
}
.searchbox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-family: D-DIN;
  color: #BE2026;
  opacity: 1; /* Firefox */
}

.searchbox:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-family: D-DIN;
  color: #BE2026;
}

.searchbox::-ms-input-placeholder { /* Microsoft Edge */
	font-family: D-DIN;
  color: #BE2026;
}



.more-btn-pad {
	padding-left: 80px;
}

.loginBtnRed {
	background-color:#BE2026;
	border-radius:28px;
	border:1px solid #BE2026;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: D-DIN;
	font-size:24px;
	letter-spacing: 0px;
    padding: 8px 31px 8px 10px;
	text-decoration:none;
	line-height: 26px;
}
.loginBtnRed:hover {
	background-color:#BE2026;	/*Mouse over colour*/
	color:#ffffff;
	text-decoration: none;
}
.loginBtnRed:active {
	position:relative;
	top:1px;
}
.login-logo {
	vertical-align:middle;
	padding-right: 20px;
}
.score-card {
	 font-family: D-DIN-Bold;
	 text-align: 
	 right;font-size: 24px;
	 padding-left: 0px;
}

.highlight-area {
	background-color: #EAEAEA;
}

.font-lavo-red {
	color: #BE2026;
}


.content-area-custom {
	border: 1px solid #BE2026;
}


.card-link {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.card-link:hover {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px;
}

.card-mp {
	background-color: transparent;
}

.card-title {
	padding-right: 0px;
	font-family: D-DIN-Bold;
	font-size: 24px;
	line-height: 24px;
}


.card-title-2 {
	padding-right: 0px;
	font-family: D-DIN-Bold;
	font-size: 24px;
	line-height: 24px;
	height: 60px;
}

.card-title-3 {
	padding-right: 0px;
	font-family: D-DIN-Bold;
	font-size: 24px;
	line-height: 24px;
	height: 80px;
}

.card-chef-title-2 {
	padding-right: 0px;
	font-family: D-DIN-Bold;
	font-size: 24px;
	line-height: 24px;
	height: 60px;
}

.card-text {
	color: #636363;
	font-size: 18px;
	line-height: 18px;
}

.card-pad {
	padding-right: 7px;
    padding-left: 7px;
}

.pad-0 {
	padding-right: 0px;
    padding-left: 0px;
}
.pad-top-30{
	padding-top: 30px
}

.pad-top-20{
	padding-top: 20px
}

.pad-bot-30 {
	padding-bottom: 30px;
}
/*
####################################################
C A R O U S E L   M O D S
####################################################
*/
.deli-hl-c-next-icon {
    background-image: url('../../assets/img/next.svg');
    display: inline-block;
    width: 75px;
    height: 80px;
}

.deli-hl-c-prev-icon {
    background-image: url('../../assets/img/back.svg');
    display: inline-block;
    width: 75px;
    height: 80px;
}

.deli-hl-c-next, .deli-hl-c-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.deli-hl-carousel-inner-custom {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-indicators-custom li {
    /* box-sizing: content-box; */
    -ms-flex: 0 1 auto;
    /* flex: 0 1 auto; */
    width: 15px;
    height: 15px;
    margin-right: 12px;
    margin-left: 12px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    /* background-clip: padding-box; */
    /* border: 2px solid #ffffff; */
    /* border-bottom: 2px solid #ffffff; */
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;

}

.ca-indicator-position {
	justify-content: left;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 2rem;
}


.title-markingstyles {
	display: inline-block;
	font-family: Learning Curve;
	font-size: 40px;
	line-height: 40px;
    height: 20px;
	color: #BE2026;
}

.title-font {
	font-family: D-DIN-Bold;
	font-size: 40px;
}

.card-img, .card-img-top, .card-img-bottom {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-styling {
	border-radius: 12px;
	-webkit-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);

}

.card-styling-red {
	border-radius: 12px;
	-webkit-box-shadow: 0px 5px 5px -1px rgba(190,32,38,0.75);
	-moz-box-shadow: 0px 5px 5px -1px rgba(190,32,38,.75);
	box-shadow: 0px 5px 5px -1px rgba(190,32,38,0.75);

}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
 
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
 
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 	.card-title-2 {
		padding-right: 0px;
		font-family: D-DIN-Bold;
		font-size: 24px;
		line-height: 24px;
		height: 50px;
	}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 1rem;
	    padding-left: 1rem;
	}
	.card-title-2 {
		padding-right: 0px;
		font-family: D-DIN-Bold;
		font-size: 24px;
		line-height: 24px;
		height: 120px;
	}
	/*REDEFINE FOR MOBILE VERSION*/
	.col-md-6 {
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}
}

@media (min-width: 903px) { 
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 2rem;
	    padding-left: 2rem;
	}
	.card-title-2 {
		padding-right: 0px;
		font-family: D-DIN-Bold;
		font-size: 24px;
		line-height: 24px;
		height: 80px;
	}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 2rem;
	    padding-left: 2rem;
	}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}
 
 
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 
 
}	


.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}