.layout {
    font-family: 'Roboto', sans-serif;
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    max-width: 350px;
    display: block;
    margin-bottom: 30px;
}

.logo img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.text {
    font-size: 40px;
    color: #DC143C;
    text-align: center;
}


.description {
    color: #000000;
    text-align: center;
    font-weight: 500;
}

.description a {
    color: #000000;
    text-decoration: none;
}
