
/*
@font-face {
    font-family: D-DIN;
    src: url("../../font/d-din/D-DIN.woff") format("woff"), url("../../font/d-din/DIN-Bold.ttf")  format("truetype");
}
*/

@font-face {
    font-family: D-DIN;
    src: url("../../font/d-din/D-DIN.otf") format("opentype");
}

@font-face {
    font-family: D-DIN-Bold;
    font-weight: bold;
    src: url("../../font/d-din/D-DIN-Bold.otf") format("opentype"), url("../../font/d-din/D-DIN-Bold.ttf")  format("truetype"), url("../../font/d-din/D-DIN-Bold.woff")  format("woff");
}

@font-face {
    font-family: Learning Curve;
    src: url("../../font/learning_curve/learning_curve_regular_ot_tt.ttf") format("truetype");
}

@font-face {
    font-family: Learning Curve;
    font-weight: bold;
    src: url("../../font/learning_curve/learning_curve_bold_ot_tt.ttf") format("truetype");
}
:root {

    /* Colors: */
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-be2026: #BE2026;
    --unnamed-color-000000: #000000;
    --unnamed-color-707070: #707070;
    --unnamed-color-ecebee: #ECEBEE;

    /* Font/text values */
    --unnamed-font-family-d-din: D-DIN;
    --unnamed-font-style-din-bold: D-DIN-Bold;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-60: 60px;
    --unnamed-font-size-80: 80px;
    --unnamed-font-size-100: 100px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-30: 30px;
    --unnamed-line-spacing-72: 72px;
    --unnamed-line-spacing-96: 96px;
    --unnamed-line-spacing-120: 120px;
}

/* Character Styles */
.unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-d-din);
    font-style: var(--unnamed-font-style-din-bold);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    font-weight: 900;
}
.unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-d-din);
    font-style: var(--unnamed-font-style-din-bold);
    font-size: var(--unnamed-font-size-60);
    line-height: var(--unnamed-line-spacing-72);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
}
.unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-d-din);
    font-style: var(--unnamed-font-style-din-bold);
    font-size: var(--unnamed-font-size-80);
    line-height: var(--unnamed-line-spacing-96);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-be2026);
}
.unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-d-din);
    font-style: var(--unnamed-font-style-din-bold);
    font-size: var(--unnamed-font-size-80);
    line-height: var(--unnamed-line-spacing-96);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-5 {
    font-family: var(--unnamed-font-family-d-din);
    font-style: var(--unnamed-font-style-din-bold);
    font-size: var(--unnamed-font-size-100);
    line-height: var(--unnamed-line-spacing-120);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
}
