body {
    font-family: D-DIN;
    color: #000000;

}

.bgheroimage {
    width:100%;
    height:710px;
    background: url('../../img/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.herocontainer {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: unset;
    max-width: none;
    height: 100%;
}

.bgheroimage h5 {
    color:white;
    text-shadow:2px 2px #333;
}

.herocontentleft {
    text-align: left;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: unset;
}

.herocontentright {
    text-align: right;
    padding-top: 200px;
    padding-right: 100px;
    padding-left: unset;

}

.selectionmarker {
    background-color:rgba(190,32,37, 0.5);
}

.herodiscLeft {
    text-align: left;
    font-size: 28px;
    color: #ffffff;
    width: 400px;
    padding-bottom: 20px;
}

.herodiscRight {
    text-align: right;
    font-size: 28px;
    color: #ffffff;
    width: 450px;
    padding-bottom: 20px;
    margin-left:auto; margin-right:0;
}

.hide{
    display: none;;
}

.bg-spegradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+0,000000+100&1+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


}

.admitstyle {
    font-size: 80px;
    color: #BF2026;
    text-shadow: 3px 3px 8px #FFFFFF;
    line-height: 80px;
    height: 190px;
}

.admitstyleactive {
    font-size: 80px;
    color: #ffffff;
    text-shadow: 5px 5px 8px rgba(0,0,0,0.9);
    line-height: 80px;
    height: 190px;
}

/*//////////////////////////////////////////////////*/
.heroBtnRed {
    background-color:#BE2026;
    border-radius:28px;
    border:1px solid #BE2026;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: D-DIN;
    font-size:24px;
    letter-spacing: 0px;
    padding:13px 31px;
    text-decoration:none;
    line-height: 26px;
}
.heroBtnRed:hover {
    background-color:#BE2026; /*Mouse over colour*/
    color:#ffffff;
    text-decoration: none;
}
.heroBtnRed:active {
    position:relative;
    top:1px;
}
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
.heroBtnWhite {
    background-color:#ffffff;
    border-radius:28px;
    border:1px solid #BE2026;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family: D-DIN;
    font-size:24px;
    letter-spacing: 0px;
    padding:13px 31px;
    text-decoration:none;
    line-height: 26px;
}
.heroBtnWhite:hover {
    background-color:#ffffff; /*Mouse over colour*/
    color:#000000;
    text-decoration: none;
}
.heroBtnWhite:active {
    position:relative;
    top:1px;
}
/*//////////////////////////////////////////////////*/

/*MAYBE NEED MEDIA QUERY*/
.menufontstyle {
    font-family: D-DIN-Bold;
    font-size: 18px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1);
}


.mastarea {
    text-align: center;
    padding: 100px 0px 50px 0px;
}

.mastquote {
    font-family: D-DIN-Bold;
    font-size: 5rem;
}

.markingstyles {
    display: inline-block;
    font-family: Learning Curve;
    font-size: 60px;
    line-height: 60px;
    height: 30px;
    color: #BE2026;
    opacity: 1;
}

.textcontent {
    font-family: D-DIN;
    font-size: 24px;
    line-height: 30px;
}

.titleinfo {
    font-family: D-DIN-Bold;
    font-size: 60px;
}

.infoarea {
    overflow : hidden;
}

.infoboxstyle-wrapper {
    padding-bottom: 20px;
}

.infoboxstyle {
    margin: 0px 0px 100px 0px;
    -webkit-box-shadow: 14px 14px 8px -9px rgba(0,0,0,0.3);
    box-shadow: 14px 14px 8px -9px rgba(0,0,0,0.3);
}

.knownmorediv {
    display: flex;
    align-items:center;
}

.linkstyles {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.linkstyles:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.container {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1300px;
}

.event-name {
    font-family: D-DIN;
    font-size: 21px;
    text-align: right;
}
.event-time {
    font-family: D-DIN;
    font-size: 19px;
    text-align: right;
}

.footer {
    font-family: D-DIN;
    color: #ffffff;
    background: #000000;
    padding: 20px 0px 20px 0px;

}

.footerarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1300px;
}

.copyrightclause {
    font-size: 13px;
}

.followus {
    font-family: D-DIN-Bold;
    font-size: 19px;
    padding-right: 30px;
}

/*
####################################################
C A R O U S E L   M O D S
####################################################
*/
.c-next-icon {
    background-image: url('../../img/next.svg');
    display: inline-block;
    width: 75px;
    height: 80px;
}

.c-prev-icon {
    background-image: url('../../img/back.svg');
    display: inline-block;
    width: 75px;
    height: 80px;
}

.c-next, .c-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel-inner-custom {
    position: relative;
    width: 100%;
    overflow: visible;
}

.carouselbg {
    padding-bottom: 200px;
    background: url('../../img/bgbottom.png');
    background-repeat: no-repeat;
    background-position: left 0px bottom 0px;
}



/*
####################################################
MOVE TO TOP BUTTON
####################################################
*/
#movetotopbtn {
    background: url('../../img/arrow_up.svg');
    background-repeat: no-repeat;
    background-position: center;

    display: inline-block;
    background-color: #BE2026;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#movetotopbtn::after {
    background: url('../../img/arrow_up.svg');
}
#movetotopbtn:hover {
    cursor: pointer;
    background-color: #333;
}
#movetotopbtn:active {
    background-color: #555;
}
#movetotopbtn.show {
    opacity: 1;
    visibility: visible;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .brandset {
        padding: 20px 0px 0px 35px;

    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .mastarea {
        background: url('../../img/bgtop.png');
        background-repeat: no-repeat;
        background-position: right 0px top 0px;
    }

    .col-md-custom {
        -ms-flex: 0 0 570px;
        flex: 0 0 570px;
        max-width: 570px;
        position: relative;
        width: 100%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {

}
