<template>
    <div class="modal-component menu-setting">
        <div class="content">
            <div class="title">
                <p class="name">{{ menu.name }}</p>
                <p class="price">RM {{ menu.price }}</p>
            </div>
            <div
                class="setting-list"
                v-for="sub_item in menu.sub_items"
                :key="sub_item.id"
            >
                <div class="setting-title">
                    {{ sub_item.name }}
                </div>
                <div class="option-list">
                    <div
                        class="option-item"
                        v-for="secondary_sub_item in sub_item.secondary_sub_items"
                        :key="secondary_sub_item.id"
                    >
                        <Group direction="center">
                            <LabelRadio class="radio-content">
                                <div class="radio">
                                    <input
                                        class="input input-radiobox"
                                        type="radio"
                                        :name="'group_' + sub_item.id"
                                        v-model="optsub_items[sub_item.id]"
                                        :value="secondary_sub_item.id"
                                    />
                                    <RadioIcon />
                                </div>
                                <div class="item-content">
                                    <div class="item-row">
                                        <div class="name-text">
                                            {{ secondary_sub_item.name }}
                                        </div>
                                        <div class="price">
                                            +{{ secondary_sub_item.price }}
                                        </div>
                                    </div>
                                </div>
                            </LabelRadio>
                        </Group>
                    </div>
                </div>
            </div>
            <div class="setting-title">
                Special Requirements
            </div>
            <div class="description">
                <textarea
                    placeholder="e.g. No Chili"
                    name="desc"
                    class="input-desc"
                    v-model="remark"
                ></textarea>
            </div>
            <div class="order-count">
                <Plusminus
                    ref="refamount"
                    size="large"
                    textweight="bold"
                    :min="1"
                    :max="10"
                    :value="quantity"
                    @input="onAmountUpdate"
                />
            </div>
            <GroupButton>
                <LinkButton
                    class="addtocart-btn"
                    name="Add to Cart"
                    pill
                    size="full"
                    color="primary"
                    link="#"
                    @click.native.prevent="addtoCart()"
                />
            </GroupButton>
        </div>
    </div>
</template>

<script>
import LinkButton from "./../../../../Components/Button/Link.vue";
import GroupButton from "./../../../../Components/Button/Group.vue";

import Group from "./../../../../Components/Form/Fieldset/Group.vue";
import LabelRadio from "./../../../../Components/Form/Radiobox/Label.vue";
import RadioIcon from "./../../../../Components/Form/Radiobox/Icon.vue";
import Plusminus from "./../../../../Components/Form/Plusminusinput/Field.vue";

export default {
    props: {
        menu: Object,
        food_info: Object,
        setting_id: Number,
        setting: Object,
    },
    components: {
        LinkButton,
        GroupButton,
        Group,
        LabelRadio,
        RadioIcon,
        Plusminus
    },
    data() {
        return {
            quantity: 1,
            remark: '',
            optsub_items: []
        };
    },
    computed: {
        public_url() {
            return window.public_url;
        }
    },
    methods: {
        route_url(key) {
            return window.menu_routes[key];
        },

        login_mobile() {
            this.$emit("loginMobile");
        },
        resetinput() {
            this.quantity = 1;
            this.remark = '';
            this.optsub_items = [];
        },
        addtoCart() {

            let theLayer = JSON.parse(window.localStorage.getItem('firstLayer'));

            let dataToPush = {
                "id": this.setting.id,
                "name": this.setting.name,
                "total_price": 0,
                "quantity": this.quantity,
                "items": []
            }

            console.log(theLayer)

            if (theLayer.length === 0)
            {
                // initial
                theLayer.push(dataToPush)
                window.localStorage.setItem('firstLayer',JSON.stringify(theLayer))
                // console.log('masuk first time')
            }

            const names = theLayer.map(el => el.name);

            if (names.includes(this.setting.name) == false)
            {
                theLayer.push(dataToPush)
                window.localStorage.setItem('firstLayer',JSON.stringify(theLayer))
                // console.log('masuk sekali je patutnye')
            }

            let food_info = {
                id: this.food_info.id,
                title: this.food_info.title,
                order: [],
            };
            let order = {
                setting_id: this.setting_id,
                name: this.menu.name,
                img_url: this.menu.image,
                menu_price: this.menu.price,
                total_price_exc_sst: 0,
                remark: this.remark,
                quantity: this.quantity,
                sub_items: []
            };
            let sub_item = [];
            //TODO: Multi secondary_sub_item if using check box
            for (let sub_itemsId in this.optsub_items) {
                let secondary_sub_itemId = this.optsub_items[sub_itemsId];
                sub_item = this.getsub_itemById(sub_itemsId, 'cart', secondary_sub_itemId);
                order.sub_items.push(sub_item);
            }
            this.$store.commit( "updateOrderCartList", {food_info: food_info, order: order} );
            this.$emit("addtoCart");
            this.$store.dispatch('calculatePrice');
        },
        onAmountUpdate(value) {
            this.quantity = value;
        },
        getsub_itemById(sub_itemsId, target, secondary_sub_itemId='') {
            var sub_item = [];
            if (target == "cart") {
                let sub_item = {...this.menu.sub_items.filter(stt => stt.id == sub_itemsId)[0]};

                if(sub_item.id == sub_itemsId){
                    sub_item.secondary_sub_items = [];
                    sub_item.secondary_sub_items.push( this.getsecondary_sub_itemById(secondary_sub_itemId, sub_itemsId) );
                    return sub_item;
                }else{
                    //error : coused by duplicate id
                }
            } else {
                return {...this.menu.sub_items.filter(stt => stt.id == sub_itemsId)[0]};
            }
        },
        getsecondary_sub_itemById(secondary_sub_itemId, sub_itemsId) {
            var sub_item = this.getsub_itemById(sub_itemsId, 'menu');
            var secondary_sub_item = sub_item.secondary_sub_items;
            return {...secondary_sub_item.filter(opt => opt.id == secondary_sub_itemId)[0]};
        }
    }
};
</script>

<style lang="scss" scoped>
@import "./../../../../config/config.scss";

.modal-component {
    position: relative;
    @include background(#f8f8f8);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    padding: 60px 20px;
    z-index: 1;

    @include media(sm-up) {
        padding: 60px 35px 20px;
    }

    .title {
        display: flex;
        justify-content: space-between;
        @include fs(40);
        padding-top: 20px;
        padding-bottom: 40px;
        font-weight: 600;
        .name {
            width: calc(100% - 100px);
        }
        .price {
            display: flex;
            align-items: center;
            font-size: 24px;
            color: #be2026;
        }
    }
    .setting-title {
        @include fs(24);
        padding-bottom: 25px;
        font-weight: 600;
    }

    .input-desc {
        @include fs(20);
        width: 100%;
        height: 110px;
        box-sizing: border-box;
        border: 1px solid #dddddd;
        opacity: 1;
        padding: 10px 10px;
    }
    .order-count {
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
        padding: 60px;
    }
}

.option-list {
    padding: 10px 0px 20px;
    .title {
        @include fs(22);
        font-weight: 600;
        margin-bottom: 10px;
    }

    .option-item {
        border-top: 1px solid;
        border-bottom: 1px solid;
        @include border(#dddddd);
        padding: 0 20px;
        margin-bottom: 10px;
        font-weight: 600;

        .radio {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }

        .item-content {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 40px);
            margin-right: auto;
            padding-right: 20px;
            .item-row {
                display: flex;
                width: 100%;
                .name-text,
                .price {
                    width: calc(100% - 40px);
                    @include fs(18);
                    font-weight: 500;
                    color: #707070;
                }
                .price {
                    width: 100%;
                    text-align: right;
                }
            }
        }
    }

    a {
        display: block;
        font-weight: 600;
        padding: 10px 20px;
        @include fs(18);
    }
}
.radio-content {
    width: 100%;
}
.co-primary {
    @include color($primary);
}
.addtocart-btn {
    @include fs(20);
    letter-spacing: unset;
}
</style>
