<template>
    <div class="wrapper-content">
        <HeroBlock :banner = "hero_banner" />
        <div class="container slim">
            <div class="holder">
                <TabBlock :link = 'link'/>
                <FormBlock />
            </div>
        </div>
    </div>
</template>

<script>
    import HeroBlock from './../../Components/Banner/Hero.vue'
    import TabBlock from './Components/Tab.vue'
    import FormBlock from './Components/Form.vue'

    export default {
        components : {
            HeroBlock,
            TabBlock,
            FormBlock
        },

        data() {
            return {
                hero_banner : {
                    title : "Contact Banner",
                    image : '/frontend/img/banner/banner-contact.png',
                },

                link : [
                    {
                        id: 1,
                        title : 'For Kitchen',
                        url: 'frontend.consumer.contact.kitchen',
                        active: false
                    },
                    {
                        id: 2,
                        title : 'For Food Delivery',
                        url: 'frontend.consumer.contact.delivery',
                        active: true,
                    }
                ]
            }
        },
    }
</script>

<style lang='scss' scoped>
    @import './../../../config/config.scss';

    .holder {
        border: 1px solid;
        @include border(#DDDDDD);
        padding: 40px 20px;
        margin: 40px 0;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
    }
</style>
