<template>
    <div class="card-component event">
        <div class="deco top">
            <img :src="public_url + '/frontend/img/icon/element2.png'" alt="deco top">
        </div>
        <div class="content">
            <div class="image-wrapper">
                <img :src="public_url + data.image" alt="data.title">
            </div>
            <div class="text-wrapper">
                <div class="title-fancy">
                    <p class= 'fancy'>Keep posted on</p>
                    <p>Upcoming Events</p>
                </div>
                <div class="promo description">
                    <p>{{ data.description | truncate(150, '...') }}</p>
                </div>
                <div class="promo title">
                    <p>{{ data.title }}</p>
                </div>
                <div class="promo schedule">
                    <span>{{ data.date }}</span>
                    <span> | </span>
                    <span>{{ data.day }}</span>
                    <span> | </span>
                    <span>{{ data.time }}</span>
                </div>
                <div class="button">
                    <a href="#">
                        <span>View More</span>
                        <img :src="public_url + '/frontend/img/icon/arrow-red.png'" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="deco bottom">
            <img :src="public_url + '/frontend/img/icon/element3.png'" alt="">
        </div>
    </div>
</template>

<script>
    export default {
        props : {
            data : Object,
        },

        computed : {
            public_url() {
                return window.public_url;
            }
        },

        filters: {
            truncate: function (text, length, suffix) {
                if (text.length > length) {
                    return text.substring(0, length) + suffix;
                } else {
                    return text;
                }
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import "./../../../config/config.scss";

    .card-component {
        position: relative;
        border: 1px solid;
        @include border(#dddddd);
        @include background($white);
        margin: 40px 0;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
        z-index: 1;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: stretch;

        .image-wrapper {
            width: 40%;
            img {
                height: 100%;
                object-fit: cover;
            }
        }

        .text-wrapper {
            width: 60%;
            @include color($black);
            padding: 40px;
        }
    }

    .title-fancy {
        text-align: left;
        line-height: 1;
        @include fs(50);
        font-weight: 600;
        padding-bottom: 40px;

        p.fancy {
            font-family: $learningCurve;
            font-weight: 400;
            @include color($primary);
        }
    }

    .promo {
        &.title {
            @include fs(22);
            font-weight: 600;
            text-align: right;
        }

        &.description {
            @include fs(22);
            padding-bottom: 20px;
        }

        &.schedule {
            @include fs(20);
            font-weight: 600;
            padding-bottom: 20px;
            text-align: right;
        }
    }

    .button {
        @include fs(20);

        img{
            display: inline-block;
            vertical-align: middle;
            width: 35px;
            transform: translateX(0);
            @include trans-prop(transform)
        }

        a{
            font-weight: 600;
            &:hover {
                img{
                    transform: translateX(5px);
                    @include trans-prop(transform)
                }
            }
        }
    }

    .co-primary {
        @include color($primary);
    }

    .deco {
        position: absolute;
        user-select: none;
        pointer-events: none;
        width: 100%;

        &.top {
            max-width: 260px;
            right: -10px;
            top: -40px;
        }

        &.bottom {
            max-width: 200px;
            right: -10px;
            bottom: -60px;
        }
    }
</style>
