<template>
    <div class="address-block">
        <div class="title">
            <p>My Address</p>
        </div>
        <div class="data-loop"  v-for = 'data in addresses'>
            <Group direction = 'center'>
                <LabelRadio>

                    <div class="radio">
                        <input class='input input-radiobox' type="radio" name="address" value='' />
                        <RadioIcon />
                    </div>
                    <div class="address">
                        <p>{{ data.title }}</p>
                        <p>{{ data.address }}</p>
                    </div>
                </LabelRadio>
                <div class="action">
                    <a href="#" class='co-primary' :id="data.id" @click.prevent = 'deleteAddress(data.id)'>
                        Delete
                    </a>
                </div>
            </Group>
        </div>
        <a href="#" class='co-primary' @click.prevent = 'openAddress()'>
            <i class='fas fa-plus'></i>
            <span>Add New Address</span>
        </a>
    </div>
</template>

<script>
    import Group from './../../../../Components/Form/Fieldset/Group.vue'
    import LabelRadio from './../../../../Components/Form/Radiobox/Label.vue'
    import RadioIcon from './../../../../Components/Form/Radiobox/Icon.vue'
    import axios from 'axios'
    import {hostname, protocol} from "../Store/actions";
    import {store} from "../Store/store";

    export default {

        components : {
            Group,
            LabelRadio,
            RadioIcon
        },

        computed: {
            addresses () {
                return this.$store.getters.addresses;
            },
        },


        data() {
            return {

            }
        },

        methods : {

            openAddress() {
                this.$emit('AddAddress')
            },

            deleteAddress(id) {

                let token = localStorage.getItem('token');

                var config = {
                    method: 'post',
                    url:  protocol + '//' + hostname +'/api/auth/delete-address',
                    headers: {
                        'X-Requested-With' : 'XMLHttpRequest',
                        'Authorization' : 'Bearer ' + token,
                        'Content-Type' : 'application/json',
                    },
                    data: {
                        address_id: id
                    }
                };

                axios(config)
                    .then(function (response) {
                        store.commit('updateAddresses', response.data.data);
                        if(response.data.status === 'success'){
                            eventBus.$emit("openNotificationAlertModal", {title:"Success", message:"Address has been deleted"});
                        }else{
                            eventBus.$emit("openNotificationAlertModal", {title:"Error", message:"Error while updating your info."});
                        }
                    })
                    .catch(function (error) {
                        eventBus.$emit("openNotificationAlertModal", {title:"Error", message:"Error while updating your info.[2]"});
                    });


                this.$emit('DeleteAddress')
            },

        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .address-block {
        padding: 10px 35px 40px;
        .title {
            @include fs(22);
            font-weight: 600;
            margin-bottom: 10px;
        }

        .data-loop {
            border-top: 1px solid;
            border-bottom: 1px solid;
            @include border(#dddddd);
            padding: 0 20px;
            margin-bottom: 10px;
            font-weight: 600;

            .radio {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
            }

            .address {
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 40px);
                margin-right: auto;
                padding-right: 20px;
            }
        }

        a{
            display: block;
            font-weight: 600;
            padding: 10px 20px;
            @include fs(18);
        }
    }

    ::v-deep .form-radiobox {
        width: 100%;
    }

    .co-primary {
        @include color($primary);
    }
</style>
