<template>
    <div class="form-block">
        <Group class='profile-header' direction = 'center column'>
            <p class="title">
                My Profile
            </p>
            <label class='image-label'>
                <div class="image">
                    <img :src="public_url + '/frontend/img/avatar/profile.png'" alt="Profile Avatar">
                    <div class="deco">
                        <img :src="public_url + '/frontend/img/icon/camera.png'" alt="">
                    </div>
                </div>
                <input type="file" class='image-upload'  accept=".png, .jpg, .jpeg">
            </label>
            <p v-model='form.number' class="number">
                {{form.number !== ''? form.number : ''}}
            </p>
        </Group>
        <Group formHeader>
            <Group direction = 'center'>
                <LabelText>
                    <div class= 'inline-input'>
                        <Name name = 'Name' inline important/>
                        <InputText
                            v-model = 'form.name'
                            :error = 'validate.name'
                            placeholder = 'Name'
                        />
                    </div>
                    <Validate
                        v-if = 'validate.name'
                        :text = 'validate.text_name'
                        :error = 'validate.name'
                    />
                </LabelText>
            </Group>
            <Group direction = 'center'>
                <LabelText>
                    <div class= 'inline-input'>
                        <Name name = 'Email' inline important/>
                        <InputText
                            v-model = 'form.email'
                            :error = 'validate.email'
                            placeholder = 'Email'
                            :disabled="signup_type == 'social'"
                        />
                    </div>
                    <Validate
                        v-if = 'validate.email'
                        :text = 'validate.text_email'
                        :error = 'validate.email'
                    />
                </LabelText>
            </Group>
            <Group class='datepicker-group' direction = 'center'>
                <div class="datepicker">
                    <div class="inline-input">
                        <Name name = 'Birthday' inline important/>
                        <v-date-picker
                            v-model="form.birthdate"
                            color="red"
                            class='input-datepicker'
                            :masks="{L: 'DD/MM/YYYY'}"
                            :popover="{ visibility: 'click' }"
                        >
                            <template v-slot="{ inputValue, inputEvents }">
                                <input
                                    class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300"
                                    :value="inputValue !== '' ? inputValue :  form.birthdate"
                                    v-on="inputEvents"
                                    placeholder="Birthday"
                                />
                            </template>
                        </v-date-picker>
                    </div>
                    <Validate
                        v-if = 'validate.birthdate'
                        :text = 'validate.text_birthdate'
                        :error = 'validate.birthdate'
                    />
                </div>
            </Group>
            <Group direction = 'center'>
                <label>
                    <div class="inline-input">
                        <Name name = 'Gender' inline important/>
                        <LabelRadio>
                            <input class='input input-radiobox' type="radio"  name = 'gender' value = 'male' v-model = 'form.gender'>
                            <RadioIcon />
                            <Name name = 'Male' />
                        </LabelRadio>
                        <LabelRadio>
                            <input class='input input-radiobox' type="radio"  name = 'gender' value = 'female' v-model = 'form.gender'>
                            <RadioIcon />
                            <Name name = 'Female' />
                        </LabelRadio>
                    </div>
                    <Validate
                        v-if = 'validate.gender'
                        :text = 'validate.text_gender'
                        :error = 'validate.gender'
                    />
                </label>
            </Group>
        </Group>
        <GroupBtn>
            <ButtonBtn name='Save' pill color = 'primary' size = 'medium' @click.native = 'onUpdate()'/>
        </GroupBtn>
        <br>
        <Group>
            <Validate
                v-if = 'validate.general'
                :text = 'validate.text_general'
                :error = 'validate.general'
                success
            />
        </Group>
    </div>
</template>

<script>
    import Group from './../../../../Components/Form/Fieldset/Group.vue'
    import Label from './../../../../Components/Form/Fieldset/Label.vue'
    import Name from './../../../../Components/Form/Fieldset/Name.vue'
    import Placeholder from './../../../../Components/Form/Fieldset/Placeholder.vue'

    import LabelText from './../../../../Components/Form/Text/Label.vue'
    import InputText from './../../../../Components/Form/Text/Input.vue'
    import AreaText from './../../../../Components/Form/Text/Area.vue'
    import SelectDropdown from './../../../../Components/Form/Select/Select.vue'
    import LabelRadio from './../../../../Components/Form/Radiobox/Label.vue'
    import RadioIcon from './../../../../Components/Form/Radiobox/Icon.vue'

    import Validate from './../../../../Components/Form/Validate/Validate.vue'

    import GroupBtn from './../../../../Components/Button/Group.vue'
    import ButtonBtn from './../../../../Components/Button/Button.vue'

    import axios from 'axios'
    import moment from 'moment'

    export default {
        components : {
            Group,
            Label,
            Name,
            Placeholder,

            LabelText,
            InputText,
            AreaText,
            Validate,
            SelectDropdown,
            LabelRadio,
            RadioIcon,

            GroupBtn,
            ButtonBtn
        },

        data() {
            return {
                format: 'dd-MM-yyyy',
                validate: {
                   name : false,
                   text_name : '',
                   email : false,
                   text_email : '',
                   mobile : false,
                   text_mobile : '',
                   gender : false,
                   text_gender : '',
                   birthdate : false,
                   text_birthdate : '',

                   general: false,
                   text_general: '',
               },
            }
        },

        computed : {
            public_url () {
                return window.public_url;
            },
            form : {
                // getter
                get: function () {
                return this.$store.getters.form;
                },
                // setter
                set: function (newValue) {
                    this.$store.commit("updateLoginCredentials", newValue);
                }
            },
            signup_type() {
                return this.$store.getters.signup_type;
            }

        },

        methods : {
            validation() {
                if(this.form.name === '') {
                    this.validate.name = true;
                    this.validate.text_name = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.name = false;
                    this.validate.text_name = '';
                }

                if(this.form.email === '') {
                    this.validate.email = true;
                    this.validate.text_email = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.email = false;
                    this.validate.text_email = '';
                }

                if(this.form.email !== '') {
                    let regex = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
                    if(!regex.test(this.form.email)){
                        this.validate.email = true;
                        this.validate.text_email = 'Please provide a valid email address'
                        return false
                    }
                } else {
                    this.validate.email = false;
                    this.validate.text_email = '';
                }

                if(this.form.birthdate === '') {
                    this.validate.birthdate = true;
                    this.validate.text_birthdate = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.birth = false;
                    this.validate.text_birthdate = '';
                }

                if(this.form.gender === '') {
                    this.validate.gender = true;
                    this.validate.text_gender = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.gender = false;
                    this.validate.text_gender = '';
                }

                return true
            },

            clearform() {

                let form = {
                    name : '',
                    email : '',
                    birthdate : '',
                    gender : '',
                }

                this.$store.dispatch('updateStateObject', {
                    key : 'form',
                    value : form
                });
            },

            async onUpdate() {
                if(this.validation()) {

                    let token = window.localStorage.getItem("token");
                    let payload = { ...this.form };
                    payload.birthdate = moment(new Date(payload.birthdate) ).format('YYYY-MM-DD');
                    try {
                        const response = await axios.post(
                            window.public_url + `/api/auth/update`, payload,
                            {
                                headers: {
                                    Authorization: "Bearer " + token,
                                    "Content-Type": "application/json",
                                    "X-Requested-With": "XMLHttpRequest"
                                }
                            }
                        );

                        let data = response.data;
                        if(data.status === 'success'){
                            eventBus.$emit("openNotificationAlertModal", {title:"Success", message:"You information saved."});
                        }else{
                            eventBus.$emit("openNotificationAlertModal", {title:"Error", message:"Error while updating your info."});
                        }
                        
                    } catch (error) {
                        // catches both errors
                    }

                    return

                }else{
                    //ERROR HANDLING
                }
            }
        },

    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .form-block {

        ::v-deep .form {
            padding: 20px 35px;
        }

        ::v-deep .validate {
            width: calc(100% - 105px);
            margin-left: auto;
        }
    }

    .datepicker-group {
        .datepicker {
            width: 100%;
        }
    }

    ::v-deep .input-datepicker {
        width: 100%;
    }

    ::v-deep .input-datepicker input{
        @include fs(16);
        width: 100%;
        padding: 10px 18px;
        border: 1px solid;
        border-radius: 2px;
        outline: none;
        border-color: #dadada;

        &::placeholder {
            font-family: $dDin;
            font-weight: 300;
            @include fs(16);
            @include color(#959595);
        }
    }


    .image-label {
        .image {
            position: relative;
            width: 160px;
            border-radius: 100%;
            overflow: hidden;
            margin: 10px;
        }

        .deco {
            position: absolute;
            width: 40px;
            bottom: 25px;
            right: calc(50% - 20px);
            left: calc(50% - 20px);
        }

        .image-upload {
            display: none;
        }
    }


    .inline-input {
        display: flex;
        flex-flow: row nowrap;
        flex-direction: row;
        align-items: center;
        ::v-deep .placeholder {
            width: calc(100% - 105px);
            right: 0;
        }
    }

    .form-mobile {
        &.inline {
            label {
                width: 100%;
            }

            ::v-deep .label-default {
                width: 100%;
                max-width: 100px;
            }

            ::v-deep .label-text {
                width: calc(100% - 130px);
            }

            .inline-input {
                ::v-deep .placeholder {
                    width: calc(100%);
                }
            }
        }
    }

    .profile-header {
        @include background($primary);
        @include color($white);
        margin: 0;
        padding: 20px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        margin-bottom: 20px;

        .title {
            @include fs(24);
            font-weight: 600;
        }

        .number {
            @include fs(18);
            font-weight: 600;
        }
    }
</style>
