<template>
    <div class="payment-block">
        <div class="title">
            <p>My Payment</p>
        </div>
        <div class="data-loop"  v-for = 'data in cards'>
            <Group direction = 'center'>
                <LabelRadio>
                    <div class="radio">
                        <input class='input input-radiobox' type="radio" name="payment" value='' :checked = "data.checked"/>
                        <RadioIcon />
                    </div>
                    <div class="payment">
                        <span>{{ data.four_digits }}</span>
                        <span>{{ data.card_name }},</span>
                        <span>{{ data.expiry_date }}</span>
                    </div>
                </LabelRadio>
                <div class="action">
                    <a href="#" class='co-primary' :id="data.id"  @click.prevent = 'deletePayment(data.id)'>
                        Delete
                    </a>
                </div>
            </Group>
        </div>
        <a href="#" class='co-primary' @click.prevent = 'openPayment()'>
            <i class='fas fa-plus'></i>
            <span>Add New Card</span>
        </a>
    </div>
</template>

<script>
    import Group from './../../../../Components/Form/Fieldset/Group.vue'
    import LabelRadio from './../../../../Components/Form/Radiobox/Label.vue'
    import RadioIcon from './../../../../Components/Form/Radiobox/Icon.vue'
    import {hostname, protocol} from "../Store/actions";
    import axios from "axios";
    import {store} from "../Store/store";

    export default {
        components : {
            Group,
            LabelRadio,
            RadioIcon
        },

        computed: {
            cards()
            {
                return this.$store.getters.cards;
            }
        },

        // data() {
        //     return {
        //         payment: [
        //             {
        //                 id: 1,
        //                 card_name: 'Amy Adam',
        //                 card_number : '4929589540699560',
        //                 card_expiry : '11/2024',
        //                 checked : true,
        //             }
        //         ]
        //     }
        // },

        filters: {
            credit_masking : function (text) {
                return text.replace(/.(?=.{4})/g, '#');
            },
        },

        methods : {
            openPayment() {
                this.$emit('AddPayment');
            },

            deletePayment(id) {
                // console.log(id)

                let token = localStorage.getItem('token');

                var config = {
                    method: 'post',
                    url:  protocol + '//' + hostname +'/api/consumer/card-delete',
                    headers: {
                        'X-Requested-With' : 'XMLHttpRequest',
                        'Authorization' : 'Bearer ' + token,
                        'Content-Type' : 'application/json',
                    },
                    data: {
                        card_id: id
                    }
                };

                axios(config)
                    .then(function (response) {
                        store.commit('updateCardsInfo', response.data.data);
                        if(response.data.status === 'success'){
                            eventBus.$emit("openNotificationAlertModal", {title:"Success", message:"Card has been deleted"});
                        }else{
                            eventBus.$emit("openNotificationAlertModal", {title:"Error", message:"Error while updating your info."});
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        eventBus.$emit("openNotificationAlertModal", {title:"Error", message:"Error while updating your info.[2]"});
                    });

                this.$emit('DeletePayment')

            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .payment-block {
        padding: 10px 35px 20px;
        .title {
            @include fs(22);
            font-weight: 600;
            margin-bottom: 10px;
        }

        .data-loop {
            border-top: 1px solid;
            border-bottom: 1px solid;
            @include border(#dddddd);
            padding: 0 20px;
            margin-bottom: 10px;
            font-weight: 600;

            .radio {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
            }

            .payment {
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 40px);
                margin-right: auto;
                padding-right: 20px;
            }
        }

        a{
            display: block;
            font-weight: 600;
            padding: 10px 20px;
            @include fs(18);
        }
    }

    ::v-deep .form-radiobox {
        width: 100%;
    }

    .co-primary {
        @include color($primary);
    }
</style>
