<template>
    <div class="form-block">
        <Group formHeader>
            <Group>
                <LabelText>
                    <Name name = 'First Name' important/>
                    <InputText
                        v-model = 'form.first_name'
                        :error = 'validate.first_name'
                        placeholder = 'First Name'
                    />
                    <Validate
                        v-if = 'validate.first_name'
                        :text = 'validate.text_first_name'
                    />
                </LabelText>
                <LabelText>
                    <Name name = 'Last Name' important/>
                    <InputText
                        v-model = 'form.last_name'
                        :error = 'validate.last_name'
                        placeholder = 'Last Name'
                    />
                    <Validate
                        v-if = 'validate.last_name'
                        :text = 'validate.text_last_name'
                    />
                </LabelText>
            </Group>
            <br>
            <Group>
                <LabelText>
                    <Name name = 'Message' important/>
                    <AreaText
                        v-model = 'form.message'
                        :error = 'validate.message'
                        placeholder = 'Message'
                    />
                    <Validate
                        v-if = 'validate.message'
                        :text = 'validate.text_message'
                    />
                </LabelText>
            </Group>
            <Group>
                <p class='co-primary respond-text'>Thanks! We’ll respond back by email & phone.</p>
            </Group>
            <Group>
                <LabelText>
                    <Name name = 'Mobile Number' important/>
                    <InputText
                        v-model = 'form.mobile'
                        :error = 'validate.mobile'
                        placeholder = 'Mobile Number'
                    />
                    <Validate
                        v-if = 'validate.mobile'
                        :text = 'validate.text_mobile'
                    />
                </LabelText>
                <LabelText>
                    <Name name = 'Email' important/>
                    <InputText
                        v-model = 'form.email'
                        :error = 'validate.email'
                        placeholder = 'Email'
                    />
                    <Validate
                        v-if = 'validate.email'
                        :text = 'validate.text_email'
                    />
                </LabelText>
            </Group>
        </Group>
        <br>
        <GroupBtn>
            <ButtonBtn name='Send It' pill color = 'primary' size = 'medium' @click.native = 'onSubmit()'/>
        </GroupBtn>
        <br>
        <Group>
            <Validate
                v-if = 'validate.general',
                :text = 'validate.text_general'
                :success = 'validate.general_status'
            />
        </Group>
    </div>
</template>

<script>
    import Group from './../../../../Components/Form/Fieldset/Group.vue'
    import Label from './../../../../Components/Form/Fieldset/Label.vue'
    import Name from './../../../../Components/Form/Fieldset/Name.vue'
    import Placeholder from './../../../../Components/Form/Fieldset/Placeholder.vue'

    import LabelText from './../../../../Components/Form/Text/Label.vue'
    import InputText from './../../../../Components/Form/Text/Input.vue'
    import AreaText from './../../../../Components/Form/Text/Area.vue'

    import Validate from './../../../../Components/Form/Validate/Validate.vue'

    import GroupBtn from './../../../../Components/Button/Group.vue'
    import ButtonBtn from './../../../../Components/Button/Button.vue'

    export default {
        components : {
            Group,
            Label,
            Name,
            Placeholder,

            LabelText,
            InputText,
            AreaText,
            Validate,

            GroupBtn,
            ButtonBtn
        },

        data() {
            return {
                validate: {
                   first_name : false,
                   text_first_name : '',
                   last_name : false,
                   text_last_name : '',
                   message : false,
                   text_message : '',
                   mobile : false,
                   text_mobile : '',
                   email : false,
                   text_email : '',

                   general: false,
                   text_general: '',
               }
            }
        },

        computed : {
            form () {
                return this.$store.getters.form;
            },
        },

        methods : {
            validation() {
                if(this.form.first_name === '') {
                    this.validate.first_name = true;
                    this.validate.text_first_name = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.first_name = false;
                    this.validate.text_first_name = '';
                }

                if(this.form.last_name === '') {
                    this.validate.last_name = true;
                    this.validate.text_last_name = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.last_name = false;
                    this.validate.text_last_name = '';
                }

                if(this.form.message === '') {
                    this.validate.message = true;
                    this.validate.text_message = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.message = false;
                    this.validate.text_message = '';
                }

                if(this.form.mobile === '') {
                    this.validate.mobile = true;
                    this.validate.text_mobile = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.mobile = false;
                    this.validate.text_mobile = '';
                }

                if(this.form.mobile !== '') {
                    let regex = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/gmi;
                    if(!regex.test(this.form.mobile)){
                        this.validate.mobile = true;
                        this.validate.text_mobile = 'Please provide a valid mobile number. Ex: 60123456789 / 0123456789'
                        return false
                    }
                } else {
                    this.validate.mobile = false;
                    this.validate.text_mobile = '';
                }

                if(this.form.email === '') {
                    this.validate.email = true;
                    this.validate.text_email = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.email = false;
                    this.validate.text_email = '';
                }

                if(this.form.email !== '') {
                    let regex = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
                    if(!regex.test(this.form.email)){
                        this.validate.email = true;
                        this.validate.text_email = 'Please provide a valid email address'
                        return false
                    }
                } else {
                    this.validate.email = false;
                    this.validate.text_email = '';
                }

                return true
            },

            clearform() {

                let form = {
                    first_name : '',
                    last_name : '',
                    message : '',
                    mobile : '',
                    email : '',
                }

                this.$store.dispatch('updateStateObject', {
                    key : 'form',
                    value : form
                });
            },

            onSubmit() {
                if(!this.validation()) {
                    return
                }
            }
        },

    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .form-block {
        padding-top: 20px;
    }

    .co-primary {
        @include color($primary);
    }

    .respond-text {
        @include fs(20);
        font-weight: 600;
        text-align: center;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 25px;
    }
</style>
