<template>
    <div class="tab-block">
        <a v-for = 'data in link' class="tab-link" :class="{'active' : data.active}" :href="route_url(data.url)">
            {{ data.title }}
        </a>
    </div>
</template>

<script>
    export default {
        props : {
            link: Array,
        },

        methods : {
            route_url(key) {
                return window.menu_routes[key]
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .tab-block {
        display: flex;
        flex-flow: column nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .tab-link {
            width: 100%;
            padding: 10px 20px;
            border: 1px solid;
            border-radius: 30px;
            text-align: center;
            font-weight: 600;
            @include fs(18);
            @include background($white);
            @include border($primary-50);
            @include color($primary-50);
            @include trans-prop(background-color, color);

            &.active, &:hover {
                @include background($primary);
                @include color($white);
                @include trans-prop(background-color, color);
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:first-child {
                margin-right: 0;
            }

            &:last-child {
                margin-left: 0;
            }
        }

        @include media(sm-up) {
            flex-flow: row nowrap;
            flex-direction: row;

            .tab-link {
                max-width: 300px;
                &:not(:last-child) {
                    margin-bottom: 0;
                }

                &:first-child {
                    margin-right: 10px;
                }

                &:last-child {
                    margin-left: 10px;
                }
            }
        }
    }
</style>
