<template>
    <div class="event-block">
        <div class="deco">
            <img :src="public_url + '/frontend/img/landing/bg-bottom.png'" alt="deco image">
        </div>
        <div class="container-fluid">
            <agile class='fluid' :options = 'agile' v-if="events">
                <div class='agile-wrapper' v-for='data in events'>
                    <EventCard :data = 'data' />
                </div>
                <template slot="prevButton">
                    <img :src="public_url + '/frontend/img/icon/carousel/left.png'" alt="">
                </template>
                <template slot="nextButton">
                    <img :src="public_url + '/frontend/img/icon/carousel/right.png'" alt="">
                </template>
            </agile>
        </div>
    </div>
</template>

<script>
    import EventCard from './Card/Event.vue'

    export default {
        components : {
            EventCard
        },

        data() {
            return {
                agile: {
                    autoplay: false,
                    autoplaySpeed: 5000,
                    speed: 2500,
                    dots: false,
                    pauseOnHover: true,
                    pauseOnDotsHover: true,
                },

                events : [
                    {
                        id: 1,
                        title : "Promotion 1",
                        description : "Watch this space for culinary events at Lavo Cloud Kitchen",
                        image : "/frontend/img/landing/story-event.png",
                        date : "1 December",
                        day : "Saturday",
                        time : "1 PM"
                    },
                    {
                        id: 2,
                        title : "Promotion 2",
                        description : "Watch this space for culinary events at Lavo Cloud Kitchen",
                        image : "/frontend/img/landing/story-event.png",
                        date : "1 December",
                        day : "Saturday",
                        time : "1 PM"
                    },
                    {
                        id: 3,
                        title : "Promotion 3",
                        description : "Watch this space for culinary events at Lavo Cloud Kitchen",
                        image : "/frontend/img/landing/story-event.png",
                        date : "1 December",
                        day : "Saturday",
                        time : "1 PM"
                    },
                ]
            }
        },

        computed : {
            public_url() {
                return window.public_url
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "./../../config/config.scss";

    .event-block {
        position: relative;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .deco {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 800px;
        user-select: none;
        pointer-events: none;
    }
</style>

<style lang="scss">
    @import "./../../config/config.scss";

    .fluid{
        .agile{
            &__list {
                max-width: 1440px;
                margin: 0 auto;
            }
        }
    }

    .agile{
        &__nav-button {
            @include background($primary-50);
            border: none;
            color: #fff;
            cursor: pointer;
            font-size: 24px;
            position: absolute;
            top: calc(50% - 45px);
            bottom: calc(50% - 45px);
            transition-duration: .3s;
            width: 70px;
            &:hover {
                @include background($primary);
                opacity: 1;
                @include trans-prop(background-color)
            }

            &--prev{
                left: -15px;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
            }
            &--next{
                right: -15px;
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
            }

            img{
                width: 43px;
                margin: 0 auto;
            }
        }
        &__dots{
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__dot{
            margin: 0 10px;
            button {
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 50%;
                cursor: pointer;
                display: block;
                height: 10px;
                font-size: 0;
                line-height: 0;
                margin: 0;
                padding: 0;
                transition-duration: 0.3s;
                width: 10px;
            }
            &:hover,
            &--current{
                button {
                    background-color: #fff;
                }
            }
        }

    }
</style>
