<template>
    <div class="hero-block overlap">
        <div class="banner image">
            <img :src="public_url + '/frontend/img/banner/banner.png'" alt="Landing Banner Desktop" class="desktop" v-if="is641">
            <img :src="public_url + '/frontend/img/banner/banner.png'" alt="Landing Banner Mobile" class="mobile" v-else>
            <div class="banner hero">
                <div class="half-block consumer"
                    @mouseover="consumer = true"
                    @mouseleave="consumer = false">
                    <div class="title">
                        <p>I'M <br> HUNGRY</p>
                    </div>
                    <div class="subtitle" v-if="consumer">
                        <p>Pick your favourite food & beverage and feed your growling belly</p>
                    </div>
                    <GroupButton>
                        <LinkButton name = 'Order Now'  image="/frontend/img/icon/arrow-red.png" :link = "route_url('frontend.consumer')" pill size='large'/>
                    </GroupButton>
                </div>
                <div class="half-block kitchen"
                    @mouseover="kitchen = true"
                    @mouseleave="kitchen = false">
                    <div class="title">
                        <p>I'M  <br> A COOK</p>
                    </div>
                    <div class="subtitle" v-if="kitchen">
                        <p>Rent a commercial kitchen to grow your food business quickly</p>
                    </div>
                    <GroupButton position = 'right'>
                        <LinkButton name = 'Know More' image="/frontend/img/icon/arrow-red.png" :link = "route_url('frontend.chef')" pill size='large'/>
                    </GroupButton>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Media from './../../config/media.js'
    import GroupButton from './../../Components/Button/Group.vue'
    import LinkButton from './../../Components/Button/Link.vue'

    export default {
        extends: Media,

        components : {
            GroupButton,
            LinkButton
        },

        data() {
            return {
                consumer : false,
                kitchen : false,
            }
        },

        computed : {
            public_url() {
                return window.public_url
            }
        },

        methods : {
            route_url(key) {
                return window.menu_routes[key]
            }
        },

        created() {
            this.checkMobile()
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../config/config.scss';

    .hero-block {
        position: relative;
        width: 100%;
        height: 100vh;

        &.overlap {
            margin-top: -88px;

            @include media(md-up) {
                margin-top: -115px;
            }
        }
    }

    .image {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        img{
            height: 100%;
            pointer-events: none;
            object-fit: cover;
            object-position: center;
        }
    }

    .hero {
        position: absolute;
        top: 0;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        flex-flow: column wrap;

        @include media(md-up) {
            flex-direction: row;
            flex-flow: row wrap;
        }
    }

    .half-block {
        display: flex;
        flex-flow: column nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px;
        width: 100%;
        height: 50%;

        @include media(md-up) {
            width: 50%;
            height: 100%;
        }

        @include trans-prop(background-color);

        &:hover {
            @include background($primary, .5);
            @include trans-prop(background-color);
        }


        &.consumer {
            align-items: flex-start;
            text-align: left;
            .title {
                @include color($primary);
                @include trans-prop(color);
            }

            &:hover {
                .title {
                    @include color($white);
                    @include trans-prop(color);
                }
            }
        }

        &.kitchen {
            align-items: flex-end;
            text-align: right;
            .title {
                @include color($white);
                @include trans-prop(color);
            }
        }

        .title {
            @include fs(100);
            font-weight: 600;
            line-height: 1;
            padding-bottom: 20px;
            text-shadow: 0 2px 3px rgba(0, 0, 0, .5);
        }

        .subtitle {
            @include fs(32);
            font-weight: 600;
            line-height: 1.2;
            width: 60%;
            padding-bottom: 20px;
            @include color($white);
        }
    }
</style>
