<template>
    <div class="story-block">
        <div class="deco">
            <img :src="public_url + '/frontend/img/landing/bg-top.png'" alt="deco image">
        </div>
        <div class="container">
            <div class="title">
                <p>Let's build bridges, <span class='co-primary'>together.</span> </p>
            </div>
            <div class="holder">
                <div class="image-wrapper">
                    <img :src="public_url + '/frontend/img/landing/story-main.png'" alt="Story Event">
                </div>
                <div class="text-wrapper">
                    <div class="title-fancy">
                        <p class= 'fancy'>Discover</p>
                        <p>Our Story</p>
                    </div>
                    <div class="description">
                        <p>It all starts with a digital platform. Through this platform, Lavo  Cloud Kitchen connects people who are looking for good food with home cooks and foodpreneurs who are ready to provide them. The best part is, we also take care of the delivery so businesses focus on producing good meals and they are delivered fresh to the customers right to their doorstep – a truly advantageous arrangement for all!</p>
                    </div>
                    <div class="button">
                        <a href="#">
                            <span>View More</span>
                            <img :src="public_url + '/frontend/img/icon/arrow-red.png'" alt="">
                        </a>
                    </div>
                </div>
                <div class="text-deco">
                    <img :src="public_url + '/frontend/img/icon/element1.png'" alt="">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed : {
            public_url() {
                return window.public_url;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../config/config.scss';

    .story-block {
        position: relative;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .title {
        @include fs(75);
        text-align: center;
        font-weight: 600;
        z-index: 1;
        position: relative;
    }

    .holder {
        position: relative;
        border: 1px solid;
        @include border(#dddddd);
        @include background($white);
        margin: 40px 0;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
        z-index: 1;

        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: stretch;

        .image-wrapper {
            width: 40%;
            img {
                height: 100%;
                object-fit: cover;
            }
        }

        .text-wrapper {
            width: 60%;
            @include color($black);
            padding: 40px;
        }
    }

    .title-fancy {
        text-align: left;
        line-height: 1;
        @include fs(50);
        font-weight: 600;
        padding-bottom: 40px;

        p.fancy {
            font-family: $learningCurve;
            font-weight: 400;
            @include color($primary);
        }
    }

    .description {
        @include fs(20);
        padding-bottom: 20px;
    }

    .button {
        @include fs(20);

        img{
            display: inline-block;
            vertical-align: middle;
            width: 35px;
            transform: translateX(0);
            @include trans-prop(transform)
        }

        a{
            font-weight: 600;
            &:hover {
                img{
                    transform: translateX(5px);
                    @include trans-prop(transform)
                }
            }
        }
    }

    .co-primary {
        @include color($primary);
    }

    .deco {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 400px;
        user-select: none;
        pointer-events: none;
    }

    .text-deco {
        position: absolute;
        bottom: -45px;
        right: -45px;
        width: 100%;
        max-width: 200px;
        user-select: none;
        pointer-events: none;
    }
</style>
