<template>
	<div class="checkbox">
		<input class="ckeckstyle" v-model="temp" :id="'check' + data.id" type="checkbox" name="'check' + data.id" :value="data.id">
		<label class="labelstyle" :for="'check' + data.id">{{data.name}}</label>
	</div>
</template>

<script>
export default {
    props: {
            data: Object,
            selItem: Array,
    },
    computed: {
        temp: {
            get: function() {
                return this.selItem;
            },
            set: function(newValue) {
                this.$emit("update:selItem", newValue);
            }
        }
  }
};
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

.ckeckstyle {
	display: none;
}

.labelstyle {
	display: inline-block;
	padding: 0 0 0 1em;
	cursor: pointer;
}
.labelstyle:before {
	content: '';
	display: inline-block;
	background: #be2026;
	position: relative;
	left: 0;
	top: 1px;
	height: 15px;
	width: 15px;
	margin-right: 10px;
	border-radius: 80%;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(190,32,38,0.5);
    -moz-box-shadow: 0px 0px 0px 1px rgba(190,32,38,0.5);
    box-shadow: 0px 0px 0px 1px rgba(190,32,38,0.5);
	box-sizing: border-box;
	border: 8px solid #fff;
	transition: border .3s ease;
}

.ckeckstyle:checked + .labelstyle:before {
	border-color: #fff;
	border-width: 3px;
}

</style>
