@font-face {
    font-family: 'Learning Curve';
    src: url('./../../../public/frontend/fonts/learning-curve/LearningCurve-Bold.eot');
    src: url('./../../../public/frontend/fonts/learning-curve/LearningCurve-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../../../public/frontend/fonts/learning-curve/LearningCurve-Bold.woff') format('woff'),
        url('./../../../public/frontend/fonts/learning-curve/LearningCurve-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Learning Curve';
    src: url('./../../../public/frontend/fonts/learning-curve/LearningCurve.eot');
    src: url('./../../../public/frontend/fonts/learning-curve/LearningCurve.eot?#iefix') format('embedded-opentype'),
        url('./../../../public/frontend/fonts/learning-curve/LearningCurve.woff') format('woff'),
        url('./../../../public/frontend/fonts/learning-curve/LearningCurve.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'D-DIN';
    src: url('./../../../public/frontend/fonts/d-din/D-DIN.eot');
    src: url('./../../../public/frontend/fonts/d-din/D-DIN.eot?#iefix') format('embedded-opentype'),
        url('./../../../public/frontend/fonts/d-din/D-DIN.woff') format('woff'),
        url('./../../../public/frontend/fonts/d-din/D-DIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'D-DIN';
    src: url('./../../../public/frontend/fonts/d-din/D-DIN-Bold.eot');
    src: url('./../../../public/frontend/fonts/d-din/D-DIN-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../../../public/frontend/fonts/d-din/D-DIN-Bold.woff') format('woff'),
        url('./../../../public/frontend/fonts/d-din/D-DIN-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
