<template>
    <div class="minusplusnumber" :class="sizeClass">
        <div class="mpbtn minus" :class="sizeClass" v-on:click="mpminus()">
            -
        </div>
        <div id="field_container">
            <input
                type="number"
                :class="[sizeClass, textweightClass]"
                v-model="newValue"
                disabled
            />
        </div>
        <div class="mpbtn plus" :class="sizeClass" v-on:click="mpplus()">
            +
        </div>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            default: 0,
            type: Number
        },
        min: {
            default: 0,
            type: Number
        },
        max: {
            default: undefined,
            type: Number
        },
        size: String,
        textweight: String
    },

    data() {
        return {
            newValue: 0
        };
    },

    methods: {
        getNotificationClass(notification) {
            return `alert alert-${notification.type}`;
        },
        mpplus: function() {
            if (this.max === undefined || this.newValue < this.max) {
                this.newValue = this.newValue + 1;
                this.$emit("input", this.newValue);
            }
        },
        mpminus: function() {
            if (this.newValue > this.min) {
                this.newValue = this.newValue - 1;
                this.$emit("input", this.newValue);
            }
        }
    },
    watch: {
        value: {
            handler: function(newVal, oldVal) {
                this.newValue = newVal;
            }
        }
    },
    created: function() {
        this.newValue = this.value;
    },
    computed: {
        sizeClass() {
            return this.size === undefined ? (this.size = "small") : this.size;
        },
        textweightClass() {
            return this.textweight === undefined
                ? (this.textweight = "regular")
                : this.textweight;
        }
    }
};
</script>
<style lang="scss" scoped>
.minusplusnumber {
    background-color: #fff;
    margin: 0 5px 0 5px;
    display: inline-block;
    user-select: none;
    &.small {
        font-size: 15px;
    }
    &.large {
        font-size: 24px;
    }
}
.minusplusnumber div {
    display: inline-block;
}
.minusplusnumber #field_container input {
    text-align: center;
    border: none;
    margin-left: 10px;
    &.small {
        width: 50px;
    }
    &.large {
        width: 100px;
    }
    &.bold {
        font-weight: 600;
    }
}
.minusplusnumber {
    .mpbtn {
        cursor: pointer;
        background-color: #be2026;
        color: #fff;
        font-weight: 600;
        &.small {
            padding: 3px 12px 3px 12px;
        }
        &.large {
            padding: 10px 24px 10px 24px;
        }
    }
}
.minusplusnumber .mpbtn:hover {
    background-color: #be2026;
}
.minusplusnumber .mpbtn:active {
    background-color: #be2026;
}
</style>
