<template>
    <div class="wrapper-footer">
        <div class="container flex-footer">
            <Copyright />
            <Social />
        </div>
    </div>
</template>

<script>
    import Copyright from './Components/Copyright.vue'
    import Social from './Components/Social.vue'

    export default {
        components : {
            Copyright,
            Social
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../config/config.scss';

    .wrapper-footer {
        @include background($black)
    }

    .flex-footer {
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;

        @include media(sm-up) {
            flex-direction: row;
            flex-flow: row nowrap;
        }
    }
</style>
