<template>
<div class="star-rating">
    <label class="star-rating__star" v-for="rating in ratings"
        :class="{'is-disabled': disabled}"
        @click="set(rating)"
        @mouseover="star_over(rating)"
        @mouseout="star_out">
            <input class="star-rating star-rating__checkbox" type="radio" :value="rating" :name="name" v-model="new_value" :disabled="disabled">
            <img :src="public_url + '/frontend/img/deco/rating-selected.png'" alt="" v-if=' ((new_value >= rating) && new_value != null)'>
            <img :src="public_url + '/frontend/img/deco/rating.png'" alt="" v-else>
        </label>
</div>
</template>

<script>
    export default {
        props: {
           'name': String,
           'value': null,
           'id': String,
           'disabled': Boolean,
           'required': Boolean
         },

         data: function() {
            return {
                temp_value: null,
                new_value: this.value,
                ratings: [1, 2, 3, 4, 5]
            }
        },

        computed : {
            public_url() {
                return window.public_url;
            },
            get_rating() {
                return this.value;
            }
        },

        methods : {
            star_over: function(index) {
                var self = this;
                if (!this.disabled) {
                    this.temp_value = this.new_value;
                    return this.new_value = index;
                }
            },

            star_out: function() {
                var self = this;
                if (!this.disabled) {
                    return this.new_value = this.temp_value;
                }
            },
            set: function(value) {
                var self = this;
                if (!this.disabled) {
                    this.temp_value = value;
                    return this.new_value = value;
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
    %visually-hidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px; width: 1px;
        margin: -1px; padding: 0; border: 0;
    }

    .star-rating {
        width: 100%;
        &__star {
            display: inline-block;
            padding: 3px;
            vertical-align: middle;
            line-height: 1;
            width: 60px;
            color: #ABABAB;
            transition: color .2s ease-out;

            &:hover {
                cursor: pointer;
            }

            &.is-selected {
                color: #FFD700;
            }

            &.is-disabled:hover {
                cursor: default;
            }
        }

        &__checkbox {
            @extend %visually-hidden;
        }
    }

</style>
