<template>
    <div class="wrapper-content">
        <CustomBanner :banner = "banner" overlap>
             <template v-slot:hero-text>
                <div class="hero-text">
                    <h1 class="heading-1 text-shadow">
                        <span class="co-primary">You cook,</span> we'll do the rest
                    </h1>
                    <h3 class="heading-3 text-shadow">
                        Grow your restaurant business with lower risk and higher return
                    </h3>
                    <br>
                    <br>
                    <GroupButton>
                        <LinkButton name = "Schedule A Tour" link = "#" color="primary" pill size="medium"/>
                    </GroupButton>
                </div>
            </template>
        </CustomBanner>
        <CustomBanner :banner = "banner" size='large' direction="top">
            <template v-slot:hero-text>
                <div class="hero-text" style="padding-top: 80px; padding-bottom: 80px;">
                    <h2 class='heading-2 font-learning co-primary line-1'>What is</h2>
                    <h2 class='heading-2 co-white'>Lavo Cloud Kitchen</h2>
                    <p class='paragraph-2 width-2 co-white'>Lavo Cloud Kitchen offers cooking space for every culinary requirement, duration and budget. From long-term purpose-built commercial kitchens to cooking studios on shared basis. Let Lavo Cloud Kitchen take care of property management and maintance so that you can focus on growing your busines.</p>
                    <br>
                    <br>
                    <GroupButton>
                        <LinkButton name = "Know More" link = "#" pill size="medium"/>
                    </GroupButton>
                </div>
            </template>
        </CustomBanner>
    </div>
</template>

<script>
    import CustomBanner from './Components/Banner/Custom.vue'
    import GroupButton from './../../Components/Button/Group.vue'
    import LinkButton from './../../Components/Button/Link.vue'

    export default {
        components : {
            CustomBanner,
            GroupButton,
            LinkButton
        },

        data() {
            return {
                banner : {
                    image_desktop: '/frontend/img/banner/banner.png',
                    image_mobile: '/frontend/img/banner/banner.png',
                    title: "You cook, we'll do the rest",
                    subtitle: "Grow your restaurant business with lower risk and higher return"
                }
            }
        }
    }
</script>
