<template>
    <div class="banner-component" :class = "bannerClass">
        <div class="banner image" :class = "sizeClass">
            <img :src="banner.image_desktop" :alt="banner.title + ' - ' + banner.subtitle" class="desktop" v-if="is641">
            <img :src="banner.image_mobile" :alt="banner.title + ' - ' + banner.subtitle" class="mobile" v-else>
        </div>
        <div class="banner hero" :class = "direction">
            <div class="hero-text">
                <h1>
                    {{ banner.title }}
                </h1>
                <h3>
                    {{ banner.subtitle }}
                </h3>
            </div>
        </div>
    </div>
</template>

<script>
    import Media from './../../config/media.js'

    export default {
        extends: Media,

        props: {
            banner: Object,
            overlap: Boolean,
            direction: String,
            size: String,
        },

        data() {
            return {
                isOverlap : this.overlap,
            }
        },

        computed : {
            bannerClass : function() {
                return {
                    'overlap' : this.isOverlap,
                }
            },

            sizeClass : function () {
                return this.size ? this.size : ''
            },
        },

        created() {
            this.checkMobile()
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../config/config.scss';

    .banner-component {
        position: relative;
        width: 100%;
        height: 100%;

        &.overlap {
            margin-top: -88px;

            @include media(md-up) {
                margin-top: -115px;
            }
        }
    }

    .image {
        overflow: hidden;
        width: 100%;
        height: 100%;
        img{
            height: 100vh;
            pointer-events: none;
            object-fit: cover;
            object-position: center;
        }

        &.small{
            img{
                height: 40vh;
            }
        }

        &.medium{
            img{
                height: 60vh;
            }
        }

        &.large{
            img{
                height: 80vh;
            }
        }
    }

    .hero {
        position: absolute;
        top: 0;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        &.top{
            justify-content: flex-start;
        }
        &.bottom{
            justify-content: flex-end;
        }
        &.left{
            align-items: flex-start;
        }
        &.right{
            align-items: flex-end;
        }

        &-text {
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;

            h1 {
                @include fs(60);
            }

            h3 {
                @include fs(30);
            }
        }
    }
</style>
