<template>
    <div class="wrapper-content">
        <FilterBar />
        <div class="main-container">
            <div class="content-main">
                <Searchresult :basketstate="basketstate"/>    
            </div>
            <div class="content-side" :class="sidebarstatus">
                <Orderbasket />
            </div>
        </div>
    </div>
</template>

<script>
import FilterBar from "../../Components/Filterbar/Filterbar.vue";
import CuisineBlock from "../Index/Components/Cuisine.vue";
import Searchresult from "./Components/Searchresult.vue";
import Orderbasket from "../Components/Orderbasket/Orderbasket.vue";

export default {
    name: 'ConsumerSearch',
    components: {
        FilterBar,
        CuisineBlock,
        Searchresult,
        Orderbasket
    },
    data() {
        return {
            sidebarstatus: '',
        }
    },
    computed : {
        basketstate() {
            return this.$store.getters.basketState
        }
    },
    created() {
        this.changebasketstate(this.basketstate);
        this.$root.$on("hideBasket", basketstate => {
            this.changebasketstate();
        });
    },
    methods: {
        changebasketstate() {
            this.sidebarstatus = this.basketstate === 'active' ? '' : 'hide';
        }
    },
};
</script>

<style lang="scss" scoped>
    @import "./../../config/config.scss";

    .main-container {
        display: flex;

    }
    .content-side {
        display: block;
        width: 480px;
        border: 1px solid #DDDDDD;
        opacity: 1;
    }
    .hide {
        display: none;
    }
    .content-main {
        width: 100%;
    }
</style>
