<template>
    <div class="credit-debit-block">
        <div class="data-loop"  v-for = 'data in cards' :key ='data.id'>
            <Group direction = 'center'>
                <LabelRadio>
                    <div class="radio">
                        <input class='input input-radiobox' @change="updateSelectedCard"  type="radio" v-model="selected_card" name="paymentCard" :value="data.id" :checked = "data.checked"/>
                        <RadioIcon />
                    </div>
                    <div class="payment">
                        <span>{{ data.four_digits }}</span>
                        <span>{{ data.card_name }},</span>
                        <span>{{ data.expiry_date }}</span>
                    </div>
                </LabelRadio>
            </Group>
        </div>
         <div class="action">
            <a href="#" class='co-primary' @click.prevent = 'openPayment()'>
                <i class='fas fa-plus'></i>
                <span>Add New Card</span>
            </a>
        </div>
    </div>
</template>

<script>
    import Group from './../../../../Components/Form/Fieldset/Group.vue'
    import LabelRadio from './../../../../Components/Form/Radiobox/Label.vue'
    import RadioIcon from './../../../../Components/Form/Radiobox/Icon.vue'

    export default {
        components : {
            Group,
            LabelRadio,
            RadioIcon
        },

        data() {

            return {
                selected_card: null,
            }
        },

        computed: {

            cards()
            {
                return this.$store.getters.cards;
            }
        },

        filters: {
            credit_masking : function (text) {
                return text.replace(/.(?=.{4})/g, '#');
            },
        },

        methods : {

            updateSelectedCard()
            {
                this.$store.commit('updateSelectedCard', this.selected_card)
                // console.log(this.selected_card)
                // console.log(this.$store.getters.selected_card)
            },

            openPayment() {
                this.$emit('AddPayment');
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .data-loop {
        border-top: 1px solid;
        border-bottom: 1px solid;
        @include border(#dddddd);
        padding: 0 20px;
        margin-bottom: 10px;
        font-weight: 600;

        .radio {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }

        .payment {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 40px);
            margin-right: auto;
            padding-right: 20px;
        }
    }

    .action {
        width: 250px;
    }

    a{
        display: block;
        padding: 10px 20px;
        @include fs(16);
    }

    ::v-deep .form-radiobox {
        width: 100%;
    }

    .co-primary {
        @include color($primary);
    }
</style>
