<template>
    <div class="checkout-block delivery">
        <div class="title">
            <p>Delivery Details</p>
        </div>
        <div class="content">
            <div class="content-block time">
                <p>Delivery Time</p>
                <div class="time-wrapper">
                    <Group formHeader>
                        <Group>
                            <div class="datepicker">
                                <div class="inline-input">
                                    <v-date-picker
                                        @dayclick="updateDeliveryDate"
                                        v-model="form.delivery_date"
                                        color="red"
                                        class='input-datepicker'
                                        :masks="{L: 'DD/M/YYYY'}"
                                        :popover="{ visibility: 'click' }"
                                    >
                                        <template v-slot="{ inputValue, inputEvents }">
                                            <input
                                                class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300"
                                                :value="inputValue !== '' ? inputValue :  form.delivery_date"
                                                v-on="inputEvents"
                                                placeholder="Delivery Date"
                                            />
                                        </template>
                                    </v-date-picker>
                                </div>

                            </div>
<!--                            <div class="datepicker">-->
<!--                                <v-date-picker is-dark-->
<!--                                    color="red"-->
<!--                                    class='input-datepicker'-->
<!--                                    v-model = 'form.delivery_date'-->
<!--                                    :masks="{L: 'MMM DD, WWWW'}"-->
<!--                                    :min-date='new Date()'-->
<!--                                    :input-props="{ placeholder : 'Select Date' }"-->
<!--                                    :popover="{ visibility: 'click' }"-->
<!--                                />-->
<!--                            </div>-->
                            <div class='timepicker'>
                                <vue-timepicker
                                    @input="updateDeliveryTime"
                                    v-model = 'form.delivery_time'
                                    format="HH:mm"
                                    input-width="100%"
                                    placeholder = "Select Time"
                                    hour-label="Hour" minute-label="Minute" apm-label = "Period"
                                    :minute-interval="10"
                                />
                            </div>
                        </Group>
                    </Group>
                </div>
            </div>
            <div class="content-block address">
                <p>Delivery Address</p>
                <div class="address-wrapper">
                    <div class="map-wrapper" v-if="userAddressList.length > 0">
                        <Map />
                    </div>
                    <div class="form-wrapper" v-if="userAddressList.length > 0">
                        <Group formHeader>
                            <Group>
                                <LabelText>
                                    <div class="address-tittle">{{userAddressList[selectedAddress].title}}</div>
                                    <p class="address-full">{{userAddressList[selectedAddress].address}},<br>
                                    {{userAddressList[selectedAddress].postal_code}} {{userAddressList[selectedAddress].city}},<br>
                                    {{userAddressList[selectedAddress].state}}</p>
                                    <InputText
                                        v-model = 'form.floor'
                                        :error = 'validate.floor'
                                        placeholder = 'Floor (optional)'
                                    />
                                    <Validate
                                        v-if = 'validate.floor'
                                        :text = 'validate.text_floor'
                                        :error = 'validate.floor'
                                    />
                                </LabelText>
                            </Group>
                            <Group>
                                <LabelText>
                                    <AreaText
                                        v-model = 'form.remark'
                                        :error = 'validate.remark'
                                        placeholder = 'Note to rider - e.g. Building, Landmark'
                                    />
                                    <Validate
                                        v-if = 'validate.remark'
                                        :text = 'validate.text_remark'
                                        :error = 'validate.remark'
                                    />
                                </LabelText>
                            </Group>
                        </Group>
                    </div>
                    <div class="button-wrapper">
                        <GroupButton>
                            <BtnButton name = 'Add New Address' pill size = 'small' color = 'primary' outline  @click.native = 'addAdress()'/>
                            <BtnButton v-if="userAddressList.length > 1" name = 'Choose Different Address' pill size = 'small' color = 'primary' @click.native = 'chooseAddress()' />
                        </GroupButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Label from './../../../../Components/Form/Fieldset/Label.vue'
    import Name from './../../../../Components/Form/Fieldset/Name.vue'
    import Group from './../../../../Components/Form/Fieldset/Group.vue'
    import SelectForm from './../../../../Components/Form/Select/Select.vue'
    import LabelText from './../../../../Components/Form/Text/Label.vue'
    import InputText from './../../../../Components/Form/Text/Input.vue'
    import AreaText from './../../../../Components/Form/Text/Area.vue'
    import GroupButton from './../../../../Components/Button/Group.vue'
    import BtnButton from './../../../../Components/Button/Button.vue'
    import Validate from './../../../../Components/Form/Validate/Validate.vue'
    import VueTimepicker from 'vue2-timepicker'
    import 'vue2-timepicker/dist/VueTimepicker.css'
    import Map from './Map.vue'

    export default {
        components : {
            Label,
            Name,
            Group,
            SelectForm,
            LabelText,
            InputText,
            AreaText,
            Validate,
            Map,

            GroupButton,
            BtnButton,
            VueTimepicker
        },

        data() {
            return {
                validate : {
                    floor: false,
                    text_floor : '',

                    remark : false,
                    text_remark : '',
                },

                form : {
                    delivery_date: null,
                    delivery_time : '',
                    floor : '',
                    remark : '',
                }
            }
        },

        computed : {
            public_url() {
                return window.public_url;
            },
            selectedAddress(){
                return this.$store.getters.selectedAddress;
            },
            userAddressList() {
                console.log(this.$store.getters.addresses);
                return this.$store.getters.addresses;
            },
        },

        methods : {
            addAdress() {
                this.$emit('AddAddress');
            },

            updateDeliveryDate()
            {
                let dateObj = new Date(this.form.delivery_date)

                let month = dateObj.getMonth()+1;
                month = String(month).padStart(2, '0')
                let day = String(dateObj.getDate()).padStart(2, '0');
                let year = dateObj.getFullYear();
                // console.log(day + '-' + month + '-' + year)
                this.$store.commit('updateDeliveryDate', year + '-' + month + '-' + day)
                // console.log(this.$store.getters.delivery_date)
            },

            updateDeliveryTime()
            {
                this.$store.commit('updateDeliveryTime', this.form.delivery_time)
                // console.log('delivery time')
                // console.log(this.$store.getters.delivery_time)
            },

            chooseAddress() {
                this.$emit('ChooseAddress');
            },

        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .checkout-block {
        position: relative;
        border: 1px solid;
        @include border(#dddddd);
        @include background($white);
        margin-bottom: 20px;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
        padding: 20px 60px;

        .title {
            position: relative;
            @include fs(22);

            &:before {
                content: '1';
                position: absolute;
                display: block;
                top: calc(50% - 25px);
                bottom: calc(50% - 25px);
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                left: -60px;
                @include background($primary);
                padding: 10px;
                padding-left: 0;
                width: 30px;
                @include color($white);
                text-align: center;
            }
        }

        .content {
            padding: 20px 0;
            @include fs(18);

            &-block {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .address-wrapper {
        width: 100%;
        padding: 10px 0;
    }

    .datepicker {
        width: 100%;
        margin-right: 10px;
    }

    ::v-deep .input-datepicker {
        width: 100%;
    }

    ::v-deep .input-datepicker input{
        @include fs(16);
        width: 100%;
        padding: 10px 18px;
        border: 1px solid;
        border-radius: 2px;
        outline: none;
        border-color: #dadada;

        &::placeholder {
            font-family: $dDin;
            font-weight: 300;
            @include fs(16);
            @include color(#959595);
        }
    }

    .timepicker {
        width: 100%;

    }

    .map-wrapper {
        width: 100%;
        height: 250px;
        margin-bottom: 10px;
        border: 1px solid;
        @include border(#dddddd);
        box-shadow: 0 2px 3px rgba(0, 0, 0, .5);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .address-full {
        line-height: 20px;
        padding-bottom: 10px;
    }
</style>

<style lang='scss'>
    @import './../../../../config/config.scss';

    .vue__time-picker {
        width: 100%;

        input.display-time {
            @include fs(16);
            width: 100%;
            height: 100%;
            padding: 10px 18px;
            border: 1px solid;
            border-radius: 2px;
            outline: none;
            border-color: #dadada;

            &::placeholder {
                font-family: $dDin;
                font-weight: 300;
                @include fs(16);
                @include color(#959595);
            }
        }
    }
</style>
