<template>
    <div class="component-section">
        <gmap-autocomplete
            style="display:none"
            class="introInput"
            @place_changed="setPlace"
        >
            <template v-slot:input="slotProps">
                <v-text-field
                    outlined
                    prepend-inner-icon="place"
                    placeholder="Location Of Event"
                    ref="input"
                    v-on:listeners="slotProps.listeners"
                    v-on:attrs="slotProps.attrs"
                >
                </v-text-field>
            </template>
        </gmap-autocomplete>
        <gmap-map
            ref="mymap"
            :center="center"
            :zoom="zoom"
            map-type-id="roadmap"
            v-if="userAddressList.length > 0"
        >
            <gmap-marker
                :position="markers"
                :clickable="true"
                :draggable="true"
                @click="center = m.position"
            ></gmap-marker>
        </gmap-map>
    </div>
</template>

<script>
import { gmapApi } from "vue2-google-maps";
import axios from "axios";

export default {
    data() {
        return {
            center: { lat: 4.2105, lng: 101.9758 },
            markers: { lat: 4.2105, lng: 101.9758 },
            zoom: 6,
        };
    },
    computed: {
        google: gmapApi,
        userAddressList() {
            let selectedAddress = this.$store.getters.selectedAddress;
            if(this.$store.getters.addresses.length > 0 ){
                let address = this.$store.getters.addresses[selectedAddress];
                let addressStr = `${address.address} ${address.city}`;
                this.getCoodinate(addressStr);
            }
            return this.$store.getters.addresses;
        }
    },
    methods: {
        getCoodinate(address) {
            this.$gmapApiPromiseLazy().then(() => {
                const geocoder = new google.maps.Geocoder();

                geocoder.geocode({ address }, (results, status) => {
                    if (status === "OK") {
                        this.zoom = 15;
                        const latitude = results[0].geometry.location.lat();
                        const longitude = results[0].geometry.location.lng();
                        this.initialize(latitude, longitude);
                    } else {
                        //geocode error
                    }
                });
            });
        },
        initialize(latitude, longitude) {
            this.center = { lat: latitude, lng: longitude };
            this.markers = this.center;
        },
        //Change Position When Autocomple selected
        setPlace(place) {
            this.center = {
                lat: place.geometry.location.lat(),
                lng: place.geometry.location.lng()
            };
            this.markers = {
                lat: place.geometry.location.lat(),
                lng: place.geometry.location.lng()
            };
        }
    }
};
</script>

<style lang="scss" scoped>
.component-section {
    width: 100%;
    height: 100%;
}
.vue-map-container {
    width: 100%;
    height: 100%;
}</style
>>
