<template>
    <div class="checkout-block payment">
        <div class="title">
            <p>Payment</p>
        </div>
        <div class="content">
            <div class="content-block payment-method">
                <div class="method-wrapper">
                    <Card stretch>
                        <CardWrapper :card = "isRadio">
                            <LabelRadio>
                                <div class="radiobox-holder">
                                    <input type="radio" name="paymentMethod" class="input input-radiobox"
                                         @click="updatePaymentMethod('gcash')"
                                    />
                                    <i class="radiobox">
                                        <img :src="public_url + '/frontend/img/icon/payment-gcash.png'" alt="G Cash">
                                        <div class="radiobox-text">
                                            <p>GKash : {{ gcash | toFixed(2) | toMYR }}</p>
                                        </div>
                                    </i>
                                </div>
                            </LabelRadio>
                        </CardWrapper>
                        <CardWrapper :card = "isRadio">
                            <LabelRadio>
                                <div class="radiobox-holder">
                                    <input type="radio" name="paymentMethod" class="input input-radiobox"
                                         @click="updatePaymentMethod('credit_debit')"
                                    />
                                    <i class="radiobox">
                                        <img :src="public_url + '/frontend/img/icon/payment-card.png'" alt="Credit / Debit Card">
                                        <div class="radiobox-text">
                                            <p>Credit / Debit Card</p>
                                        </div>
                                    </i>
                                </div>
                            </LabelRadio>
                        </CardWrapper>
                        <CardWrapper :card = "isRadio">
                            <LabelRadio>
                                <div class="radiobox-holder">
                                    <input type="radio" name="paymentMethod" class="input input-radiobox"
                                         @click="updatePaymentMethod('online_banking')"
                                    />
                                    <i class="radiobox">
                                        <img :src="public_url + '/frontend/img/icon/payment-bank.png'" alt="Online Banking">
                                        <div class="radiobox-text">
                                            <p>Online Banking</p>
                                        </div>
                                    </i>
                                </div>
                            </LabelRadio>
                        </CardWrapper>
                    </Card>
                </div>
                <div class="payment-option">
                    <DebitCredit v-if='isPaymentMethodCreditOrDebitCard' @AddPayment = 'AddPayment()'/>
                </div>
            </div>
            <div class="content-block order-placement">
                <p>By making this purchase you agree to our <a :href="route_url('frontend.consumer.term')" class='co-primary'>Terms and Conditions</a>.</p>
                <br>
                <GroupButton full>
                    <BtnButton name = 'Place Order' pill size = 'small' color = 'primary'@click.native.prevent="placeOrder()" />
                    <p class="disclaimer">I agree and I demand that you execute the ordered service before the end of the revocation period. I am aware that after complete fulfillment of the service I lose my right of recission.</p>
                </GroupButton>
            </div>
        </div>
    </div>
</template>

<script>
    import Media from './../../../../config/media.js'
    import GroupButton from './../../../../Components/Button/Group.vue'
    import BtnButton from './../../../../Components/Button/Button.vue'
    import LabelRadio from './../../../../Components/Form/Radiobox/Label.vue'
    import DebitCredit from './DebitCredit.vue'

    import Card from './../../../../Components/Card/Card.vue'
    import CardWrapper from './../../../../Components/Card/Wrapper.vue'
    import axios from 'axios'

    export default {
        extends : Media,

        components : {
            GroupButton,
            BtnButton,
            LabelRadio,
            DebitCredit,
            Card,
            CardWrapper,
        },

        data() {

            console.log(window.localStorage.getItem('token'))

            return {
                gcash: 0,
                paymentMethod : '',
            }
        },

        filters: {
            toFixed : function(price, limit) {
                return price.toFixed(limit);
            },

            toMYR : function(price) {
                return `MYR ${price}`;
            }
        },

        mounted() {

            let token = window.localStorage.getItem("token")

            axios
                .get(window.location.protocol +'//'+window.location.hostname+'/api/consumer/transactions', {
                    headers: {
                        'Authorization': 'Bearer ' + token,
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                })
                .then((response) => {
                    // console.log(response.data.data)

                    this.gcash = parseFloat(response.data.balance) ;

                })
                .catch(error => {

                });

        },


        computed : {
            isRadio() {
                if (this.is801) {
                   return 'one-third'
               } else if (this.is641) {
                   return 'half'
               } else {
                   return 'full'
               }
            },

            public_url() {
                return window.public_url;
            },

            isPaymentMethodOnlineBanking () {
                return this.paymentMethod === 'online_banking';
            },

            isPaymentMethodCreditOrDebitCard () {
                return this.paymentMethod === 'credit_debit';
            },

            isPaymentMethodGCash () {
                return this.paymentMethod === 'gcash';
            }
        },

        methods : {
            route_url(key) {
                return window.menu_routes[key]
            },
            updatePaymentMethod (paymentMethod) {
                this.$emit('updatePaymentMethod', paymentMethod);
                this.paymentMethod = paymentMethod
            },
            AddPayment() {
                this.$emit('AddPayment');
            },
            placeOrder() {


                let chosenPaymentMethod = this.paymentMethod


                let selectedCard = this.$store.getters.selected_card

                // console.log('sampai sini ' + selectedCard)

                let myIndex = this.$store.state.selectedAddress
                let address = this.$store.state.addresses[myIndex]
                let delivery_date = this.$store.getters.delivery_date
                let delivery_time =  this.$store.getters.delivery_time

                var total = parseFloat(this.$store.state.checkOutSummary.total_price_inc_sst)

                if (localStorage.getItem('voucher'))
                {
                    total = total - parseFloat(localStorage.getItem('voucher'))
                    total = parseFloat(total).toFixed(2)
                }

                axios.get(window.public_url + `/set-order`)
                    .then(function (response) {

                        // if set-order is empty, see if localStorage is empty too.




                        // if needed untuk dapatkan 1st layer
                        // let theLayer = JSON.parse(window.localStorage.getItem('firstLayer'));

                        var myOrderInfo = response.data;

                        let myOrderInfoMap = myOrderInfo.map(function ( cart ) {


                            var info = {
                                "menu_id": cart.id,
                                "total_price_exc_sst": total,
                                "qty": 1,
                                "settings" : cart.order.map(function (setting) {

                                    var info2 = {
                                        "id": setting.setting_id,
                                        "name": setting.name,
                                        "total_price": setting.total_price_exc_sst,
                                        "quantity": setting.quantity,
                                        "items": setting.sub_items.map(function (setting) {

                                            var info3 = {
                                                "id": setting.id,
                                                "name": setting.name,
                                                "price": setting.price,
                                                "sub_items": setting.secondary_sub_items
                                            }

                                            return info3

                                        }),
                                    }
                                    return info2;
                                })


                            }

                            return info

                        });

                        let order_details = {
                            "order": {
                                "data": myOrderInfoMap
                            },
                            "address": address.address,
                            "state": address.state,
                            "city": address.city,
                            "postal_code": address.postal_code,
                            "delivery_date": delivery_date,
                            "delivery_timing": delivery_time,
                            "payment_method": chosenPaymentMethod,
                            "selected_card": selectedCard,
                        };


                        var config = {
                            method: 'post',
                            url: 'https://' + window.location.hostname + '/api/consumer/create-order',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                                'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
                                'Content-Type': 'application/json',
                            },
                            data : order_details
                        };



                        axios(config)
                            .then(function (response) {

                                // console.log(response)

                                if (response.data.status === "success")
                                {
                                    // console.log(response.data)

                                    if (selectedCard != 0)
                                    {
                                        window.location.href = 'https://' + window.location.hostname + '/frontend/consumer/order/progress?id=' + response.data.data.id
                                    } else {
                                        window.localStorage.setItem('redirect','https://' + window.location.hostname + '/frontend/consumer/order/progress?id=' + response.data.id)
                                        window.location.href = response.data.data
                                    }


                                }


                            })
                            .catch(function (error) {
                                // console.log(error);
                            });

                    })
                    .catch(function (error) {
                        // handle error
                        // console.log(error);
                    })
                    .then(function () {
                        // always executed
                    });


            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .checkout-block {
        position: relative;
        border: 1px solid;
        @include border(#dddddd);
        @include background($white);
        box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
        padding: 20px 60px;

        .title {
            position: relative;
            @include fs(22);

            &:before {
                content: '3';
                position: absolute;
                display: block;
                top: calc(50% - 25px);
                bottom: calc(50% - 25px);
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                left: -60px;
                @include background($primary);
                padding: 10px;
                padding-left: 0;
                width: 30px;
                @include color($white);
                text-align: center;
            }
        }

        .content {
            padding: 20px 0;
            @include fs(18);

            &-block {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }

        .disclaimer {
            padding: 10px;
            @include fs(12);
            text-align: center;
        }
    }

    .radiobox-holder {
        .radiobox-text {
            @include fs(16);
            text-align: center;
        }
        .input-radiobox {
            & + i.radiobox {
                border: 1px solid;
                border-radius: 5px;
                padding: 12px;
                width: 100%;
                height: 100%;
                @include border(#dadada);
                @include background($white);
                box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
            }
            & + i.radiobox{
                &:after{
                    content: none;
                }
            }
            &:checked + i.radiobox{
                @include border($primary);
                box-shadow: 0 2px 3px rgba(190, 32, 38, 0.5);
                &:after{
                    content: none;
                }

                .radiobox-text {
                    font-weight: 600;
                }
            }
        }
        img {
            width: 80px;
            margin: 0 auto;
            padding: 20px 0;
        }
    }

    .co-primary {
        @include color($primary);
    }
</style>
