<template>
    <div class="checkout-block personal">
        <div class="title">
            <p>Personal Details</p>
            <a :href="route_url('frontend.consumer.profile')" class='edit-button'>
                <img :src="public_url + '/frontend/img/icon/edit.png'" alt="Edit">
                <span>Edit</span>
            </a>
        </div>
        <div class="content">
            <p class='name'>{{credentials.name}}</p>
            <p class="email">{{credentials.email}}</p>
            <p class="mobile">{{credentials.contact_number}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        computed : {
            public_url() {
                return window.public_url;
            },
            credentials () {
                return this.$store.getters.credentials;
            },
        },

        methods : {
            route_url(key) {
                return window.menu_routes[key]
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .checkout-block {
        position: relative;
        border: 1px solid;
        @include border(#dddddd);
        @include background($white);
        margin-bottom: 20px;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
        padding: 20px 60px;

        .title {
            position: relative;
            @include fs(22);

            display: flex;
            flex-flow: row nowrap;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &:before {
                content: '2';
                position: absolute;
                display: block;
                top: calc(50% - 25px);
                bottom: calc(50% - 25px);
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                left: -60px;
                @include background($primary);
                padding: 10px;
                padding-left: 0;
                width: 30px;
                @include color($white);
                text-align: center;
            }

            .edit-button {
                @include fs(14);
                @include color($primary-50);
                @include trans-prop(color);

                img{
                    width: 20px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                }

                span {
                    display: inline-block;
                    vertical-align: middle;
                }

                &:hover {
                    @include color($primary);
                    @include trans-prop(color);
                }
            }
        }

        .content {
            padding: 20px 0;
            @include fs(18);
        }
    }
</style>
