<template>
    <div class="summary-block">
        <div class="order-history" v-if="orderCart.length > 0">
            <div class="order-block data-loop" v-for="(food_info, food_info_index) in orderCart" :key="food_info_index">
                <div class="restaurant-title">
                    <span>{{food_info.title}}</span>
                </div>
                <div class="restaurant-order">
                    <div class="order-property" v-for="data in food_info.order" :key="data.id">
                        <div class="image"  v-if="data.img_url">
                            <img
                                :src="data.img_url"
                                :alt="data.name"
                            />
                        </div>
                        <div class="name-price">
                            <div class="name-quantity">
                                <p class="name">{{ data.name }}</p>
                                <p class="quantity">x{{ data.quantity }}</p>
                            </div>
                            <p class="price co-primary">
                                {{ data.total_price_exc_sst | toFixed(2) | toMYR }}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="order-total" v-if="checkOutSummary">
            <div class="holder">
                <p>Subtotal</p>
                <p>{{ checkOutSummary.subtotal | toMYR }}</p>
            </div>
            <div class="holder">
                <p>Delivery Fee</p>
                <p>{{ checkOutSummary.deliveryfees | toMYR }}</p>
            </div>
            <div class="holder">
                <p>Service Tax</p>
                <p>{{ checkOutSummary.servicetaxamount | toMYR }}</p>
            </div>
            <div v-if="voucherDiscount > 0" class="holder coupon">
                <p>{{ voucherName }}</p>
                <p>- MYR {{ voucherDiscount }}</p>
            </div>
            <div class="holder total">
                <p>Total (incl. service tax)</p>
                <p v-if="voucherDiscount > 0" >MYR {{ parseFloat(checkOutSummary.total_price_inc_sst - voucherDiscount).toFixed(2) }}</p>
                <p v-if="voucherDiscount <= 0" >{{ checkOutSummary.total_price_inc_sst }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        public_url() {
            return window.public_url;
        },
        orderCart() {
            return this.$store.getters.orderCart;
        },
        checkOutSummary() {
            return this.$store.getters.checkOutSummary;
        },
        voucherName()
        {
            if (window.localStorage.getItem('voucher_name'))
            {
                return window.localStorage.getItem('voucher_name')
            } else {
                return ""
            }
        },
        voucherDiscount()
        {
            // console.log(window.localStorage.getItem('voucher'))
            if ( window.localStorage.getItem('voucher'))
            {
                return window.localStorage.getItem('voucher')
            } else {
                return 0;
            }
        }
    },

    filters: {
        toFixed: function(price, limit) {
            return price.toFixed(limit);
        },

        toMYR: function(price) {
            return `MYR ${price}`;
        },

        toNegative: function(price) {
            return `- ${price}`;
        }
    }
};
</script>

<style lang="scss" scoped>
@import "./../../../../config/config.scss";

.summary-block {
    position: relative;
}

.order-history {
    padding: 20px;
    height: 400px;
    overflow: auto;
    margin-bottom: 20px;
    &:not(:last-child) {
        border-bottom: 1px solid;
        @include border(#dddddd);
    }

    .restaurant-title {
        @include fs(18);
        padding-bottom: 10px;
        height: inherit;
    }

    .restaurant-order {
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: inherit;
    }
}

.order-property {
    width: calc(100%);
    height: inherit;
    @include background($white);
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid;
    @include border(#dddddd);
    box-shadow: 0 2px 3px rgb(0, 0, 0, 0.5);
    .image {
        width: 100px;
        padding-right: 20px;
    }

    .name-price {
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        justify-content: space-between;
        @include fs(14);
        width: calc(100% - 120px);

        .name {
            padding-bottom: 10px;
        }
    }
}

.co-primary {
    @include color($primary);
}

.order-total {
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;

    .holder {
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;

        @include color(#707070);
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 5px;

        &.coupon {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        &.total {
            @include background(#707070);
            @include color($white);
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
</style>
