<template>
    <div class="menudetails-content">
        <Menuhead :food_info="food_info" />
        <Menubody :food_info="food_info" />
    </div>
</template>

<script>
import Menuhead from "./Sections/Menuhead.vue";
import Menubody from "./Sections/Menubody.vue";
import axios from "axios";

export default {
    components: {
        Menuhead,
        Menubody
    },
    data() {
        return {
            food_info: {
                name: "Nasi Lemak Murni",
                rating: 4.1,
                chef: null,
                tags: null,
                settings: [
                    {
                        id: 1,
                        name: "Set Meals",
                        option: [
                            {
                                id: 1,
                                name: "Nasi Lemak Biasa",
                                price: "8.00",
                                image: "https://via.placeholder.com/100",
                                desc:
                                    "Rice cooked with fresh coconut milk and infused with screwpine leaves served with cucumbers. half hard-boiled egg, roasted peanuts with fried anchovies",
                                settings: [
                                    {
                                        id: 1,
                                        name: "Eggs",
                                        options: [
                                            {
                                                id: 1,
                                                name: "Hard Boiled egg",
                                                price: "1.00"
                                            },
                                            {
                                                id: 2,
                                                name: "Fried Egg",
                                                price: "1.00"
                                            }
                                        ]
                                    },
                                    {
                                        id: 2,
                                        name: "Rice",
                                        options: [
                                            {
                                                id: 1,
                                                name: "Regular Rice",
                                                price: "0.00"
                                            },
                                            {
                                                id: 2,
                                                name: "Long Rice",
                                                price: "2.00"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                id: 2,
                                name: "Nasi Lemak Fried Chicken",
                                price: "8.00",
                                image: "https://via.placeholder.com/100",
                                desc:
                                    "Rice cooked with fresh coconut milk and infused with screwpine leaves served with cucumbers. half hard-boiled egg, roasted peanuts with fried anchovies",
                                settings: [
                                    {
                                        id: 1,
                                        name: "Eggs",
                                        options: [
                                            {
                                                id: 1,
                                                name: "Hard Boiled egg",
                                                price: "1.00"
                                            },
                                            {
                                                id: 2,
                                                name: "Fried Egg",
                                                price: "1.00"
                                            }
                                        ]
                                    },
                                    {
                                        id: 2,
                                        name: "Rice",
                                        options: [
                                            {
                                                id: 1,
                                                name: "Regular Rice",
                                                price: "0.00"
                                            },
                                            {
                                                id: 2,
                                                name: "Long Rice",
                                                price: "2.00"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                id: 3,
                                name: "Nasi Lemak Sambal Kerang",
                                price: "8.00",
                                image: "https://via.placeholder.com/100",
                                desc:
                                    "Rice cooked with fresh coconut milk and infused with screwpine leaves served with cucumbers. half hard-boiled egg, roasted peanuts with fried anchovies",
                                settings: [
                                    {
                                        id: 1,
                                        name: "Eggs",
                                        options: [
                                            {
                                                id: 1,
                                                name: "Hard Boiled egg",
                                                price: "1.00"
                                            },
                                            {
                                                id: 2,
                                                name: "Fried Egg",
                                                price: "1.00"
                                            },
                                            {
                                                id: 3,
                                                name: "Omellete Roll",
                                                price: "3.00"
                                            },
                                            {
                                                id: 4,
                                                name: "Sunny side up",
                                                price: "2.00"
                                            }
                                        ]
                                    },
                                    {
                                        id: 2,
                                        name: "Rice",
                                        options: [
                                            {
                                                id: 1,
                                                name: "Regular Rice",
                                                price: "0.00"
                                            },
                                            {
                                                id: 2,
                                                name: "Long Rice",
                                                price: "2.00"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        id: 2,
                        name: "Sides",
                        option: [
                            {
                                id: 1,
                                name: "Hard Boiled Egg",
                                price: "1.00",
                                image: ""
                            },
                            { id: 2, name: "Extra Sambal", price: "2.00" },
                            { id: 3, name: "Coffee-O", price: "3.00" }
                        ]
                    }
                ]
            }
        };
    },
    created() {
        this.getMenuDetails();
    },
    methods: {
        async getMenuDetails() {
            let menuId = window.menuId;
            try {
                const response = await axios.get(
                    window.public_url + `/api/consumer/food-info?id=${menuId}`);
                if(response.data.status ==="success"){
                    this.food_info = response.data.data;
                }else{
                    //ERROR
                }
                //this.menu = response.data;
            } catch (error) {
                // catches errors
            }
        }
    }
};
</script>

<style lang="scss" scoped>
.menudetails-content {
    border: 1px solid #dddddd;
    opacity: 1;
}
</style>
