<template>
    <div class="completed-block">
        <div class="title">
            <p>Order Completed!</p>
        </div>
        <div class="image">
            <img :src="public_url + '/frontend/img/deco/completed.png'" alt="Failed Payment">
        </div>
        <div class="text">
            <p>Thank you for ordering with us! Please let our chef know your thought.</p>
        </div>
        <div class="form-wrapper">
            <FormGroup class='rating-holder'>
                <Rating ref="rating" />
            </FormGroup>
            <FormGroup>
                <AreaText placeholder = 'Write your comment here' v-model = 'form.area' />
            </FormGroup>
        </div>
        <div class="button-wrapper">
            <GroupButton full>
                <LinkButton v-on:click.native="sendReview" name = 'Send' pill size = 'medium' color='primary'  />
            </GroupButton>
        </div>
    </div>
</template>

<script>
    import GroupButton from './../../../../Components/Button/Group.vue'
    import LinkButton from './../../../../Components/Button/Link.vue'
    import FormGroup from './../../../../Components/Form/Fieldset/Group.vue'
    import AreaText from './../../../../Components/Form/Text/Area.vue'
    import Rating from './../../../../Components/Rating/Rating.vue'
    import axios from 'axios'

    export default {
        components : {
            GroupButton,
            LinkButton,
            FormGroup,
            AreaText,
            Rating
        },

        data() {
            return {
                form: {
                    area : '',
                },
                order : null
            }
        },

        computed: {
            public_url() {
                return window.public_url;
            },

        },

        mounted() {
            let token = window.localStorage.getItem("token")

            var url_string = window.location.href; //window.location.href
            var url = new URL(url_string);
            var get_order_id = url.searchParams.get("id");

            axios
                .get(window.location.protocol +'//'+window.location.hostname+'/api/consumer/order-details?order_id=' + get_order_id, {
                    headers: {
                        'Authorization': 'Bearer ' + token,
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                })
                .then((response) => {
                    this.order = response.data.data
                    console.log(response.data.data)
                })
                .catch(error => {

                });
        },
        methods: {
            sendReview()
            {


                var id = window.location.search.substr(1)
                id = id.replace("id=", "") // ref id (menu id)

                var data = new FormData();
                data.append('ref_type', 'menu');
                data.append('ref_id', this.order[0].menu_id);
                data.append('rating', this.$refs.rating.new_value);
                data.append('message', this.form.area);

                var config = {
                    method: 'post',
                    url: 'https://' + window.location.hostname + '/api/consumer/create-review',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
                        'Content-Type': 'application/json'
                    },
                    data : data
                };

                axios(config)
                    .then(function (response) {

                        window.location.href = window.location.protocol +'//'+window.location.hostname+ '/frontend/consumer'

                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .completed-block {
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;

        align-items: center;
        justify-content: center;

        height: 100%;
    }

    .title {
        @include fs(32);
        padding-bottom: 20px;
    }

    .image {
        width: 120px;
        padding-bottom: 20px;
    }

    .text {
        text-align: center;
        padding-bottom: 20px;
    }

    .rating-holder {
        text-align: center;
        padding-bottom: 20px;
    }

    .form-wrapper {
        width: 100%;
        padding-bottom: 20px;
        @include media(sm-up){
            width: 70%;
        }
    }

    .button-wrapper {
        width: 100%;
        @include media(sm-up){
            width: 70%;
        }
    }
</style>
