<template>
    <textarea class="input input-area"
        v-model="vValue"
        @blur="updateValue()"
        :class="{ 'input-error' : error }">
    </textarea>
</template>

<script>
export default {
    props : {
        value : {
            type : String,
            default : ''
        },

        error : {
            type : Boolean,
        }
    },

    watch:{
        value(newValue) {
            this.vValue = newValue
        }
    },

    data () {
        return {
            vValue : this.value
        }
    },

    methods : {
        updateValue () {
            this.$emit('input', this.vValue);
        },
    },

    mounted() {
        this.updateValue()
    }
}
</script>

<style lang='scss' scoped>
    @import './../../../config/config.scss';

    .input-area{
        width: 100%;
        height: 150px;
        padding: 10px 18px;
        border: 1px solid;
        border-radius: 2px;
        outline: none;
        resize: none;

        @include border($grey-50);

        &.input-error{
            @include border($danger);
        }

        &::placeholder {
            font-family: $dDin;
            font-weight: 300;
            @include fs(16);
            @include color(#959595);
        }
    }
</style>
