<template>
    <input class="input input-text"
        type="text"
        v-model="vValue"
        @blur="updateValue()"
        :class="{ 'input-error' : error }"
        :disabled="disabled"
    />
</template>

<script>
    export default {
        props : {
            value : {
                type : String,
                default : ''
            },

            error : {
                type : Boolean,
            },
            disabled : {
                type : Boolean,
                default : false
            }
        },

        watch:{
            value(newValue) {
                this.vValue = newValue
            }
        },

        data () {
            return {
                vValue : this.value
            }
        },

        methods : {
            updateValue () {
                this.$emit('input', this.vValue);
            },
        },

        mounted() {
            this.updateValue()
        }
    }
</script>

<style lang='scss' scoped>
    @import './../../../config/config.scss';

    .input-text{
        width: 100%;
        padding: 10px 18px;
        border: 1px solid;
        border-radius: 2px;
        outline: none;
        font-size: em(16) !important;

        @include border($grey-50);

        &.input-error{
            @include border($danger);
        }

        &::placeholder {
            font-family: $dDin;
            font-weight: 300;
            @include fs(16);
            @include color(#959595);
        }
    }
</style>
