.container {
    width: 100%;
    max-width: 1440px;
    padding-left: em(14);
    padding-right: em(14);
    margin-left: auto;
    margin-right: auto;

    @include media(xs-up){
        width: 100%;
        padding-left: em(20);
        padding-right: em(20);
    }

    @include media(sm-up){
        padding-left: em(25);
        padding-right: em(25);
    }

    &.slim {
        max-width: 780px;
    }

    &-fluid{
        width: 100%;
        padding-left: em(15);
        padding-right: em(15);
        margin-left: auto;
        margin-right: auto;
    }

    @include clearfix;
}

.layout-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 88px minmax(0, 1fr) auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
    min-height: 100%;
    @include media(md-up) {
        grid-template-rows: 115px minmax(0, 1fr) auto;
    }
    @include background($white);
    @include trans-prop(all);
    .wrapper {
        &-header {
            position: relative;
            grid-area: header;
        }
        &-footer {
            position: relative;
            grid-area: footer;
        }
        &-content {
            position: relative;
            grid-area: main;
        }
    }

}
