<template>
    <div class="form" v-if="formHeader">
        <slot></slot>
    </div>
    <div class="form-group" :class="direction" v-else="v-else">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        props : {
            formHeader : Boolean,
            direction : String,
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        align-items: flex-start;

        &-group{
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            margin: 5px 0;
            width: calc((100% / 1));

            &.column {
                flex-direction: column;
            }

            &.center {
                align-items: center;
            }
        }

        .flexing{
            flex: 1;
        }
    }
</style>
