<template>
    <div class="name" :class="inlineClass">
        <span class="text">{{ name }}</span>
        <span class="sup danger" v-if="important">*</span>
    </div>
</template>

<script>
    export default {
        props : {
            name : String,
            inline : Boolean,
            important : Boolean
        },

        computed : {
            inlineClass : function () {
                return  this.inline ? 'is-inline' : ''
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .is-inline {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 20px;
        &.name {
            width: 100px;
        }
    }

    .name {

        .text {
            @include fs(16);
            font-weight: bold;
        }

        .sup {
            @include fs(16);
        }

        .danger {
            @include color($danger);
        }
    }
</style>
