<template>
    <div class="placeholder">
        <span class="name">{{ name }}</span>
        <span class="sup co-danger" v-if="important">*</span>
    </div>
</template>

<script>
    export default {
        props : {
            name : {
                type : String,
                required : true,
            },

            important : {
                type : Boolean
            }
        },
    }
</script>

<style lang='scss' scoped>
    @import './../../../config/config.scss';

    .placeholder{
        position: absolute;
        padding: 10px 18px;
        width: calc(100%);
        white-space: nowrap;
        user-select: none;
        pointer-events: none;
        font-weight: 300;
        overflow: hidden;
        @include fs(16);
        line-height: 1.2;

        .name{
            color: #959595;
        }

        .co-danger {
            @include color($danger);
        }
    }
</style>
