<template>
    <div class="checkout-wrapper">
        <div class="voucher-wrapper">
            <p class="voucher-heading">
                Do you have voucher?
            </p>
            <input type="text" @blur="handleBlur" class="voucher-input" placeholder="Code" />
        </div>
        <div class="costing">

            <div class="costing-row" v-if="getVoucher > 0">
                <div class="item">Coupon</div>
                <div class="amount"> - MYR {{ getVoucher }}</div>
            </div>
            <div class="costing-row">
                <div class="item">Subtotal</div>
                <div class="amount">MYR {{ checkoutSummary.subtotal }}</div>
            </div>
            <div class="costing-row">
                <div class="item">Delivery Fee</div>
                <div class="amount">MYR {{ checkoutSummary.deliveryfees }}</div>
            </div>
            <div class="costing-row">
                <div class="item">Service Tax</div>
                <div class="amount">
                    MYR {{ checkoutSummary.servicetaxamount }}
                </div>
            </div>
            <div class="costing-row total">
                <div class="item">Total (incl. service tax)</div>
                <div class="amount">
                    MYR {{ total }}
                </div>
            </div>
        </div>
        <GroupButton>
            <LinkButton
                style="letter-spacing: unset"
                name="Check Out"
                pill
                size="large"
                color="primary"
                @click.native.prevent="checkIfLogin()"
            />
        </GroupButton>
    </div>
</template>

<script>
import GroupButton from "../../../../Components/Button/Group.vue";
import LinkButton from "../../../../Components/Button/Link.vue";
import axios from 'axios';


export default {
    components: {
        GroupButton,
        LinkButton
    },
    computed: {
        public_url() {
            return window.public_url;
        },

        getVoucher()
        {
            return this.$store.state.voucher;
        },

        total()
        {
            return this.$store.state.total;
        },

        checkoutSummary() {
            let subTotal = this.getSubTotal();
            let voucherDiscountAmount = 0;
            let deliveryFee = 4;
            let seviceTax = 6;
            let seviceTaxAmount = (subTotal + deliveryFee) * (seviceTax / 100);
            let totalIncSST =
                subTotal +
                deliveryFee +
                seviceTaxAmount -
                voucherDiscountAmount;

            this.$store.commit('updateTotal', totalIncSST)

            return {
                subtotal: subTotal.toFixed(2),
                deliveryfees: deliveryFee.toFixed(2),
                servicetaxamount: seviceTaxAmount.toFixed(2),
                total_price_inc_sst: totalIncSST.toFixed(2)
            };
        },




    },
    methods: {

        handleBlur(e)
        {

            let myStore = this.$store;
            // let myTotal = this.total;

            if (e.target.value)
            {

                var config = {
                    method: 'get',
                    url: 'https://' + window.location.hostname + '/api/consumer/promo-code-info?promo_code=' + e.target.value,
                    headers: {
                        'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
                    }
                };

                axios(config)
                    .then(function (response) {

                        if (response.data.status == "success")
                        {

                            myStore.dispatch('jomUpdateVoucher',response.data)

                            window.localStorage.setItem('voucher_name', e.target.value)
                            window.localStorage.setItem('voucher', response.data.data.value)

                        } else {
                            myStore.dispatch('jomUpdateVoucher',response.data)
                            // JSON.stringify(response.data)
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            } else {

                console.log('takde val')
            }



        },

        getSubTotal() {
            let orderCart = { ...this.$store.getters.orderCart };
            let subTotal = 0;
            for (let food_infokey in orderCart) {
                let food_info = orderCart[food_infokey];
                for (let orderkey in food_info.order) {
                    let order = food_info.order[orderkey];
                    let totalExcSST = parseFloat(order.total_price_exc_sst);
                    subTotal += totalExcSST;
                }
            }
            return subTotal;
        },
        route_url(key) {
            return window.menu_routes[key];
        },
        checkIfLogin() {
            if(localStorage.getItem("token") !== null){
                window.location = this.route_url('frontend.consumer.order.checkout');
            }else{
                eventBus.$emit("openLoginModal");
            }
        }
    }
};
</script>

<style lang="scss" scoped>
.voucher-heading {
    font-size: 24px;
    font-weight: bold;
}
.voucher-input {
    width: 100%;
    height: 60px;
    outline: none;
    padding: 10px 18px;
    border-radius: 2px;
    border: 1px solid;
    font-size: 18px;
    border-color: #dadada;
    opacity: 1;
}
.voucher-wrapper {
    padding: 10px;
}
.costing {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
}
.costing-row {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    color: #707070;
    transition-property: font-size;
    flex-grow: 1;
}
.item {
    width: calc(100% - 100px);
}
.amount {
    display: block;
    text-align: right;
    flex-grow: 1;
}

.total {
    color: #000;
    background-color: #ecebee;
}
</style>
