<template>
    <div class="wrapper-content">
        <Hero overlap size='medium'/>
        <CurrentEvent />
        <PastEvent />
    </div>
</template>

<script>
    import Hero from './../Components/Hero.vue'
    import CurrentEvent from './Components/Current.vue'
    import PastEvent from './Components/Past.vue'

    export default {
        components : {
            Hero,
            CurrentEvent,
            PastEvent,
        }
    }
</script>
