<template>
    <div class="validate" :class='{ "is-center" : center, "is-success" : success}'>
        <span>{{ text }}</span>
    </div>
</template>

<script>
    export default {
        props : {
            text : {
                type : String,
                required : true
            },
            center : Boolean,
            success : Boolean,
        }
    }
</script>

<style lang='scss' scoped>
    @import '../../../config/config.scss';

    .validate {
        width: 100%;
        display: block;
        padding: 5px 0;
        @include fs(12);
        @include color($danger);
        &.is-success {
            @include color($success);
        }
        &.is-center {
            width: 100%;
            text-align: center;
        }
    }
</style>
