<template>
    <div class="wrapper-filterbar">
        <div class="input-container-wrapper container">
            <div class="input-container location">
                <label class="item-text">Deliver to: </label>
                <input
                    id="myInput"
                    class="input-field"
                    :class="[locationField]"
                    type="text"
                    placeholder="Location"
                    name="location"
                    @focus="
                        // toggleLocation();
                        toggleCuisineType('hide');
                    "
                    v-model="location"
                />
                <span class="icon" :class="[locationFieldIcon]">
                    <img class="img-icon" :src="imgArrowDownLink" />
                </span>
            </div>

            <div class="input-container left-container">
                <input
                    class="input-field"
                    :class="[cuisineTypeField]"
                    type="text"
                    placeholder="Type of Cuisine"
                    name="cuisinetype"
                    @focus="
                        toggleCuisineType();
                        toggleLocation('hide');
                    "
                />
                <span class="icon-cuisine" :class="[cuisineTypeFieldIcon]">
                    <img class="img-icon-cuisine" :src="imgTypeOfCuisineLink" />
                </span>
                <span
                    class="icon-cart"
                    :class="[cartFieldIcon]"
                    @click="toggleCart()"
                >
                    <img class="img-icon-cuisine" :src="imgCartLink" />
                </span>
                <input
                    class="input-field-cart cart-input"
                    :class="[cartField]"
                    type="text"
                    name="cart"
                    :value="orderCartQuantity"
                    @click="toggleCart()"
                />
            </div>
        </div>
        <div class="optionlist" :class="showOptionList">
            <div class="optionlist-container">
                <div class="list-wrapper">
                    <div class="item-wrapper">
                        <div
                            @click="getLocationName(data.name)"
                            class="item"
                            v-for="data in locationlist"
                            v-bind:key="data.id"
                        >
                            {{ data.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="optionlistcuisine" :class="showCuisineType">
            <div class="optionlist-container">
                <div class="list-wrapper">
                    <div class="item-wrapper-cuisine">
                        <div
                            class="item"
                            v-for="data in typelist"
                            v-bind:key="data.id"
                        >
                            <Checkbox
                                :selItem.sync="selectedType"
                                :data="data"
                            />
                        </div>
                    </div>
                    <GroupButton>
                        <LinkButton
                            name="Continue"
                            image="/frontend/img/icon/arrow-white.png"
                            pill
                            size="small"
                            color="primary"
                            link="#"
                            @click.native.prevent="filterType()"
                        />
                    </GroupButton>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import GroupButton from "../Button/Group.vue";
import LinkButton from "../Button/Link.vue";
import Checkbox from "../Form/Checkbox/Checkbox.vue";
import axios from "axios";

export default {
    name: "Filterbar",
    components: {
        GroupButton,
        LinkButton,
        Checkbox
    },
    data() {

        return {

            location: "",
            searchResults: [],
            service: null,

            locationFieldIcon: "",
            showOptionList: "hide",
            locationField: "",
            showCuisineType: "hide",
            cuisineTypeField: "",
            cuisineTypeFieldIcon: "",
            cartField: "",
            cartFieldIcon: "",
            imgArrowDown: {
                red: `${public_url}/frontend/img/icon/arrow-down-red.svg`,
                white: `${public_url}/frontend/img/icon/arrow-down-white.svg`
            },
            imgArrowDownLink: "",
            imgTypeOfCuisine: {
                red: `${public_url}/frontend/img/icon/type-of-cuisines-red.svg`,
                white: `${public_url}/frontend/img/icon/type-of-cuisines-white.svg`
            },
            imgTypeOfCuisineLink: "",
            imgCart: {
                red: `${public_url}/frontend/img/icon/shopping-cart-red.svg`,
                white: `${public_url}/frontend/img/icon/shopping-cart-white.svg`
            },
            imgCartLink: "",
            cartState: "inactive",
            locationlist: [
                { id: 1, name: "Ara Damansara" },
            ],
            typelist: null,
            selectedType: []
        };
    },

    metaInfo () {
        return {
            script: [{
                src: `https://maps.googleapis.com/maps/api/js?key=AIzaSyC9ciir8FyuSNCm7JrCJk5d7xpOoNC2ghk&libraries=places`,
                async: true,
                defer: true,
                callback: () => this.MapsInit() // will declare it in methods
            }]
        }
    },

    mounted() {

        axios
            .get(window.location.protocol +'//'+window.location.hostname+'/search_place', {
                headers: {}
            })
            .then((response) => {
                this.locationlist = response.data.data
            })
            .catch(error => {

            });

    },

    computed: {
        public_url() {
            return window.public_url;
        },
        orderCart() {
            return this.$store.getters.orderCart;
        },

        orderCartQuantity() {
            let quantity = 0;
            let food_info = this.$store.getters.orderCart;
            for(let food_infokey in food_info){
                let order = food_info[food_infokey].order;
                for(let orderkey in order){
                    quantity += parseFloat(order[orderkey].quantity);
                }
            }
            return quantity;
        }
    },
    methods: {

        MapsInit () {

            let myInput = document.getElementById("myInput");

            console.log('masuk sini')

            var myLoc = {
                lat: 3.1305,
                lng: 101.5951
            }

            var options = {
                componentRestrictions: {country: 'my'}
            };

            this.service = new window.google.maps.places.Autocomplete(myInput, options)

            var circle = new google.maps.Circle(
                {center: myLoc, radius: 5000});

            this.service.setFields(["address_components", "geometry", "icon", "name"])
            this.service.setBounds(circle.getBounds());
            this.service.setOptions({strictBounds: true})

        },

        searchLocation()
        {
            axios
                .get(window.location.protocol +'//'+window.location.hostname+'/search_place?search_term=' + this.location, {
                    headers: {}
                })
                .then((response) => {


                    this.locationlist = response.data.data
                })
                .catch(error => {

                });
        },

        toggleLocation(option) {
            this.showOptionList = option != "" ? option : "show";
            this.locationField = option == "hide" ? "" : "input-field-active";
            this.locationFieldIcon = option == "hide" ? "" : "icon-active";
            this.imgArrowDownLink =
                option == "hide"
                    ? this.imgArrowDown.red
                    : this.imgArrowDown.white;
        },
        toggleCuisineType(option) {
            this.showCuisineType = option != "" ? option : "show";
            this.cuisineTypeField =
                option == "hide" ? "" : "input-field-active";
            this.cuisineTypeFieldIcon = option == "hide" ? "" : "icon-active";
            this.imgTypeOfCuisineLink =
                option == "hide"
                    ? this.imgTypeOfCuisine.red
                    : this.imgTypeOfCuisine.white;
        },
        getLocationName(name) {
            this.location = name;
            this.toggleLocation("hide");
            eventBus.$emit("locationSubmitted", name);
        },
        filterType() {
            this.toggleCuisineType("hide");
            eventBus.$emit("filterTypeSubmitted", this.selectedType);
        },
        toggleCart() {
            this.cartField =
                this.cartState == "inactive" ? "input-field-active" : "";
            this.cartFieldIcon =
                this.cartState == "inactive" ? "icon-active" : "";
            this.imgCartLink =
                this.cartState == "inactive"
                    ? this.imgCart.white
                    : this.imgCart.red;
            this.cartState =
                this.cartState == "inactive" ? "active" : "inactive";
            this.$store.commit("updateBasketState", this.cartState);
            this.$root.$emit("hideBasket");
            this.$store.dispatch("calculatePrice");
        },
        requestCuisineTypeList() {
            axios
                .get(`${public_url}/api/consumer/cuisine-list`)
                .then(response => {
                    this.typelist = response.data.map(function(row) {
                        return {
                            id: row.id,
                            name: row.name
                        };
                    });
                })
                .catch(err => {
                    //Error
                });
        },

    },
    created() {
        this.requestCuisineTypeList();
        this.imgArrowDownLink = this.imgArrowDown.red;
        this.imgTypeOfCuisineLink = this.imgTypeOfCuisine.red;
        this.imgCartLink = this.imgCart.red;
        eventBus.$on("searchSubmitted", searchStr => {
            this.location = searchStr;
            this.getLocationName(searchStr);
        });
    }
};
</script>

<style lang="scss" scoped>
@import "../../config/config.scss";

.input-container {
    position: relative;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
}

.icon {
    padding: 12px;
    background: white;
    color: #c5363c;
    min-width: 50px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.img-icon {
    width: unset;
}

.img-icon-cuisine {
    width: unset;
    height: 20px;
}

.icon-cuisine {
    padding: 10px;
    background: white;
    color: #c5363c;
    min-width: 50px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 10px;
}
.icon-cart {
    padding: 10px;
    background: white;
    color: #c5363c;
    min-width: 50px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.icon-active {
    background-color: #790005;
    color: #f8f8f8;
}

.input-field {
    color: #be2026;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border-color: transparent;
    padding-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input-field-cart {
    width: 50px;
    color: #be2026;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border-color: transparent;
    padding-left: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.input-field-active {
    background-color: #790005;
    color: #f8f8f8;
}

.input-field::-webkit-input-placeholder {
    /* Edge */
    color: #c5363c;
}

.input-field:-ms-input-placeholder {
    /* Internet Explorer */
    color: #c5363ced;
}

.input-field::placeholder {
    color: #c5363c;
    font-size: 16px;
    font-weight: bold;
}

.wrapper-filterbar {
    position: relative;
    background-color: #c5363c;
    padding: 15px 0 15px 0;
}

.item-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.155em;
    transition-property: font-size;
    color: white;
    font-weight: bold;
    padding-top: 3px;
    padding-right: 10px;
}
.input-container-wrapper {
    display: flex;
    width: 100%;
}
.location {
    max-width: 400px;
}
.deliver-time {
    max-width: 200px;
}
.deliver-time-input {
    width: 80px;
}
.left-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
.cousine-type {
    background-color: #790005;
    color: #f8f8f8;
}
.cousine-type::placeholder {
    color: #f8f8f8;
    font-size: 16px;
    font-weight: bold;
}
.optionlist {
    display: block;
    position: absolute;
    height: 200px;
    top: 70px;
    width: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 0.75);
    z-index: 1;
}
.item-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 95%;
    overflow: auto;
    padding: 0 150px 0 150px;
}

.optionlistcuisine {
    display: block;
    position: absolute;
    height: 230px;
    top: 70px;
    width: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.item-wrapper-cuisine {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 80%;
    overflow: auto;
    padding: 0 150px 0 150px;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.list-wrapper {
    height: 100%;
}
.optionlist-container {
    height: 100%;
}
.item-wrapper-cuisine {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 80%;
    overflow: auto;
    padding: 0 150px 0 150px;
}
.item {
    padding: 10px 0 10px 0;
    width: 16%;
    font-size: 18px;
    font-weight: bold;
    color: #707070;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
</style>
