<template>
    <div class="progress-block">
        <div class="title">
            <p>Thank you for your order!</p>
        </div>
        <div class="image">
            <img :src="public_url + '/frontend/img/deco/progress-image.png'" alt="Failed Payment">
        </div>
        <div class="text">
            <p>{{ status }}</p>
        </div>
        <div class="progress-timeline">
            <div v-bind:class="{ pulse : pendingPulse, active : pending }" class="timeline">
                <p class='step'>1</p>
                <p class='status'>Your order <br> has been received</p>
            </div>
            <div v-bind:class="{ pulse : processingPulse, active : processing  }" class="timeline">
                <p class='step'>2</p>
                <p class='status'>Our Chef is <br> preparing your food</p>
            </div>
            <div v-bind:class="{ pulse : pickupPulse, active : pickup }" class="timeline">
                <p class='step'>3</p>
                <p class='status'>Your order has <br>  packed-up for delivery</p>
            </div>
            <div v-bind:class="{ pulse : deliveringPulse, active : delivering }" class="timeline">
                <p class='step'>4</p>
                <p class='status'>Your order is <br> arriving soon</p>
            </div>
            <div v-bind:class="{ pulse : deliveringPulse, active : delivered }" class="timeline">
                <p class='step'>5</p>
                <p class='status'>Delivered</p>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                processingPulse: true,
                processing: true,
                pickupPulse: false,
                pendingPulse: false,
                pending: true,
                deliveringPulse: false,
                status : "Our Chef is preparing your food.",
                order_status: "",
            }
        },

        mounted() {
            let token = window.localStorage.getItem("token")

            var url_string = window.location.href; //window.location.href
            var url = new URL(url_string);
            var get_order_id = url.searchParams.get("id");

            axios
                .get(window.location.protocol +'//'+window.location.hostname+'/api/consumer/order-status?order_id=' + get_order_id, {
                    headers: {
                        'Authorization': 'Bearer ' + token,
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                })
                .then((response) => {
                    // console.log(response.data.data)

                    this.status = response.data.data.description

                    if (response.data.data.order_status == "pending")
                    {
                        this.pendingPulse = true;
                    }
                    if (response.data.data.order_status == "pickup")
                    {
                        this.pickupPulse = true;
                    }
                    if (response.data.data.order_status == "processing")
                    {
                        this.processingPulse = true;
                    }
                    if (response.data.data.order_status == "delivering")
                    {
                        this.deliveringPulse = true;
                    }

                })
                .catch(error => {

                });
        },

        computed: {
            public_url() {
                return window.public_url;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';
    .progress-block {
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;

        align-items: center;
        justify-content: center;

        height: 100%;
    }

    .title {
        @include fs(32);
        padding-bottom: 20px;
    }

    .image {
        width: 100%;
        max-width: 500px;
        padding-bottom: 25px;
    }

    .text {
        @include fs(20);
        text-align: center;
        padding-bottom: 20px;
    }

    .progress-timeline {
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }

    .timeline {
        position: relative;
        text-align: center;
        width: calc(100% / 5);
        height: 100%;
        .step {
            padding: 10px 0;
            width: 50px;
            margin: 0 auto 20px;
            @include fs(20);
            border-radius: 50%;
            @include color($white);
            @include background(#707070);
        }

        .status {
            @include color(#707070);
            @include fs(18);
        }

        &:not(:first-child) {
             &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: calc(100% - 50px);
                    height: 4px;
                    right: calc(50% + 25px);
                    top: 24px;
                    @include background(#707070);
                }
        }

        &.active {
            &:before {
                @include background($primary);
            }

            .step {
                @include background($primary);    
            }

            .status {
                @include color($black);
            }
        }

        &.pulse {
            .step {
                box-shadow: 0 0 0 rgba(190, 32, 38, 0.8);
                animation: pulse 2s infinite;
            }
        }
    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 rgba(190, 32, 38, 0.8);
        }
        70% {
            box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        }
        100% {
            box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        }
    }
</style>
