<template>
    <div class="wrapper-content">
        <div class="container">
            <Card stretch>
                <CardWrapper :card = "isData">
<!--                     @updateDeliveryDate="updateDeliveryDate"
                        @updateDeliveryTime="updateDeliveryTime"-->
                    <Delivery

                        @AddAddress = "showModal('address')"
                        @ChooseAddress = "showModal('choose')"
                    />
                    <Personal />
                    <Payment
                        @updatePaymentMethod="updatePaymentMethod"
                        @AddPayment = "showModal('payment')"
                    />
                </CardWrapper >
                <CardWrapper >
                    <Summary />
                </CardWrapper >
            </Card>
        </div>
        <Modal class='payment-modal' ref='payment' overlayTheme = 'dark' blocking>
            <AddPaymentModal />
        </Modal>
        <Modal class='address-modal' ref='address' overlayTheme = 'dark' blocking>
            <AddAddressModal
                @checkZipCode = "showZipCodeModal()"
            />
        </Modal>
        <Modal class='choose-address-modal' ref='choose' overlayTheme = 'dark' blocking>
            <ChooseAddressModal @selectedAddress="closeChooseModal()" />
        </Modal>
        <Modal class='zip-modal' ref='zip' overlayTheme = 'dark' blocking>
            <ZipAddressModal />
        </Modal>
    </div>
</template>

<script>
    import Media from './../../../config/media.js'

    import Delivery from './Components/Delivery.vue'
    import Payment from './Components/Payment.vue'
    import Personal from './Components/Personal.vue'
    import Summary from './Components/Summary.vue'
    import AddAddressModal from './Components/Modal/AddAddress.vue'
    import AddPaymentModal from './Components/Modal/AddPayment.vue'
    import ChooseAddressModal from './Components/Modal/ChooseAddress.vue'
    import ZipAddressModal from './Components/Modal/ZipAddress.vue'

    import Card from './../../../Components/Card/Card.vue'
    import CardWrapper from './../../../Components/Card/Wrapper.vue'
    import Modal from './../../../Components/Modal/Modal.vue'

    import axios from 'axios'

    export default {
        extends: Media,

        components : {
            Delivery,
            Payment,
            Personal,
            Summary,
            AddAddressModal,
            AddPaymentModal,
            ChooseAddressModal,
            ZipAddressModal,

            Card,
            CardWrapper,
            Modal,
        },

        data() {

            return {
                paymentMethod: '',
            }
        },

        computed : {
            public_url() {
                return window.public_url;
            },

            isData() {
                if (this.is641) {
                    return 'two-third'
                } else {
                    return 'full'
                }
            },
        },

        methods : {
            updatePaymentMethod (paymentMethod) {
                this.paymentMethod = paymentMethod;
            },

            showModal(ref) {
                if (this.$refs[ref]) {
                    this.$refs[ref].open()
                } else {
                    throw new Error('Ref not defined: ' + ref)
                }
            },

            showZipCodeModal () {
                this.$refs['address'].close();
                this.$refs['zip'].open();
            },
            closeChooseModal (){
                this.$refs['choose'].close();
            },
        },

        created() {

            axios.get('/set-order')
                .then(function (response) {

                    if (response.data && response.data.length > 0)
                    {
                        window.localStorage.setItem('order_list',JSON.stringify(response.data))
                    } else {

                        if (localStorage.getItem("order_list") !== null) {

                            let orders = JSON.parse(localStorage.getItem("order_list"))

                            axios
                                .post('https://' + window.location.hostname + '/set-order', {
                                    orders: orders
                                })
                                .then(function (response) {
                                    console.log('ha masuk dalam ni dah')
                                    console.log(response)
                                }
                            )

                        } else {
                            console.log('ini memang betul2 kosong')
                        }




                    }






                })
                .catch(function (error) {
                    // handle error
                    console.log('takde order')
                    console.log(error);
                })
                .then(function () {
                    // always executed
                });



            this.checkMobile()
        }
    }
</script>

<style lang='scss' scoped>
    @import './../../../config/config.scss';

    .wrapper-content {
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
        @include background(#F8F8F8);
    }
</style>
