<template>
    <div class="wrapper-header">
        <div class="container">
            <div class="header">
                <Logo />
                <Search />
                <Navigation />
                <Auth v-if='auth' @logout= 'logout()'/>
                <Login v-else @openLogin = "showModal('login')" />
            </div>
        </div>
        <ContactButton />
        <Modal class='login-modal' ref='login' overlayTheme = 'dark' blocking>
            <LoginModal @loginMobile = "LoginWithMobileModal()"/>
        </Modal>
        <Modal class='login-modal' ref='login-mobile' overlayTheme = 'dark' blocking>
            <LoginMobileModal @verifyMobile = "VerifyWithMobileModal()" />
        </Modal>
        <Modal class='login-modal' ref='verify-mobile' overlayTheme = 'dark' blocking @open="startCountdownTimer">
            <VerifyMobileModal @verification = "VerificationModal()"
                :startCountdown="startCountdown"
                :resetCountdown="resetCountdown"/>
        </Modal>
        <Modal class='login-modal' ref='expired-alert' overlayTheme = 'dark' blocking :hideCloseIcon="true">
            <ExpiredAlert />
        </Modal>
        <Modal class='login-modal' ref='notification-alert' overlayTheme = 'dark' blocking :hideCloseIcon="true">
            <NotificationAlert @closeNotificationAlert = "closeNotificationAlert()" :notification="notification"/>
        </Modal>
    </div>
</template>

<script>
    import Logo from './../Components/Logo.vue'
    import Navigation from './../Components/Navigation.vue'
    import Login from './Components/Login.vue'
    import Search from './Components/Search.vue'
    import Auth from './Components/Auth.vue'
    import ContactButton from './../Components/Contact.vue'
    import Modal from './../../../Components/Modal/Modal.vue'
    import LoginModal from './Components/Modal/Login.vue'
    import LoginMobileModal from './Components/Modal/LoginMobile.vue'
    import VerifyMobileModal from './Components/Modal/VerifyMobile.vue'
    import ExpiredAlert from './Components/Modal/ExpiredAlert.vue'
    import NotificationAlert from './Components/Modal/NotificationAlert.vue'
    import axios from 'axios';


    export default {
        components : {
            Logo,
            Navigation,
            Login,
            Search,
            Auth,
            ContactButton,
            Modal,
            LoginModal,
            LoginMobileModal,
            VerifyMobileModal,
            ExpiredAlert,
            NotificationAlert,
        },

        data() {
            return {
                startCountdown : false,
                resetCountdown : false,
                notification : {title:"Message", message:"No Default Message"},
            }
        },

        computed : {
            auth () {
                return this.$store.getters.auth;
            },

            credentials() {
                return this.$store.getters.credentials;
            }
        },
        created() {
            eventBus.$on("openNotificationAlertModal", (notification) => {
                this.notification = notification;
                this.$refs['notification-alert'].open();
            });
            eventBus.$on("openExpiredAlertModal", () => {
                this.$refs['expired-alert'].open();
            });
            eventBus.$on("openLoginModal", () => {
                this.$refs['login'].open();
            });
        },
        methods : {
            showModal(ref) {
                if (this.$refs[ref]) {
                    this.$refs[ref].open()
                } else {
                    throw new Error('Ref not defined: ' + ref)
                }
            },

            openLogin() {
                this.$refs['login'].open();
            },

            closeLogin() {
                this.$refs['login'].close();
            },

            openLoginMobile() {
                this.$refs['login-mobile'].open();
            },

            closeLoginMobile() {
                this.$refs['login-mobile'].close();
            },

            openVerifyMobile() {
                this.$refs['verify-mobile'].open();
            },

            closeVerifyMobile() {
                this.$refs['verify-mobile'].close();
            },

            closeNotificationAlert() {
                this.$refs['notification-alert'].close();
            },

            LoginWithMobileModal() {
                this.closeLogin()
                this.openLoginMobile()
            },

            VerifyWithMobileModal() {
                this.closeLoginMobile()
                this.openVerifyMobile()
            },

            VerificationModal() {
                this.closeVerifyMobile()
            },

            startCountdownTimer () {
                this.startCountdown = true;
            },

            resetCountdownTimer () {
                this.resetCountdown = true;
            },

            logout() {
                window.localStorage.clear();
                this.auth = false
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .wrapper-header {
        position: fixed;
        display: block;
        @include background($white);
        width: 100%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
        z-index: 2;
    }

    .header {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        flex-direction: row;
        align-items: center;
        z-index: 1;
    }

    .navigation-block {
        margin-left: auto;
    }
</style>
