<template>
    <div class="privacy-block">
        <div class='container' v-html="info">
            
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import {hostname, protocol} from "../../../Account/Profile/Store/actions";

    export default {

        data() {
          return {
              info: null
          }
        },

        mounted() {

            axios
                .get(protocol + '//' + hostname +'/api/consumer/static-page-info?id=2')
                .then(response => (this.info = response.data.data.html))

        }
    }
</script>

<style lang="scss" scoped>
    .privacy-block {
        padding-top: 20px;
        padding-bottom: 20px;
    }
</style>
