<template>
    <div class="wrapper-content">
        <div class="container slim">
            <div class="holder">
                <FormBlock />
                <PaymentBlock @AddPayment = "showModal('payment')"/>
                <AddressBlock @AddAddress = "showModal('address')"/>
            </div>
        </div>
        <div class="deco">
            <img :src="public_url + '/frontend/img/deco/profile-image.png'" alt="deco">
        </div>
        <Modal class='address-modal' ref='address' overlayTheme = 'dark' blocking>
            <AddressModal @addressModelEvent= "closeModal('address')"/>
        </Modal>
        <Modal class='payment-modal' ref='payment' overlayTheme = 'dark' blocking>
            <PaymentModal />
        </Modal>
    </div>
</template>

<script>
    import FormBlock from './Components/Form.vue'
    import PaymentBlock from './Components/Payment.vue'
    import AddressBlock from './Components/Address.vue'
    import Modal from './../../../Components/Modal/Modal.vue'
    import AddressModal from './Components/Modal/Address.vue'
    import PaymentModal from './Components/Modal/Payment.vue'

    export default {
        components : {
            FormBlock,
            PaymentBlock,
            AddressBlock,
            Modal,
            AddressModal,
            PaymentModal
        },

        data() {
            return {

            }
        },

        created() {
            
        },

        computed : {
            public_url() {
                return window.public_url
            },


        },

        methods : {
            showModal(ref) {
                if (this.$refs[ref]) {
                    this.$refs[ref].open()
                } else {
                    throw new Error('Ref not defined: ' + ref)
                }
            },
            closeModal(ref) {
                if (this.$refs[ref]) {
                    this.$refs[ref].close()
                } else {
                    throw new Error('Ref not defined: ' + ref)
                }
            },
        },


    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .wrapper-content {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        @include background(#ECEBEE);
    }

    .holder {
        position: relative;
        @include background($white);
        border: 1px solid;
        @include border(#dddddd);
        margin: 40px 0;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
        z-index: 1;
    }

    .deco {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 500px;
        user-select: none;
        pointer-events: none;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
</style>
