<template>
    <div class="button-component">
        <div class="container">
            <GroupButton>
                <LinkButton name = "Get more info about our kitchen" image="/frontend/img/icon/arrow-white.png" :link = "route_url('frontend.chef')" pill size='large' color='primary'/>
                <LinkButton name = "Look what's on our food delivery" image="/frontend/img/icon/arrow-white.png" :link = "route_url('frontend.consumer')" pill size='large' color='primary'/>
            </GroupButton>
        </div>
    </div>
</template>

<script>
    import GroupButton from './../../Components/Button/Group.vue'
    import LinkButton from './../../Components/Button/Link.vue'

    export default {
        components : {
            GroupButton,
            LinkButton
        },
        computed : {
            public_url() {
                return window.public_url
            },
        },

        methods : {
            route_url(key) {
                return window.menu_routes[key]
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../config/config.scss';

    .button-component {
        padding-top: 32px;
        padding-bottom: 64px;
        @include background(#ECECEE);

    }
</style>
