<template>
    <div class="how-component">
        <div class="container">
            <h1>How It Works?</h1>
            <Card stretch>
                <CardWrapper :card = "isData" v-for = "(data, key) in work" :key = "key">
                    <div class="work-holder">
                        <img :src="public_url + data.image" :alt="data.title">
                        <p>
                            {{ data.title }}
                        </p>
                    </div>
                </CardWrapper>
            </Card>
        </div>
    </div>
</template>

<script>
    import Media from './../../config/media.js'
    import Card from './../../Components/Card/Card.vue'
    import CardWrapper from './../../Components/Card/Wrapper.vue'

    export default {
        extends : Media,

        components : {
            Card,
            CardWrapper
        },

        data() {
            return {
                work : [
                    {
                        id: 1,
                        image: '/frontend/img/',
                        title: 'Single Kitchen; No storefront'
                    },
                    {
                        id: 2,
                        image: '/frontend/img/',
                        title: 'Order Online'
                    },

                    {
                        id: 3,
                        image: '/frontend/img/',
                        title: 'Multiple Brands/Restaurants in a Platform'
                    },

                    {
                        id: 4,
                        image: '/frontend/img/',
                        title: 'Delivery Service'
                    },
                ]
            }
        },

        computed : {
            isData() {
                if(this.is1025) {
                    return 'one-quarter'
                } else if (this.is801) {
                    return 'one-third'
                } else if (this.is481) {
                    return 'half'
                }else {
                    return 'full'
                }
            },

            public_url() {
                return window.public_url
            }
        },

        created() {
            this.checkMobile();
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../config/config.scss';

    .how-component {
        padding-top: 65px;
        padding-bottom: 65px;
        @include background(#ECECEE);

        h1 {
            text-align: center;
            @include fs(48);
            margin-bottom: 20px;
        }

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            object-fit: contain;
            object-position: center;
            margin: 0 auto;
        }

        p {
            text-align: center;
            @include fs(22);

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
</style>
