<template>
    <div class="story-component">
        <div class="container" v-if="info">
            <h1 v-html="info.title"></h1>
            <div v-html="info.html"></div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import {hostname, protocol} from "../../Consumer/Account/Profile/Store/actions";
    export default {
        data() {
            return {
                info: null
            }
        },

        mounted() {

            axios
                .get(protocol + '//' + hostname +'/api/consumer/static-page-info?id=3')
                .then(response => (this.info = response.data.data))

        }
    }
</script>

<style lang="scss" scoped>
    @import './../../config/config.scss';

    .story-component {
        padding-top: 65px;
        padding-bottom: 65px;

        h1 {
            text-align: center;
            @include fs(48);
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            @include fs(22);

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
</style>
