<template>
    <div class="opening-component">
        <div class="container">
            <div class="opening-holder">
                <h1>Why opening a cloud kitchen is a good idea?</h1>
                <p>
                    Here's what happens exactly in a cloud kitchen model:
                    <br />
                    Orders come in, meals are cooked, packed and then whisked immediately to
                    <br />
                    their delivery locations by the assigned fleet.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    }
</script>

<style lang="scss" scoped>
    @import './../../config/config.scss';

    .opening-component {
        padding-top: 32px;
        padding-bottom: 32px;
        @include background(#ECECEE);

        .opening-holder {
            @include background($white);
            box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
            padding: 40px;
        }

        h1 {
            text-align: center;
            @include fs(48);
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            @include fs(22);
            line-height: 1.2;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
</style>
