<template>
    <div class="button-block">
        <p>Can’t find what you’re looking for?</p>
        <GroupButton>
            <LinkButton name = 'View All Cuisine' pill size = 'medium' color='primary' image="/frontend/img/icon/arrow-white.png" :link = "route_url('frontend.consumer.menulisting')" />
        </GroupButton>
    </div>
</template>

<script>
    import GroupButton from './../../../Components/Button/Group.vue'
    import LinkButton from './../../../Components/Button/Link.vue'

    export default {
        components : {
            GroupButton,
            LinkButton
        },
        methods : {
            route_url(key) {
                return window.menu_routes[key]
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .button-block {
        padding-top: 60px;
        padding-bottom: 60px;

        p {
            @include fs(35);
            font-weight: 600;
            text-align: center;
            margin-bottom: 15px;
        }
    }
</style>
