<template>
    <div class="list-block">
        <div class="container">
            <Card stretch>
                <CardWrapper :card = "isData" v-for="(data, key) in chef" :key="key">
                    <ChefCard :data = 'data' />
                </CardWrapper>
            </Card>
        </div>
    </div>
</template>

<script>
    import Media from './../../../config/media.js'
    import Card from './../../../Components/Card/Card.vue'
    import CardWrapper from './../../../Components/Card/Wrapper.vue'
    import ChefCard from './../../Components/Card/Chef.vue'
    import axios from 'axios';

    export default {
        extends : Media,
        components : {
            Card,
            CardWrapper,
            ChefCard
        },

        data() {
            return {
                chef : null
            }
        },

        computed : {
            isData() {
                if(this.is1025) {
                    return 'one-quarter'
                } else if (this.is801) {
                    return 'one-third'
                } else if (this.is481) {
                    return 'half'
                }else {
                    return 'full'
                }
            }
        },

        created() {
            this.checkMobile();
            this.getCheftList();
        },
        methods : {
            route_url(key) {
                return window.menu_routes[key]
            },
            getCheftList() {
                axios.get( window.public_url + '/api/consumer/list-of-chefs?num=8').then
                    (response => (this.chef = response.data.data.map(
                            function(row) {
                                return { id : row.id, 
                                            name : row.name, 
                                            description : row.chef_desc,
                                            image : row.img_url,
                                            url : row.url
                                            }
                            })
                    ));
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .list-block {
        padding-top: 20px;
        padding-bottom: 20px;
    }
</style>
