<template>
    <div class="wrapper-content">
        <HeroBlock :banner = "hero_banner"/>
        <div class="container">
            <Info :data = "info"/>
        </div>
        <SetNavigation :navigation = 'set' />
        <div class="container">
            <Dishes v-for = '(data, i) in set' :key = 'i' :category = 'data.category' :dishes = 'data.dishes'/>
        </div>
    </div>
</template>

<script>
    import Media from './../../../config/media.js'
    import Card from './../../../Components/Card/Card.vue'
    import CardWrapper from './../../../Components/Card/Wrapper.vue'

    import HeroBlock from './../../Components/Banner/Hero.vue'
    import Info from './Components/Info.vue'
    import SetNavigation from './Components/SetNavigation.vue'
    import Dishes from './Components/Dishes.vue'

    export default {
        extends : Media,

        components : {
            Card,
            CardWrapper,

            HeroBlock,
            Info,
            SetNavigation,
            Dishes
        },

        data() {
            return {
                hero_banner : {
                    title : "Template Banner",
                    image : '/frontend/img/banner/banner-sample.png',
                },

                info : {
                    restaurant_name : "Nasi Lemak Kak Nor",
                    rating : "4.5",
                    tag : [
                        "Fusion", "Breakfast", "Malay", "Halal", "Local"
                    ],
                    chef_name : "Kak Nor",
                    chef_image : "/frontend/img/chef/chef4.png"
                },

                set : [
                    {
                        id: 1,
                        category : 'Set Meals',
                        dishes : [
                            {
                                id: 1,
                                name : "Nasi Lemak Biasa",
                                description : "Rice cooked with fresh coconut milk and infused with screwpine leaves served with cucumbers. half hard-boiled egg, roasted peanuts with fried anchovies",
                                price : 4,
                                image : "/frontend/img/cuisine/nasi_lemak.png",
                            },

                            {
                                id: 2,
                                name : "Nasi Lemak Biasa",
                                description : "Rice cooked with fresh coconut milk and infused with screwpine leaves served with cucumbers. half hard-boiled egg, roasted peanuts with fried anchovies",
                                price : 4,
                                image : "/frontend/img/cuisine/nasi_lemak.png",
                            },

                            {
                                id: 3,
                                name : "Nasi Lemak Biasa",
                                description : "Rice cooked with fresh coconut milk and infused with screwpine leaves served with cucumbers. half hard-boiled egg, roasted peanuts with fried anchovies",
                                price : 4,
                                image : "/frontend/img/cuisine/nasi_lemak.png",
                            },
                        ]
                    },

                    {
                        id: 2,
                        category : 'Meats',
                        dishes : [
                            {
                                id: 1,
                                name : "Fried Spiced Chicken",
                                description : "",
                                price : 6,
                                image : "",
                            }
                        ]
                    },

                    {
                        id: 3,
                        category : 'Seafood',
                        dishes : [
                            {
                                id: 1,
                                name : "Cuttlefish Sambal",
                                description : "",
                                price : 6,
                                image : "",
                            }
                        ]
                    },

                    {
                        id: 4,
                        category : 'Sides',
                        dishes : [
                            {
                                id: 1,
                                name : "Hard Boiled Egg",
                                description : "",
                                price : 1.5,
                                image : "",
                            }
                        ]
                    },
                ]
            }
        },

        computed : {
            public_url() {
                return window.public_url;
            },

            isData() {
                if (this.is641) {
                    return 'third-quarter'
                } else {
                    return 'full'
                }
            }
        },

        created() {
            this.checkMobile();
        }
    }
</script>

<style lang="scss" scoped>
    ::v-deep .card-wrapper {
        padding: 0;
    }
</style>
