<template>
    <div class="form-select">
        <i class="fas fa-chevron-down"></i>
        <select class="select"
            v-model="vValue"
            @blur="updateValue()"
            :class="{ 'input-error' : error }">
            <slot></slot>
        </select>
    </div>
</template>

<script>
    export default {
        props : {
            value : {
                type : String,
                default : ''
            },

            error : {
                type : Boolean,
            }
        },

        watch:{
            value(newValue) {
                this.vValue = newValue
                this.updateValue();
            }
        },

        data () {
            return {
                vValue : this.value
            }
        },

        methods : {
            updateValue () {
                this.$emit('input', this.vValue);
            },
        },

        mounted() {
            this.updateValue()
        }
    }
</script>

<style lang='scss' scoped>
    @import './../../../config/config.scss';

    .form-select {
        position: relative;
        i {
            position: absolute;
            right: 10px;
            top: calc(50% - 7px);
            bottom: calc(50% - 7px);
            pointer-events: none;
        }
    }

    .select{
        width: 100%;
        padding: 10px 18px;
        border: 1px solid;
        border-radius: 2px;
        appearance: none;
        outline: none;
        @include fs(16);
        @include background($white);
        @include border($grey-50);

        &.input-error{
            @include border($danger);
        }

        &::-ms-expand { /* for IE 11 */
            display: none;
        }
    }
</style>
