<template>
    <div class="wrapper-content">
        <Hero overlap size='medium'/>
        <Story />
        <HowWork />
        <WhyOpening />
        <Button />
    </div>
</template>

<script>
    import Hero from './Components/Hero.vue'
    import Story from './Components/Story.vue'
    import HowWork from './Components/HowWork.vue'
    import WhyOpening from './Components/WhyOpening.vue'
    import Button from './Components/Button.vue'

    export default {
        components : {
            Hero,
            Story,
            HowWork,
            WhyOpening,
            Button
        }
    }
</script>
