<template>
    <div class="wrapper-content">
        <HeroBlock :banner = "hero_banner"/>
        <TermBlock />
    </div>
</template>

<script>
    import HeroBlock from './../../Components/Banner/Hero.vue'
    import TermBlock from './Components/Term.vue'

    export default {
        components : {
            HeroBlock,
            TermBlock
        },

        data() {
            return {
                hero_banner : {
                    title : "Terms Banner",
                    image : '/frontend/img/banner/banner-term.png',
                }
            }
        }
    }
</script>
