<template>
    <div class="wrapper-content">
        <HeroBlock :banner = "hero_banner" />
        <div class="container slim">
            <div class="holder">
                <FormBlock />
            </div>
        </div>
    </div>
</template>

<script>
    import HeroBlock from './../../Components/Banner/Hero.vue'
    import FormBlock from './Components/Form.vue'

    export default {
        components : {
            HeroBlock,
            FormBlock
        },

        data() {
            return {
                hero_banner : {
                    title : "Contact Banner",
                    image : '/frontend/img/banner/banner-register.png',
                },
            }
        },
    }
</script>

<style lang='scss' scoped>
    @import './../../../config/config.scss';

    .holder {
        border: 1px solid;
        @include border(#dddddd);
        padding: 20px;
        margin: 40px 0;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
    }
</style>
