<template>
    <div class="order-component">
        <div class="history-block">
            <div class="status-wrapper">
                <p> {{ data.status_description }} </p>

                <a v-if="data.status != 'completed'" v-bind:href="progress_url + data.order_id" class='button primary'>
                    <span>Check Status</span>
                </a>
            </div>
            <div class="timeline-wrapper">
                <div class="data">
                    <p class='co-primary'>{{ data.created_at }}</p>
                    <p>RM {{ data.price }}</p>
                </div>
                <div class="button-group">
                    <a v-if="data.status == 'completed'" v-bind:href="review_url + data.order_id" class='button'>
                        <span>Review Now</span>
                    </a>
                    <a href="#" class='button primary'>
                        <span>Reorder</span>
                    </a>
                </div>
            </div>
            <div class="order-history" :class="{ 'open' : open }">
                <div class="order-block">
                    <div class="restaurant-title">
                        <span>{{ data.macro.name }}</span>
                    </div>
                    <div class="restaurant-order">
                        <div v-for='data in data.macro' class="order-property">
                            <div class="image">
                                <img :src="public_url + '/frontend/img/cuisine/thumbnail.png'" alt="Nasi Lemak Biasa">
                            </div>
                            <div class="name-price">
                                <p>{{ data.settings.name }}</p>
                                <p class="co-primary">RM {{data.settings.total_price }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="order-trigger" :class="{ 'active' : open }">
                <a href="#" @click.prevent = 'trigger()'>
                    <img :src="public_url + '/frontend/img/icon/arrow-up.png'" alt="trigger button">
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props : {
            data : Object,
        },

        data() {

            return {
                open : false,
            }
        },

        filters: {

            formatDate : function (date)
            {
                var d = new Date(date);
                let newDate = d.getDay() + "/" + d.getMonth() + "/" + d.getFullYear()
                return newDate;
            }

        },

        computed : {
            public_url() {
                return window.public_url;
            },

            review_url() {
                return window.public_url + "/frontend/consumer/order/review?id="
            },

            progress_url() {
                return window.public_url + "/frontend/consumer/order/progress?id="
            }
        },

        methods : {
            trigger() {
                this.open = !this.open
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .order-component {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .month {
        @include fs(20);
        padding-bottom: 10px;
    }

    .history-block {
        @include background(#ECEBEE);
        padding: 20px;

        .status-wrapper {
            display: flex;
            flex-direction: row;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;

            @include color($primary);
        }

        .timeline-wrapper {
            display: flex;
            flex-direction: row;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;

            @include color($black);

            .data {
                @include fs(18);
            }

            .button-group {
                display: flex;
                flex-direction: row;
                flex-flow: row nowrap;

                .button {
                    &:first-child {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .order-trigger {
        position: relative;
        width: 25px;
        padding: 5px;
        margin-left: auto;
        transform: rotate(180deg);
        @include trans-prop(transform);

        &.active {
            transform: rotate(0deg);
            @include trans-prop(transform);
        }
    }

    .order-history {
        height: 0;
        opacity: 0;
        visibility: hidden;
        &.open {
            height: auto;
            opacity: 1;
            visibility: visible;
            @include trans-prop(height, opacity, visibility);
        }
    }

    .order-block {
        padding: 10px 0;
        height: inherit;
        &:not(:last-child) {
            border-bottom: 1px solid;
            @include border(#DDDDDD);
        }

        .restaurant-title {
            @include fs(16);
            padding-bottom: 10px;
            height: inherit;
        }

        .restaurant-order {
            display: flex;
            flex-direction: row;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: inherit;
        }
    }



    .order-property {
        width: calc(50% - 10px);
        height: inherit;
        @include background($white);
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        .image {
            width: 100px;
            padding-right: 20px;
        }

        .name-price {
            @include fs(14);
            width: calc(100% - 120px);
        }
    }

    .button {
        @include fs(14);
        display: block;
        text-align: center;
        padding: 6px 18px;
        @include background($white);
        @include trans-prop(background-color, color);
        @include color($primary-50);
        @include border($primary-50);
        border-radius: 20px;
        border: 1px solid;

        &:hover {
            @include background($primary);
            @include color($white);
            @include trans-prop(background-color);
        }

        &.primary {
            @include background($primary-50);
            @include color($white);

            &:hover {
                @include background($primary);
                @include color($white);
            }
        }
    }

    .co-primary {
        @include color($primary);
    }
</style>
