<template>
    <div class="wrapper-content">
        <Hero />
        <Story />
        <Event />
    </div>
</template>

<script>
    import Hero from './Components/Hero.vue'
    import Story from './Components/Story.vue'
    import Event from './Components/Event.vue'

    export default {
        components : {
            Hero,
            Story,
            Event,
        },

        computed : {
            public_url() {
                return window.public_url
            }
        },
    }
</script>
