<template>
    <div class="past-componet">
        <div class="container">
            <div class="title-holder">
                <h1>Past Event</h1>
            </div>
            <Card stretch>
                <CardWrapper :card = "isData" v-for = "(data, key) in events" :key = "key">
                    <EventCard :data = 'data' />
                </CardWrapper>
            </Card>
        </div>
    </div>
</template>

<script>
    import Media from '../../../config/media.js'
    import Card from './../../../Components/Card/Card.vue'
    import CardWrapper from '../../../Components/Card/Wrapper.vue'
    import EventCard from './Card/Events.vue'

    export default {
        extends : Media,

        components: {
            Card,
            CardWrapper,
            EventCard
        },

        data() {
            return {
                events : [
                    {
                        id: 1,
                        title : "Promotion 1",
                        description : "Watch this space for culinary events at Lavo Cloud Kitchen",
                        image : "/frontend/img/landing/story-event.png",
                        date : "1 December",
                        day : "Saturday",
                        time : "1 PM"
                    },

                    {
                        id: 2,
                        title : "Promotion 2",
                        description : "Watch this space for culinary events at Lavo Cloud Kitchen",
                        image : "/frontend/img/landing/story-event.png",
                        date : "1 December",
                        day : "Saturday",
                        time : "1 PM"
                    },

                    {
                        id: 3,
                        title : "Promotion 3",
                        description : "Watch this space for culinary events at Lavo Cloud Kitchen",
                        image : "/frontend/img/landing/story-event.png",
                        date : "1 December",
                        day : "Saturday",
                        time : "1 PM"
                    },


                ]
            }
        },

        computed : {
            public_url() {
                return window.public_url
            },

            isData() {
                if(this.is1025) {
                    return 'one-third'
                } else if (this.is481) {
                    return 'half'
                }else {
                    return 'full'
                }
            },
        },

        created() {
            this.checkMobile();
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .past-componet {
        padding-top: 65px;
        padding-bottom: 65px;
        @include background(#ECECEE);
    }

    .title-holder {
        padding-bottom: 65px;
        h1 {
            text-align: center;
            @include fs(48);
        }
    }
</style>
