<template>
    <div class="failed-block">
        <div class="title">
            <p>Sorry, Payment Failed!</p>
        </div>
        <div class="image">
            <img :src="public_url + '/frontend/img/deco/failed-payment.png'" alt="Failed Payment">
        </div>
        <div class="text">
            <p>Oops, something went wrong. Please double-check your shipping address, try a different payment method, or refer to the FAQ for more information.</p>
        </div>
        <div class="button-wrapper">
            <GroupButton full>
                <LinkButton name = 'Try Again' link = '#' pill size = 'medium' color='primary'  />
            </GroupButton>
        </div>
    </div>
</template>

<script>
    import GroupButton from './../../../../Components/Button/Group.vue'
    import LinkButton from './../../../../Components/Button/Link.vue'

    export default {
        components : {
            GroupButton,
            LinkButton
        },

        computed: {
            public_url() {
                return window.public_url;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .failed-block {
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;

        align-items: center;
        justify-content: center;

        height: 100%;
    }

    .title {
        @include fs(32);
        padding-bottom: 20px;
    }

    .image {
        width: 200px;
        padding-bottom: 20px;
    }

    .text {
        text-align: center;
        padding-bottom: 20px;
        width: 100%;
        @include media(sm-up){
            width: 70%;
        }
    }

    .button-wrapper {
        width: 100%;
        @include media(sm-up){
            width: 70%;
        }
    }
</style>
