<template>
<ul class="list-alpha">
    <slot></slot>
</ul>
</template>

<style lang='scss' scoped>
    @import './../../config/config.scss';

    ul.list-alpha {
        list-style: none;
        list-style-type: lower-alpha;
        list-style-position: inside;

        counter-reset: item;
        li {
            margin-left: 15px;
            counter-increment: item;

            &:before {
                margin-right: 10px;
                font-weight: normal;
                content: '';
                display: inline-block;
            }

        }
    }
</style>
