<template>
    <ul class="list-dash">
        <slot></slot>
    </ul>
</template>

<style lang='scss' scoped>
    @import './../../config/config.scss';

    ul.list-dash {
        list-style: none;
        list-style-position: inside;

        counter-reset: item;
        li {
            margin-left: 15px;
            counter-increment: item;

            &:before {
                margin-right: 10px;
                font-weight: normal;
                content: '-';
                display: inline-block;
            }

        }
    }
</style>
