<template>
    <ul class="list-none">
        <slot></slot>
    </ul>
</template>

<style lang='scss' scoped>
    @import './../../config/config.scss';

    ul.list-none {
        list-style: none;
        list-style-position: inside;

        li {
            margin-left: 15px;
        }
    }
</style>
