<template>
    <ol class="list-number">
        <slot></slot>
    </ol>
</template>

<style lang='scss' scoped>
    @import './../../config/config.scss';

    ol.list-number {
        list-style: none;
        list-style-position: inside;

        counter-reset: item;
        li {
            margin-left: 15px;
            counter-increment: item;

            &:not(:last-child){
                margin-bottom: 10px;
            }

            &:before {
                margin-right: 10px;
                font-weight: 500;
                content: counters(item, ".") " ";
                display: inline-block;
            }
        }
    }
</style>
