<template>
    <ol class="list-step">
        <slot></slot>
    </ol>
</template>

<style lang='scss' scoped>
    @import './../../config/config.scss';

    ol.list-step {
        list-style: none;
        list-style-position: inside;

        counter-reset: item;
        li {
            margin-left: 15px;
            counter-increment: item;

            &:before {
                margin-right: 10px;
                font-weight: normal;
                content: "Step " counters(item, "") " :" ;
                display: inline-block;
            }

        }
    }
</style>
