<template>
    <div class="addon-item-wrapper">
        <div class="card-thumbnail" v-if="data.image != ''">
            <img :src="data.image" alt="thumbnail">
        </div>
        <div class="card-body">
            <p class="addon-item">{{data.name}}</p>
            <p class="addon-price">RM {{data.price}}</p>
        </div>
    </div>
</template>

<script>
export default {
    props : {
        data: Object
    }

}
</script>

<style scoped>
.addon-item-wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    background-color: #fff;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 3   px #000029;
    border: 1px solid #DDDDDD;
    opacity: 1;
    width: 100%;
    padding: 10px;
}
.card-body {
    width: 100%;
    padding-top: 5px;
}
.addon-item {
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px 5px 5px;
}
.addon-price {
    font-size: 18px;
    color: #be2026;
    font-weight: bold;
    padding: 0 5px 0 5px;
}
.card-thumbnail {
    width: 100px;
    padding-right: 5px;
}
.card-thumbnail img {
    width: 70px;
}
.card-body {
    flex-grow: 1;
}
</style>