<template>
    <div class="card-component cuisine">
        <div class="image">
            <img :src="data.image" :alt="data.name">
        </div>
        <div class="text">
            <div class="header">
                <p class='name'>{{ data.name }}</p>
            </div>
            <div class="body">
                <p>{{ data.description | truncate(100, '...') }}</p>
            </div>
        </div>
        <div class="footer">
            <a :href="data.url">
                <span>View More</span>
                <img :src="public_url + '/frontend/img/icon/arrow-red.png'" alt="">
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            data: Object,
        },

        computed : {
            public_url() {
                return window.public_url;
            }
        },

        filters: {
            truncate: function (text, length, suffix) {
                if (text.length > length) {
                    return text.substring(0, length) + suffix;
                } else {
                    return text;
                }
            },
        },

        methods : {
            route_url : function (key) {
                return window.menu_routes[key];
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .card-component {
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        justify-content: flex-start;

        border: 1px solid;
        border-radius: 10px;
        height: 100%;
        box-shadow: 0 2px 3px rgba(190, 32, 38, .8);
        @include border(#dadada);
    }

    .image {
        width: 100%;
        height: 210px;
        overflow: hidden;
        border-radius: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .header {
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;

        padding: 10px 20px;
        padding-bottom: 5px;
        @include fs(20);
        font-weight: 600;

        .name {
            width: calc(100%);
        }
    }

    .body {
        padding: 5px 20px;
        @include color(#666666);
    }

    .footer {
        padding: 5px 20px 20px;
        @include fs(18);
        font-weight: 400;
        margin-top: auto;

        img{
            display: inline-block;
            vertical-align: middle;
            width: 35px;
            transform: translateX(0);
            @include trans-prop(transform)
        }

        a{
            font-weight: 600;
            &:hover {
                img{
                    transform: translateX(5px);
                    @include trans-prop(transform)
                }
            }
        }
    }

    .co-primary {
        @include color($primary)
    }
</style>
