<template>
    <div class="card-component cuisine">
        <a :href="public_url + '/frontend/consumer/menu/' + data.id">
        <div class="card-body">
            <div class="image">
                <img :src="data.image" :alt="data.name">
            </div>
            <div class="text">
                <div class="header">
                    <p class='name'>{{ data.name | truncate(20, '...') }}</p>
                    <div class="rating">
                        <img :src="public_url + '/frontend/img/icon/rating.png'" alt="rating hat">
                        <p> <span class='co-primary'>{{ data.rating }}</span> / {{ rating }}</p>
                    </div>
                </div>
                <div class="body">
                    <p>{{ data.description | truncate(100, '...') }}</p>
                </div>
            </div>
            <div class="footer">
                <p>RM {{ data.price }}</p>
            </div>
        </div>
        </a>
    </div>
</template>

<script>
    export default {
        props: {
            data: Object,
            rating: {
                type: String,
                default: "5"
            }
        },

        computed : {
            public_url() {
                return window.public_url;
            }
        },

        filters: {
            truncate: function (text, length, suffix) {
                if (text.length > length) {
                    return text.substring(0, length) + suffix;
                } else {
                    return text;
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .card-component {
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        justify-content: flex-start;

        border: 1px solid;
        border-radius: 10px;
        height: 100%;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
        @include border(#dadada);
    }

    .image {
        width: 100%;
        height: 210px;
        overflow: hidden;
        border-radius: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .header {
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;

        padding: 10px 20px;
        padding-bottom: 5px;
        @include fs(20);
        font-weight: 600;

        .name {
            width: calc(100% - 80px);
            padding-right: 10px;
        }

        .rating {
            text-align: right;
            img {
                display: inline-block;
                vertical-align: middle;
                width: 20px;
            }
            p {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    .body {
        padding: 5px 20px;
    }

    .footer {
        padding: 5px 20px 10px;
        @include fs(20);
        font-weight: 600;
        margin-top: auto;
    }

    .co-primary {
        @include color($primary)
    }
</style>
