<template>
    <div class="card-component main">
        <a :href="data.url" class="image" v-if="data.url !== ''" >
            <img :src="data.imageDesktop" :alt="data.name" v-if='is641'>
            <img :src="data.imageMobile" :alt="data.name" v-else>
        </a>
        <div class="image" v-else>
            <img :src="data.imageDesktop" :alt="data.name" v-if='is641'>
            <img :src="data.imageMobile" :alt="data.name" v-else>
        </div>
    </div>
</template>

<script>
    import Media from './../../../config/media.js'

    export default {
        extends: Media,
        props: {
            data: Object,
        },

        computed : {
            public_url() {
                return window.public_url;
            }
        },

        created() {
            this.checkMobile()
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .card-component {
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: 100%;
    }

    .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
            object-position: center;
        }
    }

</style>
