<template>
    <div class="menuoption-wrapper">
        <div class="card-thumbnail" v-if="data.img_url">
            <img :src="data.img_url" alt="thumbnail" />
        </div>
        <div class="card-body">
            <div class="title-area">
                <div class="title-wrapper">
                    <p class="option-name">{{ data.name }}</p>
                </div>
                <div class="price-wrapper">
                    <p class="price">RM {{ data.total_price_exc_sst.toFixed(2) }}</p>
                </div>
            </div>

            <Plusminusinputfield @input="onAmountUpdate" :value="data.quantity" size='small' textweight='' />
        </div>
    </div>
</template>

<script>
import Plusminusinputfield from "../../../Components/Form/Plusminusinput/Field";

export default {
    props: {
        data: Object,
        foodinfoindex: Number,
        orderIndex: Number,

    },
    data() {
        return {
            quantity: 0,
        }
    },
    components: {
        Plusminusinputfield
    },
    methods: {
        onAmountUpdate(value) {
            this.quantity = value;
            //UPDATE TOTAL PRICE
            this.$store.dispatch('calculatePrice', {foodinfoindex: this.foodinfoindex, orderIndex: this.orderIndex, quantity: value} );
        }
    }
};
</script>

<style lang="scss" scoped>
.menuoption-wrapper {
    display: flex;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #dddddd;
    opacity: 1;
    padding: 5px;
    margin: 5px;
    height: 120px;
}
.card-thumbnail {
    flex-basis: 100px;
    overflow: hidden;
    height: 100px;
    min-width: 100px;
    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
}
.card-body {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.option-name {
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px 0 5px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
.title-area {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 5px;
    font-size: 1.25em;
    transition-property: font-size;
    font-weight: 600;
    flex-grow: 1;
}
.title-wrapper {
    width: calc(100% - 100px);
    padding-top: 5px;
}
.price-wrapper {
    display: block;
    text-align: right;
    flex-grow: 1;
    padding-top: 5px;
}
</style>
