<template>
    <div class="card-component promotion">
        <div class="image">
            <a :href="data.url">
                <img :src="data.img_url" :alt="data.name">
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            data: Object,
        },

        computed : {
            public_url() {
                return window.public_url;
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .card-component {
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        justify-content: flex-start;

        border: 1px solid;
        height: 100%;
        @include border($primary);
    }

    .image {
        width: 100%;
        height: 210px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
</style>
