<template>
    <div @click="scrollTop" v-show="visible" class="bottom-right">
        <i class='fas fa-chevron-up fa-2x'></i>
    </div>
</template>

<script>
    export default {
        data () {
            return {
              visible: false
            }
        },

        methods: {
            scrollTop: function () {
                this.intervalId = setInterval(() => {

                if (window.pageYOffset === 0) {
                    clearInterval(this.intervalId)
                }

                window.scroll(0, window.pageYOffset - 50)
                }, 20)
            },

            scrollListener: function (e) {
                this.visible = window.scrollY > 150
            }
        },

        mounted: function () {
            window.addEventListener('scroll', this.scrollListener)
        },

        beforeDestroy: function () {
            window.removeEventListener('scroll', this.scrollListener)
        }
    }
</script>

<style lang="scss" scoped>
    .bottom-right {
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        background-color: black;
        color : white;
        padding: 10px;
    }
</style>
