<template>
    <div class="copyright-block">
        <p>Copyright &copy; {{ copyright }} LAVO CLOUD KITCHEN All rights reserved.</p>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                startYear : 2020,
            }
        },

        computed : {
            currentYear() {
                return new Date().getFullYear()
            },

            copyright : function() {
                return this.currentYear > this.startYear ? this.startYear + ' - ' + this.currentYear : this.currentYear
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .copyright-block{
        user-select: none;
        padding-top: 10px;
        padding-bottom: 10px;
        @include color($white);
        @include fs(12);
        text-align: center;
    }
</style>
