<template>
    <div class="social-block">
        <p>Follow Us</p>
        <div class="social">
            <a :href="data.link" v-for = "data in social">
                <img :src="public_url + data.image" :alt="data.alt">
            </a>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                social: [
                    {
                        id: 1,
                        link: "",
                        image: "/frontend/img/social/facebook.png",
                        alt: "Facebook",
                    },
                    {
                        id: 2,
                        link: "",
                        image: "/frontend/img/social/youtube.png",
                        alt: "Youtube",
                    },
                    {
                        id: 3,
                        link: "",
                        image: "/frontend/img/social/instagram.png",
                        alt: "Instagram",
                    },
                    {
                        id: 4,
                        link: "",
                        image: "/frontend/img/social/twitter.png",
                        alt: "Twitter",
                    },
                    {
                        id: 5,
                        link: "",
                        image: "/frontend/img/social/linkedin.png",
                        alt: "Linkedin",
                    },
                ]
            }
        },

        computed : {
            public_url() {
                return window.public_url;
            }
        },

        methods : {
            route_url : function (key) {
                return window.menu_routes[key];
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../config/config.scss';

    .social-block {
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        align-items: center;

        @include media(sm-up) {
            flex-direction: row;
            flex-flow: row nowrap;
            margin-left: auto;
        }

    }

    p {
        @include color($white);
        @include fs(14);
        margin-right: 5px;
    }

    .social {
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        padding-top: 10px;
        padding-bottom: 10px;
        a {
            margin-left: 5px;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }

            img {
                width: 25px;
            }
        }
    }
</style>
