<template>
    <div class="wrapper-content">
        <div class="container slim">
            <div class="holder">
                <div class="title">
                    <p>My GKash</p>
                </div>
                <div class="content-block">
                    <div class="credit">
                        <div class="image-credit">
                            <img :src="public_url + '/frontend/img/icon/g-cash.png'" alt="icon image">
                        </div>
                        <div class="balance">
                            <p>Available Balance</p>
                            <p>{{ credit_balance | toFixed(2) | toMYR }}</p>
                        </div>
                    </div>
                    <div class="button">
                        <p>History</p>
                    </div>
                </div>
                <div class="history-block">
                    <div class="history" v-for='data in history'>
                        <div class="data">
                            <p>Booking #{{ data.order_id }}</p>
                            <p>{{ data.created_at | formatDate }}</p>
                        </div>
                        <div class="transaction">
                            <p> {{ data.type | toPlusOrMinus() }}</p>
                            <p>MYR {{ parseFloat(data.amount).toFixed(2)  }}</p>
                        </div>
                    </div>
                </div>
                <div class="background">
                    <img :src="public_url + '/frontend/img/deco/gcash-image.png'" alt="deco image">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
    export default {

        data() {
            return {
                credit_balance : 0,
                history: []
            }
        },

        filters: {
            toFixed : function(price, limit) {
                return price.toFixed(limit);
            },

            toMYR : function(price) {
                return `MYR ${price}`;
            },

            toPlusOrMinus : function (type) {

                if (type === "debit"){
                    return "+"
                }

                if (type === "credit") {
                    return "-"
                }

            },

            formatDate : function (date)
            {
                var d = new Date(date);
                let newDate = d.getDay() + "/" + d.getMonth() + "/" + d.getFullYear()
                return newDate;
            }
        },

        mounted() {
            let token = window.localStorage.getItem("token")

            axios
                .get(window.location.protocol +'//'+window.location.hostname+'/api/consumer/transactions', {
                    headers: {
                        'Authorization': 'Bearer ' + token,
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                })
                .then((response) => {
                    console.log(response.data.data)

                    this.history = response.data.data
                    this.credit_balance = parseFloat(response.data.balance) ;

                })
                .catch(error => {

                });
        },

        computed : {
            public_url() {
                return window.public_url;
            },

        }
    }
</script>

<style lang='scss' scoped>
    @import './../../../config/config.scss';

    .wrapper-content {
        padding-top: 20px;
        padding-bottom: 20px;
        @include background(#ECEBEE);
    }

    .holder {
        position: relative;
        border: 1px solid;
        @include border(#dddddd);
        @include background($white);
        margin: 40px 0;
        padding: 40px 0 140px;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
        z-index: 1;

        .title {
            padding-bottom: 20px;
            @include fs(30);
            font-weight: 600;
            text-align: center;
        }

        .content-block {
            display: flex;
            flex-direction: row;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding-left: 25px;
            padding-right: 25px;
        }

        .history-block {
            border-top: 1px solid;
            @include border(#dadada);

            .history {
                display: flex;
                flex-direction: row;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: flex-end;

                border-bottom: 1px solid;
                @include border(#dadada);

                padding: 25px 35px;
            }

            .data {
                p {
                    &:first-child {
                        @include fs(16);
                        @include color(#707070);
                    }
                    &:last-child {
                        @include fs(20);
                    }
                }
            }

            .transaction {
                @include fs(20);
            }
        }
    }

    .credit {
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        align-items: center;
        .image-credit {
            width: 140px;
            padding: 20px;
            user-select: none;
            pointer-events: none;
        }

        .balance {
            p:first-child {
                @include color(#707070);
            }
            p:last-child {
                @include fs(32);
                @include color($primary);
                font-weight: 600;
            }
        }
    }

    .button {
        margin: 10px;
        padding: 8px 40px;
        border-radius: 20px;
        font-weight: 600;
        @include background($primary);
        @include color($white);
        @include fs(16);
    }

    .background {
        position: absolute;
        width: 200px;
        bottom: 0;
        right: 0;
        user-select: none;
        pointer-events: none;
    }
</style>
