<template lang="pug">
    <div class="card" :class="[cardClass]">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        props : {
            stretch : Boolean,
            justifyStart : Boolean,
            justifyEnd : Boolean,
        },
        data() {
            return {
                isStretch : this.stretch,
                isJustifyStart : this.justifyStart,
                isJustifyEnd : this.justifyEnd,
            }
        },
        computed : {
            cardClass  : function () {
                return {
                    'is-stretch' : this.isStretch,
                    'is-justify-start' : this.isJustifyStart,
                    'is-justify-end' : this.isJustifyEnd
                }
            },
        }
    }
</script>

<style lang="scss" scoped >
    @import './../../config/config.scss';

    .card {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-left: em(-12);
        margin-right: em(-12);
        &.is-stretch {
            align-items: stretch;
        }

        &.is-justify-start {
            justify-content: flex-start;
        }

        &.is-justify-end {
            justify-content: flex-end;
        }
    }
</style>
