<template>
    <div class="card-wrapper" :class="cardClass">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        props : {
            card : String
        },
        computed : {
            cardClass : function () {
                return this.card ? 'is-' + this.card : ''
            }
        }
    }
</script>

<style lang="scss" scoped >
    @import './../../config/config.scss';

    .card-wrapper{
        display: block;
        flex-basis: 0;
        flex-shrink: 1;
        flex-grow: 1;
        padding: em(12);
    }
    .is {
        &-full {
            flex: none;
            width: calc((100% * (1)));
        }
        &-third-quarter {
            flex: none;
            width: calc((100% * (3/4)));
        }
        &-two-third {
            flex: none;
            width: calc((100% * (2/3)));
        }
        &-half {
            flex: none;
            width: calc((100% * (1/2)));
        }
        &-one-third {
            flex: none;
            width: calc((100% * (1/3)));
        }
        &-one-quarter {
            flex: none;
            width: calc((100% * (1/4)));
        }
    }
</style>
