<template>
    <input class="input input-password"
        :type="changeType()"
        v-model="vValue"
        @blur="updateValue()"
        :class="{ 'input-error' : error }"
    />
</template>

<script>
    export default {
        props : {
            value : {
                type : String,
                default : ''
            },

            error : {
                type : Boolean,
            },

            visible : Boolean
        },

        watch:{
            value(newValue) {
                this.vValue = newValue
            }
        },

        data () {
            return {
                vValue : this.value
            }
        },

        methods : {
            updateValue () {
                this.$emit('input', this.vValue);
            },

            changeType () {
                let input = document.getElementsByClassName('input')

                return this.visible === true ? input.type = 'text' : input.type = 'password'
            }
        },

        mounted() {
            this.updateValue()
        }
    }
</script>

<style lang='scss' scoped>
    @import './../../../config/config.scss';

    .input-password{
        width: 100%;
        padding: 6px 38px 6px 12px;
        border: 1px solid;
        border-radius: 5px;
        outline: none;

        @include border($grey-50);

        &.input-error{
            @include border($danger);
        }
    }
</style>
