<template>
    <div class="password-visible">
        <i class="icon pu" :class="[ visible ? 'pu0-open' : 'pu0-hide']"></i>
    </div>
</template>

<script>
    export default {
        props : {
            visible : Boolean
        },
    }
</script>

<style lang='scss' scoped>
    @import './../../../config/config.scss';

    .password-visible {
        position: absolute;
        top: 4px;
        right: 0;
        padding: 0px 15px;
        .icon {
            @include fs(26);
        }
    }
</style>
