<template>
    <div class="wrapper-content">
        <div class="container slim">
            <div class="holder">
                <div class="title">
                    <p>My Order</p>
                </div>
                <div class="content-block">
                    <Order v-for = 'data in order' :key = 'data.id' :data = 'data' />
                </div>
            </div>
        </div>
        <div class="deco">
            <img :src="public_url + '/frontend/img/deco/order-image.png'" alt="deco image">
        </div>
    </div>
</template>

<script>
    import Order from './Components/Order.vue'
    import axios from 'axios'

    export default {
        components : {
            Order
        },



        data() {

            console.log(window.localStorage.getItem('token'))

            return {
                order : null
            }

        },

        computed : {
            public_url() {
                return window.public_url;
            }
        },

        created() {
            this.getOrderList()
        },

        methods: {
            getOrderList()
            {
                axios.get('https://' + window.location.hostname +  '/api/consumer/order-list', {
                    headers: {
                        'Authorization': 'Bearer ' + window.localStorage.getItem("token"),
                        'Content-Type':'application/json'
                    }
                } )
                    .then(response => (this.order = response.data.data));
            }
        }
    }
</script>

<style lang='scss' scoped>
    @import './../../../config/config.scss';

    .wrapper-content {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        @include background(#ECEBEE);
    }

    .holder {
        position: relative;
        border: 1px solid;
        @include border(#dddddd);
        @include background($white);
        margin: 40px 0;
        padding: 40px;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
        z-index: 1;

        .title {
            padding-bottom: 20px;
            @include fs(30);
            font-weight: 600;
            text-align: center;
        }

        .content-block {

        }
    }

    .deco {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 400px;
        user-select: none;
        pointer-events: none;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
</style>
