<template>
    <div class="banner-component" :class = "bannerClass">
        <div class="banner-image" :class = 'sizeClass'>
            <img :src="public_url + '/frontend/img/banner/banner.png'" alt="Landing Banner Desktop" class="desktop" v-if="is641">
            <img :src="public_url + '/frontend/img/banner/banner.png'" alt="Landing Banner Mobile" class="mobile" v-else>
        </div>
    </div>
</template>

<script>
    import Media from './../../config/media.js'

    export default {
        extends: Media,

        props: {
            overlap: Boolean,
            size: String,
        },

        data() {
            return {
                isOverlap : this.overlap,
            }
        },

        computed : {
            bannerClass : function() {
                return {
                    'overlap' : this.isOverlap,
                }
            },

            public_url() {
                return window.public_url
            },

            sizeClass : function () {
                return this.size ? this.size : ''
            },
        },

        created() {
            this.checkMobile()
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../config/config.scss';

    .banner-component {
        position: relative;
        width: 100%;

        &.overlap {
            margin-top: -88px;

            @include media(md-up) {
                margin-top: -115px;
            }
        }
    }

    .banner-image {
        overflow: hidden;
        width: 100%;
        img{
            height: 100vh;
            pointer-events: none;
            object-fit: cover;
            object-position: center;
        }

        &.small{
            img{
                height: 40vh;
            }
        }

        &.medium{
            img{
                height: 60vh;
            }
        }

        &.large{
            img{
                height: 80vh;
            }
        }
    }
</style>
