<template>
    <div class="list-block">
        <div class="container">
            <Card stretch>
                <CardWrapper :card = "isData" v-for="(data, key) in cuisine" :key="key">
                    <CuisineCard :data = 'data' />
                </CardWrapper>
            </Card>
        </div>
    </div>
</template>

<script>
    import Media from './../../../../config/media.js'
    import Card from './../../../../Components/Card/Card.vue'
    import CardWrapper from './../../../../Components/Card/Wrapper.vue'
    import CuisineCard from './../../../Components/Card/Cuisine.vue'

    export default {
        extends : Media,
        components : {
            Card,
            CardWrapper,
            CuisineCard
        },

        data() {
            return {
                cuisine : [
                    {
                        id: 1,
                        name: "Nasi Kukus Campur",
                        description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit.",
                        rating: "4.3",
                        price: "10.90",
                        image: "/frontend/img/cuisine/nasi_kukus.png",
                    },
                    {
                        id: 2,
                        name: "Mayzi Noodle House",
                        description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit.",
                        rating: "4.3",
                        price: "10.90",
                        image: "/frontend/img/cuisine/kolo_mee.png",
                    },
                    {
                        id: 3,
                        name: "Pork Noodle",
                        description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit.",
                        rating: "4.3",
                        price: "10.90",
                        image: "/frontend/img/cuisine/noodle2.png",
                    },
                    {
                        id: 4,
                        name: "Korean Fried Chicken",
                        description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit.",
                        rating: "4.3",
                        price: "10.90",
                        image: "/frontend/img/cuisine/fried_chicken.png",
                    },

                    {
                        id: 5,
                        name: "Nasi Kukus Campur",
                        description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit.",
                        rating: "4.3",
                        price: "10.90",
                        image: "/frontend/img/cuisine/nasi_kukus.png",
                    },
                    {
                        id: 6,
                        name: "Mayzi Noodle House",
                        description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit.",
                        rating: "4.3",
                        price: "10.90",
                        image: "/frontend/img/cuisine/kolo_mee.png",
                    },
                    {
                        id: 7,
                        name: "Pork Noodle",
                        description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit.",
                        rating: "4.3",
                        price: "10.90",
                        image: "/frontend/img/cuisine/noodle2.png",
                    },
                    {
                        id: 8,
                        name: "Korean Fried Chicken",
                        description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit.",
                        rating: "4.3",
                        price: "10.90",
                        image: "/frontend/img/cuisine/fried_chicken.png",
                    },


                ]
            }
        },

        computed : {
            isData() {
                if(this.is1025) {
                    return 'one-quarter'
                } else if (this.is801) {
                    return 'one-third'
                } else if (this.is481) {
                    return 'half'
                }else {
                    return 'full'
                }
            }
        },

        created() {
            this.checkMobile()
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .list-block {
        padding-top: 20px;
        padding-bottom: 20px;
    }
</style>
