<template>
    <div class="auth-menu">
        <a href="#" class='trigger' @click.prevent = "toggleMenu()">
            <span>Hi {{ credentials.name | truncate(5, '...') }}</span>
        </a>
        <div class="menu-block" :class="{ 'active' : isMenu }">
            <ul>
                <li v-for = "data in menu" :key = 'data.id'>
                    <a :href="route_url(data.url)" :class= "{ 'active' : is_current_route(data.url) }">
                        {{ data.title }}
                    </a>
                </li>
                <li>
                    <a href="#" @click.prevent = 'logout()'>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import {hostname, protocol} from "../../../../Consumer/Account/Profile/Store/actions";
import axios from 'axios';

export default {
        data() {
            return {

                menu : [
                    {
                        id: 1,
                        title : "My Profile",
                        url : "frontend.consumer.profile",
                    },
                    {
                        id: 2,
                        title : "My Order",
                        url : "frontend.consumer.myorder",
                    },
                    {
                        id: 3,
                        title : "My GKash",
                        url : "frontend.consumer.gcash",
                    },
                    {
                        id: 4,
                        title : "Contact Us",
                        url : "frontend.consumer.contact.kitchen",
                    },
                    {
                        id: 5,
                        title : "Terms & Conditions",
                        url : "frontend.consumer.term",
                    },
                    {
                        id: 6,
                        title : "Privacy Policy",
                        url : "frontend.consumer.privacy",
                    },
                ]
            }
        },

        computed : {
            isMenu () {
                return this.$store.getters.isMenu;
            },

            credentials() {
                return this.$store.getters.credentials;
            }


        },

        filters: {
            truncate: function (text, length, suffix) {
                if (text.length > length) {
                    return text.substring(0, length) + suffix;
                } else {
                    return text;
                }
            },
        },

        methods : {
            route_url (key) {
                return window.menu_routes[key]
            },

            is_current_route(key) {
                return window.menu_routes[key] === window.current_route;
            },

            toggleMenu () {
                this.$store.dispatch('updateState', {
                    key : 'isMenu',
                    value : !this.isMenu
                });

                //this.isMenu === true ? document.body.classList.add('no-scroll') : document.body.classList.remove('no-scroll')
            },

            removeMenu () {
                this.$store.dispatch('updateState', {
                    key : 'isMenu',
                    value : false
                });
            },

            logout () {

                let token = window.localStorage.getItem("token")

                axios
                    .get(window.location.protocol +'//'+window.location.hostname+'/siteLogout', {
                        headers: {
                            'Authorization': 'Bearer ' + token,
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest',
                        }
                    })
                    .then((response) => {


                        axios
                            .get(protocol + '//' + hostname +'/api/auth/logout', {
                                headers: {
                                    'Authorization': 'Bearer ' + token,
                                    'Content-Type': 'application/json',
                                    'X-Requested-With': 'XMLHttpRequest',
                                }
                            })

                            .then((response) => {

                                window.localStorage.clear()
                                this.$store.commit('updateAuth', false)
                                window.location = this.route_url('frontend.consumer');

                            })


                    })




            }
        },

        created(){
            window.addEventListener('resize', this.removeMenu)
        },

        beforeDestroy(){
            window.removeEventListener('resize', this.removeMenu)
        },
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .auth-menu {
        position: relative;
        margin-left: 30px;

        .trigger {
            @include background($primary-50);
            @include color($white);
            display: block;

            box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
            border-radius: 25px;
            padding: 10px 28px;

            &:hover{
                @include background($primary);
                @include trans-prop(background-color);
            }

            span {
                display: inline-block;
                vertical-align: middle;
                @include fs(20);
                line-height: 1;
                font-weight: 600;
            }
        }

        .menu-block {
            position: absolute;
            @include background($white);
            @include fs(18);
            width: 240px;
            font-weight: bold;
            opacity: 0;
            visibility: hidden;
            height: 0;
            user-select: none;
            top: 40px;
            right: 0;

            &.active {
                opacity: 1;
                visibility: visible;
                height: auto;
                top: 78px;
                @include trans-prop(opacity,visibility, height, top);
            }


            ul {
                list-style: none;
                border-bottom: 1px solid;
                @include border(#dadada);
            }

            li {
                border-left: 1px solid;
                border-right: 1px solid;
                @include border(#dadada);
                &:not(:last-child){
                    border-bottom: 1px solid;
                    @include border(#dadada);
                }
            }

            a{
                padding: 15px 25px;
                display: block;
                &:hover, &.active {
                    @include color($primary);
                    @include trans-prop(color);
                }
            }
        }
    }
</style>
