<template>
    <div class="login-button">
        <a href="#" @click.prevent = "openLogin()">
            <img :src="public_url + login.image" alt="login.alt">
            <span>{{ login.name }}</span>
        </a>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                login : {
                    name: "Login",
                    image: "/frontend/img/icon/login-white.png",
                    alt: "Login Button",
                }
            }
        },

        computed : {
            public_url() {
                return window.public_url;
            }
        },

        methods : {
            openLogin() {
                this.$emit('openLogin')
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .login-button {
        margin-left: 30px;

        a {
            @include background($primary-50);
            @include color($white);
            display: block;

            box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
            border-radius: 25px;
            padding: 8px 24px;

            &:hover{
                @include background($primary);
                @include trans-prop(background-color);
            }

            img {
                display: inline-block;
                vertical-align: middle;
                width: 32px;
                margin-right: 10px;
            }

            span {
                display: inline-block;
                vertical-align: middle;
                @include fs(22);
                line-height: 1;
                font-weight: 600;
            }
        }
    }
</style>
