<template>
    <div class="search-form">
        <form v-if="page.includes('/frontend/consumer/search')" @submit.prevent="onSubmit(searchStr)">
            <input v-model="searchStr" type="text" placeholder="Search" />
        </form>
        <form v-if="!page.includes('/frontend/consumer/search')" @submit.prevent="onSubmitIndex(searchStr)">
            <input
                name="searchStr"
                v-model="searchStr"
                type="text"
                placeholder="Search"
            />
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            searchStr: "",
            page: ""
        };
    },
    computed : {
        public_url() {
            return window.public_url
        }
    },
    created() {
        this.page = window.location.pathname;
        this.searchStr = window.searchStr;
    },
    methods: {
        onSubmitIndex(searchStr) {
            searchStr = searchStr !== undefined ? searchStr : '';
            window.location.href = `${public_url}/frontend/consumer/search/${searchStr}`;
        },
        onSubmit(searchStr) {
            eventBus.$emit("searchSubmitted", searchStr);
        }
    }
};
</script>

<style lang="scss" scoped>
@import "./../../../../config/config.scss";

.search-form {
    margin-right: auto;
    width: calc(100% - 763px - 12%);
    padding-right: 20px;

    input[type="text"] {
        width: 100%;
        outline: none;
        padding: 10px 18px;
        border-radius: 2px;
        border: 1px solid;
        font-size: em(16) !important;
        @include border(#dadada);
    }
}
</style>
