<template>
    <div class="basket-wrapper">
        <div class="basket" v-if="orderCart.length > 0">
            <div
                class="foodinfo-list"
                v-for="(foodinfo, foodinfoindex) in orderCart"
                :key="foodinfoindex"
            >
                <p class="basket-menu-name">
                    #{{foodinfoindex + 1}} Your order {{ foodinfo.title }}
                </p>
                <div
                    class="menuoption"
                    v-for="(data, orderIndex) in foodinfo.order"
                    :key="data.id"
                >
                    <Menuoption :data="data" :foodinfoindex="foodinfoindex" :orderIndex="orderIndex"  />
                </div>
<!--              F-->
            </div>
            <Checkout />
        </div>
        <div class="basket" v-else>
            <p class="header-text">No Items in your cart</p>
            <p class="body-text">
                You haven’t added anything in your cart yet! Start adding the
                products you like.
            </p>
            <div class="subtotal">
                <span class="text">Subtotal</span>
                <span class="amount">MYR 0.00</span>
            </div>
            <GroupButton>
                <LinkButton
                    style="letter-spacing: unset"
                    name="Check Out"
                    pill
                    size="large"
                    color="primary"
                    :link="route_url('frontend.consumer.order.checkout')"
                />
            </GroupButton>
        </div>
    </div>
</template>

<script>
import Menuoption from "../Card/Menuoption.vue";
import Addonoption from "../Card/Addonopton.vue";
import Checkout from "./Components/Checkout.vue";
import GroupButton from "../../../Components/Button/Group.vue";
import LinkButton from "../../../Components/Button/Link.vue";

export default {
    components: {
        Menuoption,
        Addonoption,
        Checkout,
        GroupButton,
        LinkButton
    },
    data() {
        return {
            agile: {
                autoplay: false,
                dots: false,
                responsive: [
                    {
                        breakpoint: 1025,
                        settings: {
                            slidesToShow: 1.5,
                            navButtons: true
                        }
                    }
                ]
            },

            addon: [
                {
                    id: 1,
                    name: "Coffee-O",
                    price: "2.50",
                    image: "https://via.placeholder.com/70"
                },
                { id: 2, name: "Hard Boiled Egg", price: "1.50", image: "" },
                { id: 3, name: "Fried Egg", price: "2.50", image: "" }
            ],
            menuoption: [
                {
                    id: 1,
                    name: "Nasi Lemak Biasa",
                    price: "4.50",
                    image: "https://via.placeholder.com/100"
                },
                {
                    id: 2,
                    name: "Nasi Lemak Sambal Kerang plus Fried Chicken",
                    price: "6.50",
                    image: "https://via.placeholder.com/100"
                },
                {
                    id: 3,
                    name: "Fried Egg",
                    price: "1.50",
                    image: ""
                }
            ]
        };
    },
    computed: {
        public_url() {
            return window.public_url;
        },
        orderCart() {
            return this.$store.getters.orderCart;
        },
        basketState() {
            return this.$store.getters.basketState;
        }
    },
    methods: {
        route_url(key) {
            return window.menu_routes[key];
        }
    },
};
</script>

<style lang="scss" scoped>
.addon-wrapper {
    margin-top: 20px;
}
.basket-menu-name {
    font-size: 24px;
    text-align: center;
    padding: 10px 0 20px 0;
    font-weight: bold;
}
.addon-wrapper {
    width: 100%;
    background-color: #ecebee;
    padding: 5px;
}
.addon-title {
    font-size: 24px;
    padding: 10px 0 10px 0;
    font-weight: bold;
}

.agile-wrapper {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    justify-content: stretch;
    height: 100%;
}

.basket {
    .header-text {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        padding-top: 50px;
    }
    .body-text {
        font-size: 18px;
        text-align: center;
        padding: 20px 0px;
    }
    .subtotal {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
        font-size: 18px;
        background-color: #ecebee;
        margin-bottom: 50px;
    }
}
</style>

<style lang="scss">
@import "./../../../config/config.scss";

.fluid {
    .agile {
        &__list {
            max-width: 1440px;
            margin: 0 auto;
        }
    }
    padding-bottom: 10px;
}

.agile {
    &__nav-button {
        @include background($primary-50);
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        top: calc(50% - 20px);
        bottom: calc(50% - 20px);
        transition-duration: 0.3s;
        width: 30px;
        height: 40px;
        &:hover {
            @include background($primary);
            opacity: 1;
            @include trans-prop(background-color);
        }

        &--prev {
            display: none;
            left: 0px;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        &--next {
            right: 0px;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        img {
            width: 18px;
            margin: 0 auto;
        }
    }
    &__dots {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__dot {
        margin: 0 10px;
        button {
            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 50%;
            cursor: pointer;
            display: block;
            height: 10px;
            font-size: 0;
            line-height: 0;
            margin: 0;
            padding: 0;
            transition-duration: 0.3s;
            width: 10px;
        }
        &:hover,
        &--current {
            button {
                background-color: #fff;
            }
        }
    }
}
</style>
