<template>
    <div class="form-block">
        <Group formHeader>
            <Group direction = 'center'>
                <LabelText>
                    <div class= 'inline-input'>
                        <Name name = 'Name' inline important/>
                        <InputText
                            v-model = 'form.name'
                            :error = 'validate.name'
                            placeholder = 'Name'
                        />
                    </div>
                    <Validate
                        v-if = 'validate.name'
                        :text = 'validate.text_name'
                        :error = 'validate.name'
                    />
                </LabelText>
            </Group>
            <Group direction = 'center'>
                <LabelText>
                    <div class= 'inline-input'>
                        <Name name = 'Email' inline important/>
                        <InputText
                            v-model = 'form.email'
                            :error = 'validate.email'
                            placeholder = 'Email'
                        />
                    </div>
                    <Validate
                        v-if = 'validate.email'
                        :text = 'validate.text_email'
                        :error = 'validate.email'
                    />
                </LabelText>
            </Group>
            <Group direction = 'center' class='form-mobile inline'>
                <label>
                    <div class="inline-input">
                        <Name name = 'Mobile' inline important/>
                        <Label>
                            <SelectDropdown v-model = 'form.mobile_code'>
                                <option value="" disabled>Code</option>
                                <option value="60" selected>+60</option>
                            </SelectDropdown>
                        </Label>
                        <LabelText>
                            <InputText
                                v-model = 'form.mobile'
                                :error = 'validate.mobile'
                                placeholder = 'Mobile'
                            />
                        </LabelText>
                    </div>
                    <Validate
                        v-if = 'validate.mobile'
                        :text = 'validate.text_mobile'
                        :error = 'validate.mobile'
                    />
                </label>

            </Group>
            <Group class='datepicker-group' direction = 'center'>
                <div class="datepicker">
                    <div class="inline-input">
                        <Name name = 'Birthday' inline important/>
                        <v-date-picker is-dark
                            color="red"
                            class='input-datepicker'
                            v-model = 'form.birthday'
                            :masks="{L: 'DD/MM/YYYY'}"
                            :input-props="{ placeholder : 'Birthday' }"
                            :popover="{ visibility: 'click' }"
                        />
                    </div>
                    <Validate
                        v-if = 'validate.birthday'
                        :text = 'validate.text_birthday'
                        :error = 'validate.birthday'
                    />
                </div>
            </Group>
            <Group direction = 'center'>
                <label>
                    <div class="inline-input">
                        <Name name = 'Gender' inline important/>
                        <LabelRadio>
                            <input class='input input-radiobox' type="radio"  name = 'gender' value = 'male' v-model = 'form.gender'>
                            <RadioIcon />
                            <Name name = 'Male' />
                        </LabelRadio>
                        <LabelRadio>
                            <input class='input input-radiobox' type="radio"  name = 'gender' value = 'female' v-model = 'form.gender'>
                            <RadioIcon />
                            <Name name = 'Female' />
                        </LabelRadio>
                    </div>
                    <Validate
                        v-if = 'validate.gender'
                        :text = 'validate.text_gender'
                        :error = 'validate.gender'
                    />
                </label>
            </Group>
        </Group>
        <br>
        <GroupBtn>
            <ButtonBtn name='Register' pill color = 'primary' size = 'medium' @click.native = 'onSubmit()'/>
        </GroupBtn>
        <br>
        <Group>
            <Validate
                v-if = 'validate.general'
                :text = 'validate.text_general'
                :error = 'validate.general'
                success
            />
        </Group>
    </div>
</template>

<script>
    import Group from './../../../../Components/Form/Fieldset/Group.vue'
    import Label from './../../../../Components/Form/Fieldset/Label.vue'
    import Name from './../../../../Components/Form/Fieldset/Name.vue'
    import Placeholder from './../../../../Components/Form/Fieldset/Placeholder.vue'

    import LabelText from './../../../../Components/Form/Text/Label.vue'
    import InputText from './../../../../Components/Form/Text/Input.vue'
    import AreaText from './../../../../Components/Form/Text/Area.vue'
    import SelectDropdown from './../../../../Components/Form/Select/Select.vue'
    import LabelRadio from './../../../../Components/Form/Radiobox/Label.vue'
    import RadioIcon from './../../../../Components/Form/Radiobox/Icon.vue'

    import Validate from './../../../../Components/Form/Validate/Validate.vue'

    import GroupBtn from './../../../../Components/Button/Group.vue'
    import ButtonBtn from './../../../../Components/Button/Button.vue'

    export default {
        components : {
            Group,
            Label,
            Name,
            Placeholder,

            LabelText,
            InputText,
            AreaText,
            Validate,
            SelectDropdown,
            LabelRadio,
            RadioIcon,

            GroupBtn,
            ButtonBtn
        },

        data() {
            return {
                format: 'dd-MM-yyyy',
                validate: {
                   name : false,
                   text_name : '',
                   email : false,
                   text_email : '',
                   mobile : false,
                   text_mobile : '',
                   gender : false,
                   text_gender : '',
                   birthday : false,
                   text_birthday : '',

                   general: false,
                   text_general: '',
               }
            }
        },

        computed : {
            form () {
                return this.$store.getters.form;
            },
        },

        methods : {
            validation() {
                if(this.form.name === '') {
                    this.validate.name = true;
                    this.validate.text_name = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.name = false;
                    this.validate.text_name = '';
                }

                if(this.form.email === '') {
                    this.validate.email = true;
                    this.validate.text_email = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.email = false;
                    this.validate.text_email = '';
                }

                if(this.form.email !== '') {
                    let regex = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
                    if(!regex.test(this.form.email)){
                        this.validate.email = true;
                        this.validate.text_email = 'Please provide a valid email address'
                        return false
                    }
                } else {
                    this.validate.email = false;
                    this.validate.text_email = '';
                }

                if(this.form.mobile === '') {
                    this.validate.mobile = true;
                    this.validate.text_mobile = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.mobile = false;
                    this.validate.text_mobile = '';
                }

                if(this.form.mobile !== '') {
                    let regex = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/gmi;
                    if(!regex.test(this.form.mobile)){
                        this.validate.mobile = true;
                        this.validate.text_mobile = 'Please provide a valid mobile number. Ex: 60123456789 / 0123456789'
                        return false
                    }
                } else {
                    this.validate.mobile = false;
                    this.validate.text_mobile = '';
                }

                if(this.form.birthday === '') {
                    this.validate.birthday = true;
                    this.validate.text_birthday = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.birth = false;
                    this.validate.text_birthday = '';
                }

                if(this.form.gender === '') {
                    this.validate.gender = true;
                    this.validate.text_gender = 'Field cannnot be blank';
                    return false
                } else {
                    this.validate.gender = false;
                    this.validate.text_gender = '';
                }

                return true
            },

            clearform() {

                let form = {
                    name : '',
                    email : '',
                    mobile : '',
                    birthday : '',
                    gender : '',
                }

                this.$store.dispatch('updateStateObject', {
                    key : 'form',
                    value : form
                });
            },

            onSubmit() {
                if(!this.validation()) {
                    return
                }
            }
        },

    }
</script>

<style lang="scss" scoped>
    @import './../../../../config/config.scss';

    .form-block {
        padding-top: 20px;

        ::v-deep .validate {
            width: calc(100% - 105px);
            margin-left: auto;
        }
    }

    .datepicker-group {
        .datepicker {
            width: 100%;
        }
    }

    ::v-deep .input-datepicker {
        width: 100%;
    }

    ::v-deep .input-datepicker input{
        @include fs(16);
        width: 100%;
        padding: 10px 18px;
        border: 1px solid;
        border-radius: 2px;
        outline: none;
        border-color: #dadada;

        &::placeholder {
            font-family: $dDin;
            font-weight: 300;
            @include fs(16);
            @include color(#959595);
        }
    }


    .inline-input {
        display: flex;
        flex-flow: row nowrap;
        flex-direction: row;
        align-items: center;
        ::v-deep .placeholder {
            width: calc(100% - 105px);
            right: 0;
        }
    }

    .form-mobile {
        &.inline {
            label {
                width: 100%;
            }

            ::v-deep .label-default {
                width: 100%;
                max-width: 100px;
            }

            ::v-deep .label-text {
                width: calc(100% - 130px);
            }

            .inline-input {
                ::v-deep .placeholder {
                    width: calc(100%);
                }
            }
        }
    }
</style>
