<template>
    <div class="wrapper-content">
        <div class="container">
            <Card stretch>
                <CardWrapper :card = "isData">
                    <Progress />
                </CardWrapper >
                <CardWrapper >
                    <Myorder />
                </CardWrapper >
            </Card>
        </div>
    </div>
</template>

<script>
    import Media from './../../../config/media.js'
    import Myorder from './../Components/Order.vue'
    import Progress from './Components/Progress.vue'

    import Card from './../../../Components/Card/Card.vue'
    import CardWrapper from './../../../Components/Card/Wrapper.vue'

    export default {
        extends: Media,

        components : {
            Myorder,
            Progress,

            Card,
            CardWrapper
        },

        data() {
            return {

            }
        },

        computed : {
            public_url() {
                return window.public_url;
            },

            isData() {
                if (this.is641) {
                    return 'two-third'
                } else {
                    return 'full'
                }
            }
        },

        created() {
            this.checkMobile()
        }
    }
</script>

<style lang='scss' scoped>
    @import './../../../config/config.scss';

    .wrapper-content {
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
    }
</style>
